/* ::::: https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700 ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatxhcuogz7vygh680lgh-uxm_001.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw_001.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsnhcuogz7vygh680lgh-uxm_001.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzhhcuogz7vygh680lgh-uxm_001.woff') format("woff");
}
/* ::::: https://www.gstatic.com/support/content/20131002-170627-3078/css/v2/hc-all.css ::::: */

.goog-inline-block { position: relative; display: inline-block; }
:first-child + html .goog-inline-block { display: inline; }
.jfk-button { border-radius: 2px 2px 2px 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center; white-space: nowrap; margin-right: 16px; height: 27px; line-height: 27px; min-width: 54px; outline: 0px none; padding: 0px 8px; }
.jfk-button .jfk-button-img { margin-top: -3px; vertical-align: middle; }
.jfk-button-action { box-shadow: none; background-color: rgb(77, 144, 254); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(71, 135, 237)); border: 1px solid rgb(48, 121, 237); color: rgb(255, 255, 255); }
.jfk-button-action:focus { box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset; border: 1px solid transparent; outline: 0px none transparent; }
.jfk-button-action:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; background: none repeat scroll 0% 0% rgb(53, 122, 232); border: 1px solid rgb(47, 91, 183); }
.jfk-button-standard { box-shadow: none; background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); color: rgb(68, 68, 68); border: 1px solid rgba(0, 0, 0, 0.1); }
.jfk-button-standard:active, .jfk-button-standard.jfk-button-hover:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; background: none repeat scroll 0% 0% rgb(248, 248, 248); color: rgb(51, 51, 51); }
.jfk-button-standard:focus { border: 1px solid rgb(77, 144, 254); outline: medium none; }
.goog-slider { position: relative; outline: 0px none; }
.goog-slider-thumb { background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); border-radius: 2px 2px 2px 2px; transition: background-color 0.218s ease 0s, border-color 0.218s ease 0s, background-image 0.218s ease 0s; border: 1px solid rgb(220, 220, 220); height: 16px; position: absolute; width: 16px; }
.goog-slider-thumb:hover { background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(241, 241, 241)); border-color: rgb(198, 198, 198); }
.goog-slider-scale { position: absolute; }
.jfk-textinput { border-radius: 1px 1px 1px 1px; border-right: 1px solid rgb(217, 217, 217); border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 13px; height: 25px; padding: 1px 8px; }
.jfk-textinput:focus { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; border: 1px solid rgb(77, 144, 254); outline: medium none; }
.jfk-button { margin-right: 0px; }
a, abbr, acronym, address, applet, article, aside, aside, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, ins, kbd, label, legend, li, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
html { font-size: 62.5%; }
em { font-style: italic; }
b, strong, h4, h5 { font-weight: bold; }
p { margin: 13px 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
html { overflow-y: scroll; }
body, button, input, select, textarea { font-family: sans-serif; }
a:hover, a:active { outline: 0px none; }
a:focus { outline: thin dotted; }
code, pre, kbd, samp { font-family: monospace,monospace; font-size: 1em; }
img { border: 0px none; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="search"] { -moz-box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
ol { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha; }
@media all and (max-width: 770px) {
}
@media all and (max-width: 770px) {
}
@media all and (max-width: 770px) {
}
@media all and (max-width: 770px) {
}
@media all and (max-width: 770px) {
}
@media all and (max-width: 600px) {
}
@media all and (max-width: 400px) {
}
.content-container .stepped-list--js > ol > li:nth-child(n+10):before { left: -31px; }
@media all and (max-width: 770px) {
}
html { background-color: rgb(245, 245, 245); }
body { background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); direction: ltr; font: 400 13px/22px "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif; }
a { color: rgb(36, 93, 193); text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: rgb(119, 89, 174); }
h1, h2, h3 { font-family: "open sans",sans-serif; }
h1 { font-size: 36px; font-weight: 300; line-height: 44px; margin-bottom: 30px; }
h3 { font-size: 16px; font-weight: bold; line-height: 22px; }
h4, h5, h6 { font-weight: bold; }
@media all and (max-width: 810px) {
}
@media all and (max-width: 770px) {
}
.carousel-container .related-item:not(.related-item--youtube) { background-position: left top; background-repeat: no-repeat; background-size: 72px auto; min-height: 72px; padding-left: 85px; width: 305px; }
.carousel-container .related-item:first-child:nth-last-child(2) { margin-right: 30px; }
@media all and (max-width: 770px) {
}
.article-survey { width: 80%; }
.article-survey--disabled { display: none; }
.article-survey > h4 { margin: 0px 1em 1em 0px; }
.article-survey > .ratings { list-style: none outside none; padding: 0px 8px 3px; }
.article-survey > .ratings > li { -moz-box-sizing: border-box; cursor: default; display: inline-block; min-height: 40px; padding: 0px 5%; text-align: center; -moz-user-select: none; vertical-align: top; width: 20%; }
.article-survey > .goog-slider > .goog-slider-thumb { display: none; }
.article-survey > .recorded-message { display: none; }
.article-survey > .form { margin: 13px -13px 0px; position: relative; }
.article-survey > .form--hidden { animation: 436ms ease 0s normal none 1 slideUp; height: 0px; overflow: hidden; }
@media all and (max-width: 770px) {
	.article-survey { width: 100%; }
	.article-survey > .goog-slider { display: none; }
	.article-survey > .ratings > li { background: url('unchecked.png') no-repeat scroll -3px 5px transparent; display: block; min-height: 2em; padding: 6.5px 0px 6.5px 2em; text-align: left; width: 100%; }
	.article-survey > .ratings > li + li { border-top: 1px solid rgb(238, 238, 238); }
	.article-survey > .form:first-child { padding-left: 15px; }
}
html:not([lang="en"]) .contact-form .field--date .jfk-monthview tr:first-child { display: none; }
.contact-form .field--inline-branch.field--invalid + .field--inline-branch--revealed:not(.field--invalid), .contact-form .field--inline-branch + .field:not(.field--inline-branch), .contact-form .field--inline-branch--revealed:not(.field--invalid) + .field--inline-branch--revealed.field--invalid, .contact-form .field--invalid:not(.field--inline-branch) + .field--inline-branch { margin-top: 13px; }
@media all and (max-width: 800px) {
}
@media all and (max-width: 770px) {
}
.content-container { word-wrap: break-word; }
.content-container div, .content-container h1, .content-container h2, .content-container h3, .content-container h4, .content-container h5, .content-container ol, .content-container p, .content-container ul { margin: 1em 0px; }
.content-container li { margin-left: 2em; }
.content-container ol { list-style-type: decimal; }
.content-container ol ol { list-style-type: lower-alpha; }
.content-container .alert, .content-container .warning { border-bottom: 1px solid rgb(238, 238, 238); border-top: 1px solid rgb(238, 238, 238); background-image: url('undefined'); background-position: 2% 7px; background-repeat: no-repeat; background-size: auto 32px; min-height: 30px; padding: 8px 0px 8px 54px; color: rgb(221, 75, 57); }
.content-container code { color: rgb(0, 102, 0); }
.content-container .custom-alert, .content-container .lightbulb, .content-container .pull-tip, .content-container .tip { border-bottom: 1px solid rgb(238, 238, 238); border-top: 1px solid rgb(238, 238, 238); background-image: url('undefined'); background-position: 2% 7px; background-repeat: no-repeat; background-size: auto 32px; min-height: 30px; padding: 8px 0px 8px 54px; }
.content-container .action, .content-container .next-step, .content-container .pull-nextstep, .content-container .summary, .content-container .summaryBox { border-bottom: 1px solid rgb(238, 238, 238); border-top: 1px solid rgb(238, 238, 238); background-image: url('undefined'); background-position: 2% 7px; background-repeat: no-repeat; background-size: auto 32px; min-height: 30px; padding: 8px 0px 8px 54px; }
.content-container .note, .content-container .pull-note { border-bottom: 1px solid rgb(238, 238, 238); border-top: 1px solid rgb(238, 238, 238); background-image: none; background-position: 2% 7px; background-repeat: no-repeat; background-size: auto 32px; padding: 8px 0px; min-height: 0px; }
.content-container .nice-table tr:nth-of-type(2n) td { background-color: rgb(255, 255, 255); border-right-color: rgb(238, 238, 238); }
.content-container .nice-table tr:nth-of-type(2n) .no-stripes { background-color: rgb(250, 250, 250); }
.content-container .zippy, .content-container .zippy:visited { -moz-box-sizing: border-box; display: inline-block; background: url('undefined') no-repeat scroll 1% center rgb(250, 250, 250); border-top: 1px dashed rgb(204, 204, 204); border-bottom: 1px dashed rgb(204, 204, 204); color: rgb(68, 68, 68); cursor: pointer; padding: 9px 5px 8px 40px; width: 100%; }
.content-container li .zippy, .content-container li .zippy:visited { border: medium none; background-color: transparent; }
.content-container .zippy:hover { background-color: rgb(245, 245, 245); text-decoration: none; }
.content-container .zippy div, .content-container .zippy h1, .content-container .zippy h2, .content-container .zippy h3, .content-container .zippy h4, .content-container .zippy h5, .content-container .zippy p { font: 13px "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif; margin: 0px; }
@media all and (max-width: 770px) {
}
@media all and (max-width: 770px) {
}
.footer-links-container { background-color: rgb(245, 245, 245); border-top: 1px solid rgb(238, 238, 238); color: rgb(153, 153, 153); font-size: 12px; min-height: 85px; padding: 1em 0px; }
.footer-links-container .footer-links { margin: 0px auto; max-width: 978px; }
.footer-links a { color: rgb(153, 153, 153); text-decoration: none; }
.footer-links a:hover, .footer-links a:focus { text-decoration: underline; }
.footer-links ul { display: inline-block; list-style: none outside none; width: 716px; }
.footer-links li { display: inline-block; }
.footer-links li + li:before { content: "-"; }
.footer-links .js-language-selector, .footer-links .language-selector { margin-left: 37px; }
.footer-links .language-selector, .footer-links .language-selector > select { display: inline; }
.secondary-footer-container { background-color: rgb(249, 249, 249); border-top: 1px solid rgb(245, 245, 245); font-size: 12px; padding: 1em 0px; }
.secondary-footer { margin: 0px auto; max-width: 978px; }
.secondary-footer > div { display: inline-block; vertical-align: top; }
.secondary-footer > div:first-child { width: 716px; }
.secondary-footer > .plus-one-container:last-child:not(:first-child) { -moz-box-sizing: border-box; margin: 3px 0px 0px -3px; max-width: 222px; padding-left: 40px; }
@media all and (max-width: 1043px) {
	.footer-links-container .footer-links, .secondary-footer { margin-left: 10px; }
	.footer-links ul, .secondary-footer > div:first-child { width: auto; }
	.footer-links .js-language-selector, .footer-links .language-selector, .secondary-footer > .plus-one-container:last-child:not(:first-child) { float: right; margin-right: 40px; }
}
@media all and (max-width: 770px) {
	.secondary-footer > .plus-one-container:last-child:not(:first-child) { float: none; display: block; margin: 0.5em 0px 0px; padding: 0px; }
	.footer-links ul { margin-bottom: 0px; }
	.footer-links li { display: block; }
	.footer-links li + li:before { display: none; }
}
@media all and (max-width: 1043px) {
}
@media all and (max-width: 770px) {
}
.searchbar-container { background-color: rgb(241, 241, 241); height: 72px; }
.appbar-container { background-color: rgb(57, 56, 50); height: 45px; position: relative; }
.appbar { margin: 0px auto; max-width: 978px; padding-top: 11px; position: relative; }
.appbar-nav { display: inline-block; white-space: nowrap; }
.appbar-nav .product-icon img { margin-top: -2px; }
.appbar-nav .product-name { margin-left: 1em; }
.appbar-nav > ul { list-style: none outside none; }
.appbar-nav > ul > li { display: inline-block; }
.appbar-nav > ul > li.crumb-container:before { display: inline-block; content: url('undefined'); padding: 0px 5px; position: relative; top: 5px; }
.appbar-nav > ul > li.crumb-container:before { content: url('undefined'); }
.appbar-nav .crumb, .appbar-nav .crumb:visited { color: rgb(153, 153, 153); }
.appbar-nav .crumb:hover, .appbar-nav .crumb--last, .appbar-nav .crumb--last:visited { color: rgb(255, 255, 255); }
.appbar > .appbar-buttons { display: inline-block; position: absolute; right: 0px; }
.appbar > .appbar-buttons > a, .appbar > .appbar-buttons > a:visited { color: rgb(255, 255, 255); margin-right: 28px; padding-left: 25px; position: relative; }
.appbar > .appbar-buttons > a:before { content: ""; background-repeat: no-repeat; background-position: left top; height: 100%; left: 0px; position: absolute; top: 2px; width: 100%; }
.appbar > .appbar-buttons > .community-button:before { background-image: url('undefined'); }
@media all and (max-width: 998px) {
	.appbar { margin-left: 10px; }
}
@media all and (max-width: 770px) {
	.appbar-nav .product-name { display: none; }
	.appbar-nav .crumb, .appbar-nav .crumb:visited { color: rgb(255, 255, 255); }
	.appbar-nav > ul > li + li + li:not(:last-of-type) { display: none; }
}
.page-width-container { margin: 0px auto; max-width: 978px; padding: 30px 0px 72px; }
.primary-article, .primary-nav { display: inline-block; vertical-align: top; }
.primary-article { -moz-box-sizing: border-box; min-height: 350px; width: 716px; }
.primary-article embed, .primary-article iframe, .primary-article img, .primary-article object, .primary-article video { max-width: 100%; }
.primary-nav { margin-left: 40px; margin-top: 74px; width: 222px; }
@media all and (min-width: 1280px) {
	.primary-container { box-shadow: 0px -30px 30px -4px rgb(153, 153, 153); margin: 0px auto; max-width: 1280px; }
}
@media all and (max-width: 1043px) {
	.page-width-container { margin-left: 10px; }
	.primary-nav { display: none; }
}
@media all and (max-width: 770px) {
	.primary-container { width: auto; }
	.page-width-container { margin: 0px 10px; padding-bottom: 10px; }
	.primary-article, .primary-nav { display: block; margin: 0px; width: auto; }
	.primary-article { min-height: 0px; }
	.primary-nav { border-top: 1px solid rgb(238, 238, 238); padding-top: 1em; }
}
.sibling-nav > h4 { margin-bottom: 16px; }
.sibling-nav > ul { list-style: none outside none; }
.sibling-nav > .sibling-list li { padding: 4px 0px; }
.sibling-nav .sibling-link:visited { color: rgb(36, 93, 193); }
.sibling-nav .sibling-link--current, .sibling-nav .sibling-link--current:visited { color: rgb(119, 119, 119); }
.sibling-nav .sibling-link--current:hover { cursor: default; text-decoration: none; }
.promotion-container { border-top: 1px solid rgb(238, 238, 238); margin-top: 20px; }
@media all and (max-width: 770px) {
}
.searchbar { margin: 0px auto; max-width: 978px; position: relative; }
.logo-container { display: inline-block; padding-top: 17px; width: 204px; }
.logo-container a { display: block; }
.search-container { display: inline-block; }
.primary-search .search-box { display: inline-block; margin-right: 15px; width: 322px; }
.primary-search > button { -moz-box-sizing: content-box; }
.searchbar > .user-info { display: inline-block; position: absolute; right: 28px; text-align: right; top: 23px; width: 300px; white-space: nowrap; }
.mobile-toggles { display: none; }
.mobile-toggles > .mobile-button { background-color: rgb(77, 144, 254); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(71, 135, 237)); border-color: rgb(48, 121, 237); }
.mobile-toggles > .mobile-button:hover { background-color: rgb(53, 122, 232); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(53, 122, 232)); border-color: rgb(47, 91, 183); }
.mobile-toggles > .mobile-button:active { background-color: rgb(53, 122, 232); border-color: rgb(47, 91, 183); }
@media all and (max-width: 998px) {
	.searchbar { margin-left: 10px; }
}
@media all and (max-width: 770px) {
	.searchbar-container { height: 44px; }
	.searchbar { height: 44px; margin: 0px; padding: 0px 10px; }
	.logo-container { padding: 7px 0px 0px; }
	.logo-container img { height: 32px; width: auto; }
	.primary-search { display: none; }
	.primary-search .search-box { -moz-box-sizing: border-box; box-shadow: none; border: medium none; font-size: 16px; height: 44px; margin: 0px; padding: 0px 0px 0px 41px; width: 100%; }
	.primary-search:before { background: url('undefined') no-repeat scroll center center transparent; content: ""; height: 100%; left: 10px; position: absolute; width: 21px; }
	.mobile-toggles { display: block; position: absolute; right: 10px; top: 6px; }
	.mobile-toggles > .mobile-button--search-toggle { border-radius: 2px 2px 2px 2px; padding: 5px; position: relative; z-index: 1; }
	.mobile-button--search-toggle > div { background: url('undefined') no-repeat scroll center center transparent; height: 21px; width: 21px; }
	.primary-search > .jfk-button-action { display: none; }
	.searchbar > .user-info { display: none; }
}
.dynamic-table .table .row:not(.row--even) td { background-color: rgb(255, 255, 255); }
html:not(.internal) .topic-content li:empty { display: none; }
.topic-content > div:nth-of-type(3n-2) { margin-left: 0px; }
@media all and (max-width: 770px) {
}
