/* ::::: http://s7.addthis.com/static/r07/widget02.css ::::: */

:first-child + html #at_email textarea { height: 42px ! important; }
:first-child + html #at_email #at16eatdr { top: 115px ! important; width: 272px ! important; }
/* ::::: http://s7.addthis.com/static/r07/widget02.css ::::: */

:first-child + html #at_email textarea { height: 42px ! important; }
:first-child + html #at_email #at16eatdr { top: 115px ! important; width: 272px ! important; }
/* ::::: http://s7.addthis.com/static/r07/widget02.css ::::: */

:first-child + html #at_email textarea { height: 42px ! important; }
:first-child + html #at_email #at16eatdr { top: 115px ! important; width: 272px ! important; }
/* ::::: http://www.greenpeace.org.uk/sites/files/gpuk/css/css_6bd1acaa95a144506eadd58bd78474b3.css ::::: */

form { margin: 0px; padding: 0px; }
img { border: 0px none; }
.clear-block:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clear-block { display: inline-block; }
.clear-block { display: block; }
.form-item { margin-top: 1em; margin-bottom: 1em; }
.form-item label { display: block; font-weight: bold; }
.marker, .form-required { color: rgb(255, 0, 0); }
ul.menu { list-style: none outside none; border: medium none; text-align: left; }
ul.menu li { margin: 0px 0px 0px 0.5em; }
li.expanded { list-style-type: circle; list-style-image: url('menu-expanded.png'); padding: 0.2em 0.5em 0px 0px; margin: 0px; }
li.collapsed { list-style-type: disc; list-style-image: url('menu-collapsed.png'); padding: 0.2em 0.5em 0px 0px; margin: 0px; }
li.leaf { list-style-type: square; list-style-image: url('menu-leaf.png'); padding: 0.2em 0.5em 0px 0px; margin: 0px; }
li a.active { color: rgb(0, 0, 0); }
ul.links { margin: 0px; padding: 0px; }
ul.links li { display: inline; list-style-type: none; padding: 0px 0.5em; }
.block ul { margin: 0px; padding: 0px 0px 0.25em 1em; }
ul.nice-menu, ul.nice-menu ul { z-index: 5; position: relative; }
ul.nice-menu li { position: relative; }
ul.nice-menu a { display: block; }
ul.nice-menu ul, #header-region ul.nice-menu ul { position: absolute; visibility: hidden; }
ul.nice-menu ul li { display: block; }
ul.nice-menu:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
ul.nice-menu li:hover ul, ul.nice-menu li.menuparent li:hover ul, ul.nice-menu li.menuparent li.menuparent li:hover ul, ul.nice-menu li.menuparent li.menuparent li.menuparent li:hover ul, ul.nice-menu li.over ul, ul.nice-menu li.menuparent li.over ul, ul.nice-menu li.menuparent li.menuparent li.over ul, ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul, #header-region ul.nice-menu li:hover ul, #header-region ul.nice-menu li.menuparent li:hover ul, #header-region ul.nice-menu li.menuparent li.menuparent li:hover ul, #header-region ul.nice-menu li.over ul, #header-region ul.nice-menu li.menuparent li.over ul, #header-region ul.nice-menu li.menuparent li.menuparent li.over ul { visibility: visible; }
ul.nice-menu li:hover ul ul, ul.nice-menu li:hover ul ul ul, ul.nice-menu li:hover li:hover ul ul, ul.nice-menu li:hover li:hover ul ul ul, ul.nice-menu li:hover li:hover li:hover ul ul, ul.nice-menu li:hover li:hover li:hover ul ul ul, ul.nice-menu li.over ul ul, ul.nice-menu li.over ul ul ul, ul.nice-menu li.over li.over ul ul, ul.nice-menu li.over li.over ul ul ul, ul.nice-menu li.over li.over li.over ul ul, ul.nice-menu li.over li.over li.over ul ul ul, #header-region ul.nice-menu li:hover ul ul, #header-region ul.nice-menu li:hover ul ul ul, #header-region ul.nice-menu li:hover li:hover ul ul, #header-region ul.nice-menu li:hover li:hover ul ul ul, #header-region ul.nice-menu li:hover li:hover li:hover ul ul, #header-region ul.nice-menu li:hover li:hover li:hover ul ul ul, #header-region ul.nice-menu li.over ul ul, #header-region ul.nice-menu li.over ul ul ul, #header-region ul.nice-menu li.over li.over ul ul, #header-region ul.nice-menu li.over li.over ul ul ul, #header-region ul.nice-menu li.over li.over li.over ul ul, #header-region ul.nice-menu li.over li.over li.over ul ul ul { visibility: hidden; }
ul.nice-menu li.menuparent ul, #header-region ul.nice-menu li.menuparent ul { overflow: visible ! important; }
ul.nice-menu, ul.nice-menu ul { list-style: none outside none; padding: 0px; margin: 0px; border-top: 1px solid rgb(204, 204, 204); }
ul.nice-menu li { border-right: 1px solid rgb(204, 204, 204); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; float: left; background-color: rgb(238, 238, 238); }
ul.nice-menu a { padding: 0.3em 5px; }
ul.nice-menu ul { top: 1.8em; left: -1px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-right: 0px; }
ul.nice-menu ul li { width: 12.5em; }
ul.nice-menu-down { float: left; border: 0px none; }
ul.nice-menu-down li { border-top: 1px solid rgb(204, 204, 204); }
ul.nice-menu-down li li { border-top: 0px none; }
ul.nice-menu-down ul { left: 0px; }
ul.nice-menu-down ul li { clear: both; }
ul.nice-menu-down li ul li ul { left: 12.5em; top: -1px; }
ul.nice-menu-down .menuparent a { padding-right: 15px; }
ul.nice-menu-down li.menuparent { background: url('arrow-down.png') no-repeat scroll right center rgb(238, 238, 238); }
ul.nice-menu-down li.menuparent:hover { background: url('arrow-down.png') no-repeat scroll right center rgb(204, 204, 204); }
ul.nice-menu-down li li.menuparent { background: url('arrow-right.png') no-repeat scroll right center rgb(238, 238, 238); }
ul.nice-menu-down li li.menuparent:hover { background: url('arrow-right.png') no-repeat scroll right center rgb(204, 204, 204); }
ul.nice-menu li { margin: 0px; padding-left: 0px; background-image: none; }
.panel-2col {  }
.panel-2col .panel-col-first { float: left; width: 50%; }
.panel-2col .panel-col-first .inside { margin: 0px 0.5em 1em 0px; }
.panel-2col .panel-col-last { float: left; width: 50%; }
.panel-2col .panel-col-last .inside { margin: 0px 0px 1em 0.5em; }
#splash #block-carousel-carousel ul { margin: 0px; padding: 0px; text-indent: 0px; }
#block-carousel-carousel .view-content { position: relative; }
.view-display-id-block .view-content ul { padding: 0px; }
html { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select {  }
body { font: 13px/1.231 arial,helvetica,clean,sans-serif; }
select, input, button, textarea, button { font: 99% arial,helvetica,clean,sans-serif; }
body { font-family: Arial,Verdana,sans-serif; font-size: 13px; line-height: 1.615em; }
h2 { font-size: 1.385em; font-weight: bold; line-height: 1em; }
h3 { font-size: 1.231em; font-weight: bold; line-height: 1em; }
h4, h5, h6 { font-size: 1em; font-weight: bold; }
p, ol, ul, dl, dd { margin-bottom: 1.154em; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
ul { margin-left: 18px; }
ul li { margin: 0px; padding: 0px; }
#right .block, #main .regionpane-right .block { margin: 0px; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; visibility: hidden; }
.theme-wide { width: 100%; clear: both; overflow: hidden; text-align: center; }
#pre-nav.theme-wide, #pre-nav .theme-container { overflow: visible; }
.theme-container { width: 950px; clear: both; overflow: hidden; margin-left: auto; margin-right: auto; text-align: left; }
.theme-column { float: left; }
.no-sidebars #main { width: 950px; }
.one-sidebar #main, .no-sidebars #main .panel-2col .panel-col-first, .no-sidebars #main .panel-2col-stacked .panel-col-first { width: 620px; }
#right, .no-sidebars #main .panel-2col .panel-col-last, .no-sidebars #main .panel-2col-stacked .panel-col-last { width: 290px; margin-left: 40px; }
#right, .panel-col-last { box-shadow: -3px 0px 3px rgb(221, 221, 221); }
#main .panel-2col .inside, #main .panel-2col-stacked .inside { margin: 0px; }
#pre-nav { height: 42px; padding-top: 20px; }
#content { margin-top: 3.0769em; margin-bottom: 3.077em; }
#sitemap { padding: 2.3077em 0px; }
#footer { padding: 2.3077em 0px; }
.view-content .field_body, .webform-component-markup { font-size: 1.1em; }
.panel-2col div.panel-pane { clear: left; }
ul.links li { padding-right: 20px; background-repeat: no-repeat; background-position: left center; }
div.view, div.panel-pane { position: relative; }
html { background-color: rgb(255, 255, 255); }
body { color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); }
h2, h3, h4, h5, h6 { color: rgb(41, 45, 56); }
p, ol, ul, dl, dd {  }
a:link, a:visited, a:active { color: rgb(41, 45, 56); text-decoration: none; }
a:hover { text-decoration: underline; }
#header { position: relative; z-index: 10; }
#header, #header h3 { color: rgb(255, 255, 255); }
.precedes-splash { background-color: rgb(87, 94, 105); }
#pre-nav { background-color: rgb(113, 209, 0); }
#splash { position: relative; z-index: 5; top: -0.385em; padding: 2.692em 0px 0px; color: rgb(255, 255, 255); }
#navigation { height: 27px; overflow: visible; background-color: rgb(97, 187, 0); padding: 0px; border-top: 1px solid rgb(89, 177, 0); }
#navigation .theme-container { position: relative; overflow: visible; }
#navigation #block-nice-menus-1, #navigation #block-ux-nav-primary-links { width: 785px; overflow: visible; top: -0.077em; }
#navigation ul { width: auto; overflow: visible; padding: 0px; margin: 0px; height: 27px; }
#navigation ul li { float: left; margin: -0.077em 4px 0px 0px; padding: 0px; list-style: none outside none; }
#navigation .top-nav-primary-links ul li { margin-right: 1em; }
.top-nav-primary-links ul.nice-menu li.last { height: 29px; background-color: rgb(255, 146, 0); }
.top-nav-primary-links ul.nice-menu { line-height: 1.3em; }
.top-nav-primary-links ul.nice-menu, .top-nav-primary-links ul.nice-menu ul, .top-nav-primary-links ul.nice-menu li { border: 0px none; background-color: transparent; }
.top-nav-primary-links ul.nice-menu a { color: rgb(255, 255, 255); font-weight: bold; padding: 0.5em 10px; }
.top-nav-primary-links ul.nice-menu li ul li a { font-weight: normal; }
.top-nav-primary-links ul.nice-menu-down li.menuparent, .top-nav-primary-links ul.nice-menu-down li.menuparent:hover, .top-nav-primary-links ul.nice-menu-down li li.menuparent, .top-nav-primary-links ul.nice-menu-down li li.menuparent:hover { background-image: none; }
.top-nav-primary-links ul.nice-menu-down li a:hover, .top-nav-primary-links ul.nice-menu-down li.menuparent:hover a, .top-nav-primary-links ul.nice-menu-down li.active-trail a { text-decoration: none; color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(113, 209, 0); padding: 0.5em 10px 0.6em; box-shadow: 0px 2px 2px rgb(136, 136, 136); }
.top-nav-primary-links ul.nice-menu-down li.menuparent:hover a, .top-nav-primary-links ul.nice-menu-down li a:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#block-nice-menus-1 ul.nice-menu-down li ul { top: 2.3em; }
#block-nice-menus-1 ul.nice-menu-down li ul a:hover { text-decoration: underline; }
#block-nice-menus-1 ul.nice-menu-down li ul ul { top: -1em; }
#navigation #block-ux-nav-profile { width: 165px; float: right; text-align: right; padding-top: 0.231em; }
#block-ux-nav-profile a { font-size: 0.9em; color: rgb(255, 255, 255); }
#block-ux-nav-profile a:hover { text-decoration: underline; }
#block-ux-nav-profile .sep { padding: 0px 4px; }
#sitemap { background-color: rgb(87, 94, 105); color: rgb(255, 255, 255); }
#sitemap a { color: rgb(228, 228, 228); }
#footer { background-color: rgb(113, 209, 0); color: rgb(255, 255, 255); }
#footer a { color: rgb(255, 255, 255); }
.node-teaser { margin: 0px 0px 3.077em; }
.node-teaser h2 { font-size: 2.154em; margin: 0px 0px 0.357em; padding: 0.357em 0px 0px; }
label, .form-item label { font-size: 1em; font-weight: normal; }
div.form-button span {  }
select { padding: 0.154em 10px 0.154em 2px; }
.form-button { display: inline; }
.action-button, .form-button input, #postcode-lookup { border-radius: 3px 3px 3px 3px; border: 1px solid rgb(227, 79, 0); color: rgb(255, 255, 255); height: 24px; background: url('button-grad.png') repeat-x scroll left top transparent; padding: 0px 9px; font-weight: bold; font-size: 0.923em; }
.action-button:hover, .form-button input:hover, #postcode-lookup:hover { background: url('button-grad.png') repeat-x scroll left bottom transparent; cursor: pointer; border: 1px solid rgb(84, 161, 0); }
input, textarea { background: none repeat scroll 0px 0px rgb(250, 250, 250); border: 1px solid rgb(200, 200, 200); }
input.form-text { border-radius: 3px 3px 3px 3px; height: 1.6923em; width: 247px; }
#header .block, #header #site-logo { position: relative; top: 0px; left: 0px; display: block; float: left; overflow: hidden; }
#header #site-logo { width: 227px; }
#block-gpi-select { width: 250px; }
#block-gpi-select h3 { display: none; }
#block-gpi-select .form-button { float: left; }
#block-gpi-select .form-button input { background: none repeat scroll 0% 0% transparent; border: 0px none; font-weight: normal; padding: 0px 0px 0px 5px; }
#block-gpi-select .form-item-select { float: left; margin: 0px; }
#block-gpi-select .form-item-select label { display: none; }
#header #block-search { float: right; }
#header #search-block-form { width: 284px; overflow: hidden; background-color: rgb(255, 255, 255); border: 3px solid rgb(255, 255, 255); border-radius: 3px 3px 3px 3px; }
#header #search-block-form .form-item { padding: 0px; margin: 0px; }
#header #search-block-form label { width: 0px; height: 0px; line-height: 0; text-indent: -5000px; }
#header #block-search .form-text { float: left; height: auto; width: 265px; border: medium none; }
#header #block-search .edit-submit-2 input, #header #block-search .edit-submit-1 input, #header #block-search .edit-submit input { float: left; width: 16px; height: 16px; background: url('icon_search.png') no-repeat scroll left top rgb(255, 255, 255); border: medium none; text-indent: -9999px; cursor: pointer; }
#header #block-search input:focus { border: medium none; outline: medium none; }
#right .block, #main .regionpane-right .block { margin: 0px; padding: 0px; background-color: rgb(236, 236, 236); border-bottom: 5px solid rgb(125, 132, 146); }
#right .block h3, #main .regionpane-right .block h3 { color: rgb(83, 174, 2); font-size: 18px; font-weight: bold; font-family: Helvetica,sans-serif; margin: 0px 20px 0.833em; padding: 1.111em 0px 0.556em; background: url('dots_right.png') no-repeat scroll center bottom transparent; }
#right .block .content, .regionpane-right .block .content { margin: 0px 20px 1.538em; }
#right .block, #main .regionpane-right .block, .panel-col-last .pane-block { margin: 0px; padding: 0px; background-color: rgb(236, 236, 236); border-bottom: 5px solid rgb(125, 132, 146); }
#right .block h3, #main .regionpane-right .block h3, .panel-col-last .pane-block h2 { color: rgb(83, 174, 2); font-size: 18px; font-weight: bold; font-family: Helvetica,sans-serif; margin: 0px 20px 0.833em; padding: 1.111em 0px 0.556em; background: url('dots_right.png') no-repeat scroll center bottom transparent; }
#right .block .content, #main .regionpane-right .block .content, .panel-col-last .pane-block .pane-content, .panel-col-last .pane-views-panes .pane-content, .twtr-widget { margin: 0px 20px 1.538em; }
#sitemap ul, #sitemap li { padding: 0px; margin: 0px; text-indent: 0px; list-style: none outside none; }
#block-ux-nav-sitemap, #block-ux-nav-sitemap ul { width: 825px; overflow: hidden; float: left; }
#block-ux-nav-sitemap li { width: 125px; overflow: hidden; float: left; padding-right: 40px; }
#block-ux-nav-sitemap ul li li { float: none; padding-right: 0px; line-height: 1.231em; margin-bottom: 0.6em; font-size: 0.923em; }
#block-ux-nav-gp-online { width: 125px; overflow: hidden; float: left; }
#block-ux-nav-gp-online ul.links li { display: block; width: 125px; height: auto; line-height: 1.231em; margin-bottom: 0.308em; }
#block-ux-nav-gp-online li img { position: relative; top: 0.2308em; padding-right: 0.3em; }
#block-ux-nav-sitemap a.sitemap-title, #block-ux-nav-gp-online h3 { display: block; width: 125px; padding: 0.8462em 0px 1em; font-weight: bold; line-height: 1em; font-size: 1.154em; color: rgb(255, 255, 255); border-top: 3px solid rgb(126, 130, 139); }
#block-ux-nav-gp-online h3 { padding-bottom: 0.769em; }
#footer-logo, #footer-copyright, #block-menu-menu-footer-links { float: left; overflow: hidden; padding-right: 40px; }
#footer-logo { width: 125px; }
#footer-logo .copyright-c { font-size: 1.1em; padding-right: 0.25em; position: relative; top: -0.1423em; }
#block-menu-menu-footer-links { font-size: 0.9em; float: right; padding-right: 0px; width: 780px; }
#block-menu-menu-footer-links ul, #block-menu-menu-footer-links li { margin: 0px; padding: 0px; text-indent: 0px; list-style-type: none; text-align: right; }
#block-menu-menu-footer-links li { display: inline; padding-left: 1em; }
#right #block-getactive-sidebar.block h3, .regionpane-right #block-getactive-sidebar h3 { background: none repeat scroll 0% 0% transparent; margin-bottom: 0px; padding-bottom: 0.277em; }
#block-getactive-sidebar h4 { color: rgb(86, 91, 103); font-size: 18px; font-weight: normal; font-family: Helvetica,sans-serif; margin: 0px 0px 0.833em; padding: 0px 0px 0.556em; background: url('dots_right.png') no-repeat scroll center bottom transparent; }
#block-getactive-sidebar form { background: url('uk-map.png') no-repeat scroll right top transparent; }
#block-getactive-sidebar .form-button input { box-shadow: -3px 0px 3px rgb(221, 221, 221); }
.pane-homepage-teasers-panel-pane-1 { padding-bottom: 20px; width: 630px; overflow: hidden; }
.pane-homepage-teasers-panel-pane-1 .pane-content { width: 700px; }
.pane-homepage-teasers-panel-pane-1 .pane-content .views-row { float: left; margin-right: 26px; }
.pane-homepage-teasers-panel-pane-1 .node-teaser { width: 291px; height: 145px; border: 1px solid rgb(179, 179, 179); padding: 0px 0px 0px 8px; background: none repeat scroll 0% 0% rgb(237, 237, 237); }
.pane-homepage-teasers-panel-pane-1 .node-teaser h2 { font-weight: normal; font-size: 1.5em; color: rgb(19, 19, 19); }
.pane-homepage-teasers-panel-pane-1 .node-teaser .content { position: relative; }
.pane-homepage-teasers-panel-pane-1 .node-teaser img.background { float: right; }
.pane-homepage-teasers-panel-pane-1 .node-teaser .highlight, .pane-homepage-teasers-panel-pane-1 .node-teaser .indicator-bar-caption { position: relative; z-index: 2; }
.pane-homepage-teasers-panel-pane-1 .node-teaser .highlight { font-weight: bold; font-size: 1.1em; margin-top: 2px; }
.pane-homepage-teasers-panel-pane-1 .node-teaser .button-wrapper-outer { position: absolute; top: 80px; }
.pane-homepage-teasers-panel-pane-1 .node-teaser .button-wrapper { background: url('button-teaser-action-left.gif') no-repeat scroll left top transparent; margin: 2px 0px 0px -3px; padding: 4px 0px 6px 8px; }
.pane-homepage-teasers-panel-pane-1 .node-teaser .button-inner { background: url('button-teaser-action-right.gif') no-repeat scroll right 10px transparent; display: inline; padding: 16px 22px 20px 4px; }
.pane-homepage-teasers-panel-pane-1 .node-teaser a.button { background: url('button-teaser-action-gradient.gif') repeat-x scroll left 10px transparent; color: rgb(255, 255, 255); display: inline; font-weight: bold; height: 35px; padding: 16px 2px 10px; font-size: 1.1em; text-decoration: none; margin-left: -4px; }
.pane-views h2.pane-title a { color: rgb(83, 174, 2); }
.node-type-what-you-can-do .pane-take-action .pane-title, .front .pane-blog .pane-title, .node-type-campaign-hub .pane-blog .pane-title { margin: 0px 0px 0.769em; }
.pane-views { position: relative; }
.view-blog .views-row, .view-og-ghp-ron .views-row, .view-getactive-latestvideo .views-row { overflow: hidden; width: 100%; padding-bottom: 1.154em; margin-bottom: 1.154em; background: url('dots_wide.png') no-repeat scroll center bottom transparent; }
.view-blog .views-row img, .view-og-ghp-ron .views-row img, .view-getactive-latestvideo .views-row img { display: block; width: 125px; float: left; height: 87px; border-radius: 3px 3px 3px 3px; margin: 0px 15px 0px 0px; }
.view-blog .views-row h3, .view-og-ghp-ron .views-row h3, .view-getactive-latestvideo .views-row h3 { font-size: 1.385em; margin: 0px 0px 0.444em; }
.view-blog .views-row .node_by, .view-blog .views-row .comment, .view-og-ghp-ron .views-row .node_by_group, .view-og-ghp-ron .views-row .node_postdate, .view-og-ghp-ron .views-row .comment, .view-getactive-latestvideo .views-row .node_by_group, .view-getactive-latestvideo .views-row .node_postdate, .view-getactive-latestvideo .views-row .comment, .views-row .disqus-comments { display: inline; font-size: 0.846em; color: rgb(119, 119, 119); line-height: 1em; }
.view-blog .views-row .comment_comments a, .view-og-ghp-ron .views-row .comment_comments a, .view-getactive-latestvideo .views-row .comment_comments a, .views-row .disqus-comments { background: url('comments_listing.png') no-repeat scroll left center transparent; padding: 0.091em 0px 0.091em 19px; }
.views-row .disqus-comments { font-size: 1em; }
.view-blog .more_buttons { padding: 0.5em 0px 0px; }
.view-blog .more_buttons a { font-weight: bold; padding: 0px 10px 0px 20px; background: url('read_full.png') no-repeat scroll left center transparent; }
body.desktop .mobile-only { display: none; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
body.mobile table.donation-your-details-personal tr:nth-child(1) {  }
body.mobile table.donation-your-details-personal td:nth-child(3) { display: none; }
#navigation #block-nice-menus-1 { width: 680px ! important; }
#header #block-block-72 { float: right ! important; margin-left: 10px ! important; padding-top: 3px ! important; }
