/* ::::: http://fonts.googleapis.com/css?family=Bubblegum+Sans ::::: */

@font-face {
	font-family: "Bubblegum Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Bubblegum Sans Regular"), local("BubblegumSans-Regular"), url('y9ituunz6lbl6trvv4iws3xdlzketji1q7uv6lmmp4i.woff') format("woff");
}
/* ::::: http://www.greenpeace.org/international/Global/international/code/2013/PoisoningParadise/style.css ::::: */

body { margin: 0px; min-width: 980px; padding: 0px; background-color: rgb(0, 0, 0); font-family: "Proxima Nova Light",'Helvetica Neue',Arial,Helvetica,sans-serif; }
#headerbg { background-color: rgb(0, 0, 0); height: 55px; z-index: 999; position: relative; margin-bottom: 0px; }
#header1 { font-family: anonymous-pro,serif; height: 30px; padding-top: 17px; margin: 0px auto; width: 920px; color: rgb(255, 255, 255); }
#header1 a { text-decoration: none; color: rgb(255, 255, 255); }
p { margin: 0px 0px 20px; }
p, ul { font-family: anonymous-pro,serif; font-size-adjust: 0.488; font-weight: 200; font-style: normal; line-height: 16pt; }
img { border: 0px none; }
h2 { font-family: anonymous-pro,serif; font-size-adjust: 0.531; font-weight: 500; font-style: normal; text-transform: uppercase; }
h3 { font-family: anonymous-pro,serif; font-size-adjust: 0.531; font-weight: 500; font-style: normal; padding-top: 20px; }
.float-left { float: left; margin: 0px 0px 0px 20px; }
.float-right { float: right; margin: 0px 20px 0px 0px; }
#nav { list-style: none outside none; position: fixed; right: 20px; top: 140px; }
#nav li { margin: 0px 0px 15px; }
#header, #intro, #second { width: 100%; }
#intro { background: url('indonesia_section_7_bg.jpg') no-repeat scroll 50% 0px transparent; color: white; height: 800px; margin: 0px auto; padding: 0px; }
#second { background: url('indonesia_section_3_bg.jpg') no-repeat fixed 50% 0px transparent; color: white; height: 800px; margin: 0px auto; overflow: hidden; padding: 0px; }
#third { background: url('indonesia_section_0_bg.jpg') no-repeat fixed 50% 0px transparent; color: white; height: 850px; padding: 100px 0px 0px; }
#fourth { background: url('indonesia_section_1_bg.jpg') no-repeat fixed 50% 0px transparent; color: white; height: 850px; padding: 100px 0px 0px; }
#fifth { background: url('indonesia_section_10_bg.jpg') no-repeat fixed 50% 0px transparent; color: white; height: 1000px; padding: 100px 0px 0px; }
#sixth { background: url('indonesia_section_4_bg.jpg') no-repeat fixed 50% 0px transparent; color: white; height: 800px; padding: 100px 0px 0px; }
#seventh { background: url('indonesia_section_8_bg.jpg') no-repeat fixed 50% 0px transparent; color: white; height: 800px; padding: 100px 0px 0px; }
.story { margin: 0px auto; min-width: 980px; overflow: auto; width: 980px; }
.action { margin: 0px auto; min-width: 940px; overflow: auto; width: 940px; }
#sixth a { color: rgb(255, 255, 255); }
.action a { color: rgb(107, 170, 38); }
.backround { background-color: rgba(0, 0, 0, 0.6); padding: 5px 15px 15px 20px; border-radius: 3px 3px 3px 3px; border: 0px solid rgb(0, 0, 0); }
.story .float-left, .story .float-right { padding: 100px 0px 0px; position: relative; width: 350px; }
#footer { background: none repeat scroll 0% 0% rgb(0, 0, 0); color: rgb(255, 255, 255); height: 50px; margin: 0px auto; padding: 20px 0px 0px 50px; }
.links { margin: 0px auto; min-width: 880px; overflow: auto; width: 880px; }
.links a { color: rgb(255, 255, 255); padding-right: 30px; text-decoration: none; font-size: 10pt; }
.share_twitter { text-align: right; }
.sm { padding-top: 20px; }
.sm a { padding-right: 5px; text-decoration: none; }
