/* ::::: http://l.yimg.com/g/combo/1/3.11.0?c/c_.X_nav_2013.BC.v2cQSz&c/c_.J_.D.BC.v2bQkK&c/c_.EM_.D.BC.v28KjZ&c/c_.EC-.IQ-.CAified.BC.v2bC9R&c/c_.FFs-.D-.CAified.BC.v2acSr&c/c_.FW-.HN.BC.v29hvB&c/c_.FW-.IO.BC.vXh1R&c/c_.HG.BC.v29vex&c/c_.FP-hera.BC.v2bQkK&c/c_.EC-.CZ.BC.v2bQnt&c/c_.T-bar.BC.v27yEe&c/c_.N.BC.v2am8K&c/c_.CX-.CY-2013.BC.v295v4&c/c_.KY.BC.v2bb44&c/c_.EG-.D.BC.v27yEe&c/c_.ECtream-subnav-2013.BC.v2cWqZ&c/c_.ECtream-.LGs.BC.v2bmQV&c/c_.B-.LGs-2013.BC.v2agBF& ::::: */

.gn-link, .gn-link:link, .gn-link:visited { display: inline-block; height: 49px; margin: 0px; padding: 17px 20px 0px; font: 14px Arial,Helvetica,sans-serif; color: white; cursor: pointer; background-repeat: no-repeat; }
.gn-link.secondary, .gn-link.secondary:link, .gn-link.secondary:visited { font-weight: normal; }
.gn-link span, .gn-link:link span, .gn-link:visited span { display: inline; position: relative; }
.top-nav li:hover .gn-link, .top-nav li:focus .gn-link { text-decoration: none; color: rgb(255, 0, 132); }
body.new-header { padding-top: 49px; background: url('undefined') repeat-x scroll left top transparent; }
#eyebrow { position: fixed; top: 0px; left: 0px; z-index: 1001; width: 100%; min-width: 975px; margin: auto; padding: 0px; text-align: left; background-color: rgb(233, 233, 242); line-height: 16px; }
#eyebrow #eyebrow-wrap { position: relative; margin: 0px 10px; }
body.super-liquid #global-nav { padding: 0px 10px; }
#global-nav { color: rgb(0, 0, 0); -moz-box-sizing: border-box; position: fixed; top: 0px; left: 0px; z-index: 1000; height: 49px; width: 100%; min-width: 975px; margin: auto; padding: 0px; text-align: left; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); box-shadow: none; }
#global-nav * { -moz-box-sizing: border-box; }
#global-nav div, #global-nav ul, #global-nav ol, #global-nav li, #global-nav form, #global-nav fieldset, #global-nav legend, #global-nav input, #global-nav textarea { -moz-box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(102, 102, 102); }
#global-nav a, #global-nav a:hover { background-color: transparent; }
#global-nav ol, #global-nav ul { list-style: none outside none; }
#global-nav input, #global-nav textarea, #global-nav select { font-family: inherit; font-size: inherit; font-weight: inherit; }
#global-nav.no-js .gn-menu-parent:hover .panel, #global-nav.no-js .gn-menu-parent :focus + .panel { display: block; }
#global-nav.gn-signed-out .tools { right: 10px; width: 317px; }
#global-nav .gn-wrap { position: relative; margin: 0px auto; height: 100%; }
#global-nav .logo { display: block; height: 100%; position: absolute; left: 0px; top: 0px; }
#global-nav .logo .refresh-logo-2013, #global-nav .logo .refresh-logo-2013-2x { text-indent: -9999px; display: block; position: absolute; left: 0px; height: 100%; width: 100%; background-position: center center; background-image: url('flickr_logo_small_white.png'); background-repeat: no-repeat; }
#global-nav .logo a { display: block; height: 100%; width: 100%; }
#global-nav .nav { display: block; margin-left: 164px; top: 0px; height: 49px; position: relative; overflow: visible; }
#global-nav .nav.small-logo { margin-left: 75px; }
#global-nav .nav > ul { height: 49px; display: block; position: relative; }
#global-nav .tools { display: block; position: absolute; top: 0px; right: 0px; height: 49px; width: 287px; }
#global-nav .gn-menu-parent { display: inline-block; position: relative; }
#global-nav .toplink { cursor: pointer; height: 49px; display: block; float: left; }
#global-nav .toplink .gn-signup { color: rgb(255, 0, 132); }
#global-nav .toplink .gn-signup:hover, #global-nav .toplink .gn-signup:focus { color: rgb(255, 0, 132); }
#global-nav .panel { position: absolute; display: none; color: rgb(37, 37, 37); font-size: 13px; top: 34px; left: -2px; }
#global-nav .panel a { color: rgb(37, 37, 37); }
#global-nav .panel .arrow { height: 0px; width: 0px; position: relative; top: 0px; border-width: 0px 8px 8px; border-style: solid; border-color: rgb(255, 255, 255) transparent; z-index: 12; }
#global-nav #explore-panel .arrow { left: 37px; }
#global-nav .bd { position: relative; border-radius: 0px 0px 0px 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); z-index: 11; height: auto; overflow: hidden; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); padding: 8px 0px 7px; }
#global-nav .gn-subnav-item { display: block; margin: 0px; padding: 0px; position: relative; }
#global-nav .gn-subnav-item a { display: block; overflow: hidden; color: rgb(37, 37, 37); padding: 7px 25px 7px 15px; line-height: 1em; white-space: pre; font-size: 12px; font-weight: normal; }
#global-nav .gn-subnav-item a:hover, #global-nav .gn-subnav-item a:focus { background: none repeat scroll 0% 0% rgb(241, 241, 241); color: rgb(0, 99, 220); }
#global-nav .tools form { display: block; position: relative; width: 245px; height: 33px; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin-top: 8px; }
#global-nav .tools form input:-moz-placeholder { color: rgb(119, 119, 119); }
#global-nav .tools form .gn-search { display: inline-block; -moz-appearance: none; position: absolute; height: 33px; width: 245px; margin: 0px; padding: 0px 31px 0px 7px; border: 0px solid rgb(204, 204, 204); color: rgb(0, 0, 0); font-size: 13px; line-height: 20px; outline: 0px none; z-index: 1001; background-color: transparent; transition: background 200ms ease 0s; }
#global-nav .tools form .gn-search:focus { box-shadow: 0px 0px 3px 1px rgba(0, 112, 255, 0.13) inset; border-color: rgb(105, 155, 217); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#global-nav .tools form .search-icon { background-image: url('icons-sf62ada7991.png'); background-position: 0px -134px; text-indent: 200%; white-space: nowrap; overflow: hidden; position: absolute; top: 0px; right: 0px; height: 30px; width: 27px; padding: 5px 5px 5px 0px; background-color: transparent; background-repeat: no-repeat; z-index: 1002; cursor: pointer; border: 0px none; }
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
	#global-nav .tools form .search-icon { background-image: url('icons-retina-scec248c15c.png'); background-position: 0px -134px; background-size: 70px auto; }
}
#global-nav .tools form .search-icon:hover, #global-nav .tools form .search-icon:focus, #global-nav .tools form .search-icon:active, #global-nav .tools form .search-icon.focused { background-image: url('icons-sf62ada7991.png'); background-position: 0px -94px; background-repeat: no-repeat; }
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
	#global-nav .tools form .search-icon:hover, #global-nav .tools form .search-icon:focus, #global-nav .tools form .search-icon:active, #global-nav .tools form .search-icon.focused { background-image: url('icons-retina-scec248c15c.png'); background-position: 0px -94px; background-size: 70px auto; }
}
#global-nav .gn-signin { position: absolute; right: -10px; top: 0px; }
#global-nav .gn-signin a { padding-right: 0px; padding-top: 16px; }
#global-nav .gn-signin a span { padding-right: 1em; }
html { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(254, 254, 254); }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
input, textarea, select {  }
body { font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 18px; color: rgb(0, 0, 0); }
a:link { text-decoration: none; color: rgb(0, 99, 220); }
a:visited { text-decoration: none; color: rgb(0, 99, 220); }
a:hover { text-decoration: none; background-color: rgb(0, 99, 220); color: rgb(255, 255, 255); }
a:active { text-decoration: none; background-color: rgb(2, 89, 196); color: rgb(255, 255, 255); }
h1 { font-size: 24px; font-weight: bold; margin-top: 0px; padding-top: 25px; }
h2 { font-size: 18px; margin-bottom: 10px; }
input, textarea, select { color: rgb(34, 34, 34); }
@media not all {
}
#beacon, .ad_beacon { position: absolute; height: 0px; width: 0px; }
.caret { font-family: 'Arial Unicode MS',Arial; font-size: 17px; line-height: 12px; vertical-align: text-top; }
span.photo_container { display: inline-block; line-height: 0; position: relative; }
span.photo_container a { display: inline-block; }
span.photo_container a:hover { background-color: transparent ! important; }
#main { width: 800px; margin: 0px auto; text-align: left; padding-top: 0px; padding-left: 0px; padding-right: 0px; min-width: 800px; }
:-moz-any-link:focus { outline: 0px none; }
#main { margin-top: 5px; }
#main, .Footer { width: 975px; position: relative; }
.clearfix {  }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
@media not all {
}
.searchified-menu ul { padding: 1px; }
.searchified-menu li a { background-color: rgb(255, 255, 255); color: rgb(0, 99, 220); display: block; padding: 4px 7px 4px 32px; position: relative; text-decoration: none; }
.searchified-menu li:first-child a { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.searchified-menu li:last-child a { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.searchified-menu li a:hover { color: rgb(255, 255, 255); background-color: rgb(0, 99, 220); background-image: -moz-linear-gradient(center top , rgb(70, 142, 230), rgb(0, 99, 220)); }
.searchified-menu li a span { display: block; position: absolute; top: 1px; left: 3px; width: 22px; height: 22px; background: url('flickr-sprite.png.v5') no-repeat scroll -1889px -9px transparent; }
#thumb-options li a.thumb-menu-square span { background-position: -1889px -9px; }
#thumb-options li a.thumb-menu-small span { background-position: -1889px -49px; }
#thumb-options li a.thumb-menu-medium span { background-position: -1889px -89px; }
#thumb-options li a.thumb-menu-large span { background-position: -1929px -49px; }
#thumb-options li a.thumb-menu-justify span { background-position: -1969px -88px; }
.yui3-popover-content-hider { left: -9999em; position: absolute; }
@media not all {
	.yui3-popover-content-hider { position: relative; height: 0px; }
}
.yui3-popover-content-hider ul { margin: 0px; padding: 0px; }
#foot { clear: both; color: rgb(153, 153, 153); font-size: 11px; margin: 30px auto 0px; padding: 9px 10px 10px; width: 960px; border-top: 1px dotted rgb(218, 218, 218); }
#foot {  }
#foot-lang { margin-top: 30px; text-align: center; }
#foot-lang li { display: inline-block; border-right: 1px solid rgb(238, 238, 238); margin-right: 2px; padding-right: 5px; line-height: 14px; font-size: 11px; }
#foot-lang li.last { border-right: 0px none; margin-right: 0px; padding-right: 0px; }
#foot-lang a.selected { color: rgb(153, 153, 153); cursor: default; }
#foot-lang a.selected:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(153, 153, 153); }
#main, #Main { z-index: 1; position: relative; }
body.new-footer #foot { border-top: 1px dotted rgb(218, 218, 218); clear: both; color: rgb(0, 0, 0); font-size: 11px; line-height: 1.3; margin: 0px auto; padding: 17px 10px 10px; width: 980px; }
body.new-footer.super-liquid #foot { width: 100%; padding: 17px 0px 10px; }
body.new-footer #foot-wrap { margin: 0px auto; width: 960px; }
body.new-footer #main, body.new-footer #Main { margin-bottom: 50px; }
body.new-footer.new-footer-tight-ass #main, body.new-footer.new-footer-tight-ass #Main { margin-bottom: 16px; }
body.new-footer #foot a { text-decoration: none; }
body.new-footer #foot-lang-legal, body.new-footer #foot #foot-nav { position: relative; margin: 0px auto; }
body.new-footer #foot-lang-legal, body.new-footer #foot #foot-nav, body.new-footer #foot #foot-wrap { max-width: 960px; }
body.new-footer #foot #foot-nav { padding-bottom: 30px; }
body.new-footer #foot #foot-nav .foot-nav-col-new { float: left; margin-right: 115px; }
body.new-footer #foot #foot-nav .foot-nav-col-new.last { margin-right: 0px; }
body.new-footer #foot #foot-nav .foot-nav-col-new.last { margin-left: 50px; }
body.new-footer #foot #foot-nav .last {  }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body.new-footer #foot #foot-nav .foot-nav-col-new { float: left; margin-right: 95px; }
	body.new-footer #foot #foot-nav .foot-nav-col-new.last { margin-right: 0px; }
}
@media only screen and (max-device-width: 480px) {
	body.new-footer #foot #foot-nav .foot-nav-col-new { float: left; margin-right: 95px; }
	body.new-footer #foot #foot-nav .foot-nav-col-new.last { margin-right: 0px; }
}
body.new-footer #foot #foot-nav dl { text-align: left; line-height: 15px; margin: 0px; padding: 0px; }
body.new-footer #foot #foot-nav dt { font-size: 12px; line-height: 15px; }
body.new-footer #foot #foot-nav dd { margin: 5px 0px 0px; font-size: 11px; line-height: 15px; }
body.new-footer #foot #foot-lang { float: left; margin-top: 0px; text-align: left; width: 60%; }
body.new-footer #foot #foot-lang ul { padding: 0px; margin: 0px; }
body.new-footer #foot #foot-legalsleeze { color: rgb(153, 153, 153); float: right; text-align: right; width: 40%; }
body.new-footer #foot #foot-legalsleeze div { margin: 0px 0px 5px; }
body.new-footer #foot #foot-nav .foot-nav-col-new .ft-twitter span.icon, body.new-footer #foot #foot-nav .foot-nav-col-new .ft-facebook span.icon { background: url('share-this-icons-sprite.png.v6') no-repeat scroll -152px -162px transparent; display: block; position: absolute; top: 0px; left: 0px; height: 18px; width: 18px; }
body.new-footer #foot #foot-nav .foot-nav-col-new .ft-twitter, body.new-footer #foot #foot-nav .foot-nav-col-new .ft-facebook { color: rgb(0, 99, 220); display: block; position: relative; height: 17px; padding: 1px 0px 0px 23px; }
#foot-nav .last a:hover { background: none repeat scroll 0% 0% transparent; }
#foot-nav .foot-nav-col-new a:hover span.link-text { background: none repeat scroll 0% 0% rgb(0, 99, 220); color: rgb(255, 255, 255); }
body.new-footer #foot #foot-nav .foot-nav-col-new .ft-facebook span.icon { background-position: -237px -162px; }
.photo-display-container { overflow: hidden; }
.photo-display-container .photo-display-item { float: left; line-height: 0; text-align: center; }
.photo-display-container .photo-display-item .thumb { line-height: 0; }
.photo-display-container.ju { width: auto; padding-bottom: 16px; overflow: hidden; }
.photo-display-container .row { white-space: nowrap; margin-bottom: 8px; display: block; }
.breakout .photo-display-container .row { margin-bottom: 8px; border-bottom: 0px none; }
.photo-display-container .row .photo-display-item { float: none; position: relative; display: inline-block; width: auto; background: none repeat scroll 0% 0% rgb(204, 204, 204); }
.photo-display-container .row .photo-display-item { border-right: 8px solid white; }
.photo-display-container .row .photo-display-item:last-child { border: 0px none; }
.photo-display-container .photo-display-item .thumb { display: inline-block; position: relative; }
.photo-display-container .photo-display-item .meta { color: rgb(102, 102, 102); font-size: 11px; line-height: 1.3; margin-top: 5px; }
.photo-display-container.ju .photo-display-item { z-index: 999; }
.photo-display-container .photo-display-item .meta a { color: rgb(102, 102, 102); }
.photo-display-container .photo-display-item .meta a:hover { background: none repeat scroll 0% 0% rgb(0, 99, 220); color: rgb(255, 255, 255); }
.photo-display-container .photo-display-item .hover-target { display: inline-block; }
.photo-display-container.ju .photo_container img { transition: opacity 0.25s ease-in-out 0s; }
.photo-display-container.ju .photo-display-item .meta, .zoomer .meta { position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 10px 5px; background: none repeat scroll 0% 0% transparent; opacity: 0.8; color: rgb(255, 255, 255); font-size: 11px; line-height: 1.3; margin-top: 5px; text-align: left; text-shadow: 1px 1px 0px black; overflow: hidden; transition: all 0.15s ease-in-out 0s; }
.photo-display-container.ju .photo-display-item .meta .attribution { width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: inline-block; }
.photo-display-container.ju .photo-display-item:hover .meta .attribution, .photo-display-container.ju .photo-display-item.inline-commenting .meta .attribution, .photo-display-container.ju .photo-display-item.inline-share .meta .attribution, .zoomer .meta .attribution { width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.photo-display-container.ju .photo-display-item .meta a:link, .photo-display-container.ju .photo-display-item .meta a:visited, .zoomer .meta a { color: rgb(255, 255, 255); }
.photo-display-container.ju .photo-display-item .meta a:hover, .photo-display-container.ju .photo-display-item .meta a:hover, .zoomer .meta a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 99, 220); }
.photo-display-container.ju .photo-display-item .meta a.title, .zoomer .thumb .meta a.title { opacity: 0; font-size: 13px; display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: bold; max-width: 100%; }
.photo-display-container .photo-display-item .meta div { overflow: hidden; width: 100%; }
.zoomer .meta, .photo-display-container.ju .photo-display-item:hover .meta, .photo-display-container.ju .photo-display-item.inline-commenting .meta, .photo-display-container.ju .photo-display-item.inline-share .meta { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); opacity: 1; display: block; transition: all 0.15s ease-in-out 0s; }
.photo-display-container.ju .photo-display-item:hover .meta a.title, .photo-display-container.ju .photo-display-item.inline-commenting .meta a.title, .photo-display-container.ju .photo-display-item.inline-share .meta a.title { opacity: 1; }
.photo-display-container.ju .photo-display-item:hover .meta .inline-icons a:hover, .photo-display-container.ju .photo-display-item.inline-commenting .meta .inline-icons a:hover, .photo-display-container.ju .photo-display-item.inline-share .meta .inline-icons a:hover, .zoomer.hoverzoom .meta .inline-icons a:hover { background: none repeat scroll 0% 0% transparent; }
.photo-display-container.ju .photo-display-item:hover .meta div:hover a.title, .photo-display-container.ju .photo-display-item.inline-commenting .meta div:hover a.title, .photo-display-container.ju .photo-display-item.inline-share .meta div:hover a.title, .zoomer.hoverzoom .meta a.title:hover { white-space: normal; }
.photo-display-container .photo-display-item .meta .inline-icons { margin-left: 0px; margin-top: 2px; height: 0px; width: 0px; position: relative; overflow: visible; display: inline-block; vertical-align: top; }
.photo-display-container.ju .photo-display-item .meta .inline-icons, .hoverzoom .meta .inline-icons { margin-left: 0px; margin-top: 2px; position: absolute; right: 10px; bottom: 4px; top: auto; display: block; height: 20px; width: auto; overflow: visible; z-index: 500; }
.photo-display-container.ju .photo-display-item:last-child .meta .inline-icons { right: 15px; }
.photo-display-container .photo-display-item .meta a.fave-star-inline, .zoomer .meta a.fave-star-inline { display: none; margin-left: 5px; width: 10px; height: 9px; }
.photo-display-container .photo-display-item .meta a.fave-star-inline img, .zoomer .meta a.fave-star-inline img { margin-left: 0px; }
.photo-display-container .photo-display-item .meta a.fave-star-inline .fave-count, .zoomer .meta a.fave-star-inline .fave-count { padding-left: 2px; }
.photo-display-container.ju .photo-display-item .meta a.fave-star-inline, .zoomer .meta a.fave-star-inline, .photo-display-container.ju .photo-display-item .meta a.delete-x-inline, .zoomer .meta a.fave-star-inline { display: inline; }
.photo-display-container.ju .photo-display-item .inline-icons { opacity: 0; }
.photo-display-container.ju .photo-display-item .inline-icons img, .zoomer .meta .inline-icons img { margin-left: 10px; }
.photo-display-container.ju .photo-display-item .inline-icons a:hover img, .zoomer .meta .inline-icons a:hover img { opacity: 0.5; }
.photo-display-container.ju .photo-display-item:hover .inline-icons, .photo-display-container.ju .photo-display-item.inline-commenting .inline-icons, .photo-display-container.ju .photo-display-item.inline-share .inline-icons { opacity: 1; }
.photo-display-container .photo-display-item .hover-target:hover .meta .fave-star-inline, .photo-display-container .photo-display-item .hover-target .meta .fave-star-inline-faved { display: inline; }
.photo-display-container .photo-display-item .meta .fave-star-inline:hover, .photo-display-container .photo-display-item .meta .fave-star-inline-faved { background-color: transparent; }
.photo-display-container .photo-display-item .meta .fave-star-inline img { background: url('flickr-sprite.png.v5') no-repeat scroll -855px -96px transparent; vertical-align: top; }
.photo-display-container.ju .photo-display-item .meta .fave-star-inline img, .hoverzoom .meta a.fave-star-inline img { background: url('zoom-sprite.png') no-repeat scroll -8px -6px transparent; }
.super-liquid .photo-display-container.ju .photo-display-item .meta { padding: 5px 0px 10px 8px; }
.super-liquid .photo-display-container.ju .photo-display-item .inline-icons img { vertical-align: top; margin-top: 0px; width: 16px; height: 16px; }
.super-liquid .photo-display-container.ju .photo-display-item .meta .fave-star-inline img, .super-liquid .hoverzoom .meta a.fave-star-inline img { background: url('fav.png') no-repeat scroll center center / contain  transparent; margin-top: -1px; }
.photo-display-container.ju .photo-display-item .meta a.comments-icon img, .hoverzoom .meta a.comments-icon img { background: url('zoom-sprite.png') no-repeat scroll -38px -26px transparent; }
.super-liquid .photo-display-container.ju .photo-display-item .meta a.comments-icon img, .super-liquid .hoverzoom .meta a.comments-icon img { background: url('comment.png') no-repeat scroll center center / contain  transparent; }
.super-liquid .photo-display-container.ju .photo-display-item .meta a.comments-icon img, .super-liquid .hoverzoom .meta a.comments-icon img { background: url('comment.png') no-repeat scroll center center / contain  transparent; }
.meta a img { vertical-align: text-bottom; display: inline; }
.photo-display-item .meta .count, .photo-display-item .meta .lightbox-title, .hoverzoom .thumb .meta .count, .hoverzoom .thumb .meta .lightbox-title { display: inline; padding-left: 5px; margin-right: 0px; margin-bottom: -3px; background-color: transparent; border: 0px none; }
.photo-display-container .photo-display-item .meta a.fave-star-inline:hover img { opacity: 0.5; }
.photo-display-container .photo-display-item .meta a.lightbox-inline, .hoverzoom .meta a.lightbox-inline { display: none; margin-left: 10px; width: 10px; height: 10px; }
.photo-display-container.ju .photo-display-item .meta a.lightbox-inline img, .photo-display-container.ju .photo-display-item:hover .meta a.lightbox-inline img, .hoverzoom .meta a.lightbox-inline img { background: url('zoom-sprite.png') no-repeat scroll -38px -5px transparent; margin-left: 0px; }
.super-liquid .photo-display-container.ju .photo-display-item .meta a.lightbox-inline img, .super-liquid .photo-display-container.ju .photo-display-item:hover .meta a.lightbox-inline img, .super-liquid .hoverzoom .meta a.lightbox-inline img { background-image: url('full_screen.png'); background-size: contain; background-position: center center; background-repeat: no-repeat; margin-left: 0px; margin-top: 2px; width: 12px; height: 12px; }
.photo-display-container .photo-display-item .hover-target:hover .meta a.lightbox-inline, .photo-display-container.ju .photo-display-item:hover .meta a.lightbox-inline, .photo-display-container.ju .photo-display-item.inline-commenting .meta a.lightbox-inline, .hoverzoom .meta a.lightbox-inline { display: inline; }
.photo-display-container .photo-display-item .meta a.lightbox-inline:hover { background-color: transparent; }
.photo-display-container .photo-display-item .meta a.lightbox-inline img { background: url('temp-magnify-small.png') no-repeat scroll 0px 0px transparent; vertical-align: top; }
.photo-display-container .photo-display-item .meta a.lightbox-inline:hover img { background-position: 0px -24px; }
.super-liquid .photo-display-container.ju .photo-display-item .meta a.lightbox-inline:hover img { background-position: center center; }
body.breakout #main { margin: 5px 0px 15px; min-width: 975px; width: auto; }
html body.breakout #foot { width: auto; }
html body.breakout #foot #foot-wrap { margin: 0px auto; width: 960px; }
body.breakout .photo-display-container { margin: 0px 15px 20px; }
body.super-liquid .photo-display-container { margin: 0px 10px 20px; }
#group-sidebar .cta a:nth-child(2) { padding-left: 8px; margin-left: 5px; border-left: 1px solid black; }
.yui3-popover { position: absolute; z-index: 1000 ! important; }
.yui3-popover { border-radius: 4px 4px 4px 4px; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.yui3-popover-content { position: relative; z-index: 1002; }
.yui3-popover-arrow { position: absolute; top: -9px; display: block; color: rgb(255, 255, 255); font-family: Trebuchet; font-size: 24px; text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); cursor: default; }
.yui3-popover-arrow-mask { position: absolute; top: 0px; z-index: 1001; display: block; width: 50px; height: 12px; border-radius: 2px 2px 2px 2px; -moz-background-inline-policy: continuous; background-color: rgb(255, 255, 255); }
@media 0screen {
	.yui3-popover-arrow { display: none; }
}
:root .yui3-popover-arrow {  }
.yui3-popover-arrow-t { left: 50%; margin-left: -12px; transform: rotate(135deg); }
.yui3-popover-arrow-mask-t { left: 50%; margin-left: -26px; }
.clearfix:after { content: " "; display: block; height: 0px; clear: both; }
.clearfix {  }
ul#button-bar, ul#nav-bar { width: auto; }
.share-icon, .share-icon-medium, .share-icon-large { background: url('share-this-icons-sprite.png.v6') no-repeat scroll 0px 0px transparent; }
.share-icon-large { position: relative; display: inline-block; width: 45px; height: 45px; text-indent: -9999em; vertical-align: bottom; }
ul.share-services li a { color: rgb(102, 102, 102); text-decoration: none; }
ul.share-services li a:hover, ul.share-services-small li a:hover { background-color: transparent; color: rgb(0, 0, 0); }
ul.share-services li a .service-name { display: block; padding-top: 4px; margin-bottom: 10px; }
.share-via-service-9 { background-position: -152px -162px; width: 16px; height: 16px; }
.share-via-service-9-large { background-position: -138px -19px; }
.share-via-service-128 { background-position: -237px -162px; width: 16px; height: 16px; }
.share-via-service-128-large { background-position: -223px -19px; }
.share-via-service-130 { background-position: -658px -162px; width: 21px; }
.share-via-service-130-large { background-position: -647px -19px; }
.share-via-service-132 { background-position: -744px -162px; width: 16px; height: 16px; }
.share-via-service-132-large { background-position: -732px -19px; }
.share-via-service-12 { background-position: -574px -162px; width: 16px; height: 16px; }
.share-via-service-12-large { background-position: -560px -19px; }
.share-dropdown-arrow { background-position: -76px 0px; }
#share-menu-v3 .share-panel-list, #options-menu { border: 0px none transparent; }
#main .share-this-v3-hider-fix { left: -999em; }
#share-menu-v3 span.caret { display: block; height: 11px; width: 12px; background: url('flickr-sprite.png.v5') no-repeat scroll -1574px -93px transparent; float: left; margin: 1px 2px 0px 6px; }
#share-menu-v3 .share-options-open span.caret { background-position: -1015px -52px; }
#share-menu-v3 .share-panel-list { position: relative; margin: 0px; padding: 1px; }
#share-menu-v3 li.share-options { display: block; border-bottom: 1px solid rgb(227, 227, 227); margin: 0px; padding: 1px 0px; height: 29px; overflow: hidden; position: relative; }
#share-menu-v3 li.share-options-open { height: auto; }
#share-menu-v3 li.share-options:first-child .share-options-header { border-top-left-radius: 4px; border-top-right-radius: 4px; }
#share-menu-v3 li.share-options:last-child .share-options-header { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-width: 0px; }
#share-menu-v3 li.share-options:first-child { padding-top: 0px; }
#share-menu-v3 li.share-options:last-child { border-bottom-width: 0px; }
#share-menu-v3 .share-options-header { color: rgb(0, 99, 220); cursor: pointer; padding: 4px 7px; }
#share-menu-v3 .share-options-header:hover { background: none repeat scroll 0% 0% rgb(0, 99, 220); color: rgb(255, 255, 255); }
#share-menu-v3 .share-options-header:hover .caret { background-position: -1614px -53px; }
#share-menu-v3 .share-options-open .share-options-header:hover .caret { background-position: -1015px -52px; }
#share-menu-v3 li.share-options-open .share-options-header, #share-menu-v3 li.share-options-open:hover .share-options-header { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); cursor: default; font-weight: bold; }
#share-menu-v3 .share-options-inner { margin: 5px 0px 10px; padding: 0px 16px; display: none; }
#share-menu-v3 li.share-options-open .share-options-inner { display: block; }
#share-menu-v3 input#share-options-grablink-input { border: 1px solid rgb(215, 215, 215); display: block; padding: 4px; width: 97%; margin-bottom: 0px; }
#share-menu-v3 #grab-link #short-url { margin: 2px 0px 0px; padding: 0px; text-align: right; font-size: 11px; }
#share-menu-v3 #share-options-grablink-input, #share-menu-v3 #sharing_grab_link_gp_input { width: 275px; margin: 4px 0px 6px; border: 1px solid rgb(215, 215, 215); padding: 4px; }
#share-menu-v3 { width: 400px; }
#share-menu-v3 li.share-options .share-options-header { background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(0, 99, 220); font-weight: bold; padding: 0.5em 0px; width: 100%; overflow: hidden; }
#share-menu-v3 li.share-options .share-options-header:hover { background-color: rgb(0, 99, 220); color: rgb(255, 255, 255); }
#share-menu-v3 li.share-options-open .share-options-header, #share-menu-v3 li.share-options-open .share-options-header:hover { background: none repeat scroll 0% 0% transparent; color: rgb(0, 0, 0); }
ul.share-services, ul.share-services-small { list-style-type: none; margin: 0px; padding: 0px; }
ul.share-services li, ul.share-services-small li { position: relative; display: inline-block; text-align: center; vertical-align: top; margin: 0px; width: 88px; }
ul.share-services li {  }
ul.share-services li.new-row, ul.share-services-small li.new-row {  }
#main { background-color: rgb(254, 254, 254); transition: background-color 0.5s ease-in-out 0s; }
.searchified-header { position: relative; }
.searchified-header { color: rgb(51, 51, 51); margin: 10px; padding-top: 0px; position: relative; }
body.super-liquid .searchified-header { width: auto; margin: 20px 10px 26px; }
#thumb-wrapper { text-align: center; }
#thumbnails { margin: 0px auto; text-align: left; }
#thumbnails .count { display: none; }
#thumbnails.ju { margin: 0px auto; overflow: hidden; }
#thumbnails.ju .photo-display-item { border-right: 8px solid rgb(254, 254, 254); }
#thumbnails.ju .count { display: inline-block; }
#thumbnails.ju .row { margin-bottom: 4px; }
.photo-display-item { transition: opacity 0.3s ease-out 0s; }
.photo-display-item .play { position: absolute; display: block; top: 0px; left: 0px; right: 0px; bottom: 0px; background: url('spaceball.gif') no-repeat scroll center center transparent; }
.photo-display-item .title .title { display: inline-block; max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0px; }
.photo-display-item .attribution-block { position: relative; margin-right: 0px; white-space: normal; width: inherit; display: inline; }
.photostream .photo-display-container.ju .photo-display-item .attribution { opacity: 0; }
.photo-display-container.ju .photo-display-item { margin-right: 0px; }
.photo-display-container.ju .photo-display-item:hover .attribution-block { position: relative; margin-right: 110px; white-space: normal; display: block; width: auto; }
.photo-display-container.ju .photo-display-item:hover .attribution { position: relative; display: inline-block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; opacity: 1; }
@media not all {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
	body { width: 100%; }
}
@media only screen and (max-device-width: 480px) and (orientation: landscape) {
	body { height: 199px; width: 100%; }
}
@media only screen and (max-device-width: 570px) {
}
@media only screen and (min-width: 321px) and (max-width: 500px) and (orientation: landscape) {
}
@media only screen and (min--moz-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 2dppx) {
}
.Pages { text-align: center; margin-bottom: 20px; margin-top: 20px; }
.Paginator { font-size: 12px; line-height: 22px; padding-top: 6px; margin-left: auto; margin-right: auto; }
.Paginator a, .pageList .this-page { padding: 2px 6px; border: 1px solid rgb(238, 238, 238); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-decoration: none; }
.Paginator a:visited { padding: 2px 6px; border: 1px solid rgb(238, 238, 238); background: none repeat scroll 0% 0% rgb(255, 255, 255); text-decoration: none; }
.Paginator .Prev { margin-right: 20px; padding: 2px 6px; border: 1px solid rgb(238, 238, 238); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.Paginator .break { padding: 2px 6px; border: 0px none; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-decoration: none; color: rgb(187, 187, 187); }
.Paginator .Next { margin-left: 20px; padding: 2px 6px; border: 1px solid rgb(238, 238, 238); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.Paginator .this-page { padding: 2px 6px; border: 1px solid rgb(238, 238, 238); font-weight: bold; vertical-align: top; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(255, 0, 132); }
.Paginator a:visited:hover, .Paginator a:hover, .Paginator a:active { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 99, 220); border-color: rgb(255, 255, 255); text-decoration: none; }
.Pages div.Results { text-align: center; font: 11px/15px Arial,Helvetica; color: rgb(187, 187, 187); margin-top: 8px; }
body.new-header { padding-top: 0px; }
body.new-header #main { margin-top: 0px; }
body.new-header #searchified-header { margin-top: 0px; margin-bottom: 0px; }
.subnav-refresh body, .subnav-refresh div, .subnav-refresh dl, .subnav-refresh dt, .subnav-refresh dd, .subnav-refresh ul, .subnav-refresh ol, .subnav-refresh li, .subnav-refresh h1, .subnav-refresh h2, .subnav-refresh h3, .subnav-refresh h4, .subnav-refresh h5, .subnav-refresh h6, .subnav-refresh pre, .subnav-refresh code, .subnav-refresh form, .subnav-refresh fieldset, .subnav-refresh legend, .subnav-refresh input, .subnav-refresh textarea, .subnav-refresh p, .subnav-refresh blockquote, .subnav-refresh th, .subnav-refresh td { margin: 0px; padding: 0px; }
.subnav-refresh fieldset, .subnav-refresh img { border: 0px none; }
.subnav-refresh li { list-style: none outside none; }
.subnav-refresh h1, .subnav-refresh h2, .subnav-refresh h3, .subnav-refresh h4, .subnav-refresh h5, .subnav-refresh h6 { font-size: 100%; font-weight: normal; }
.subnav-refresh, .subnav-refresh li { font-family: "HelveticaNeue-Light",Helvetica,Arial,sans-serif; font-size: 15px; line-height: normal; }
.subnav-refresh { background: none repeat scroll 0% 0% rgb(226, 227, 229); text-align: center; position: relative; margin: 0px 0px 10px; }
.subnav-refresh h1 { font-size: 2.5em; padding-top: 0px; font-weight: normal; text-shadow: 0px 1px 0px rgb(0, 0, 0); color: rgb(255, 255, 255); }
.subnav-refresh h2 { font-size: 0.89em; font-weight: normal; text-shadow: 0px 1px 0px rgb(0, 0, 0); color: rgb(255, 255, 255); }
.subnav-refresh a { color: rgb(255, 255, 255); }
.subnav-refresh .cover-photo-holder { width: 100%; height: 235px; position: absolute; top: 0px; overflow: hidden; }
.subnav-refresh .cover-photo-holder .cover-photo { width: 100%; height: 100%; overflow: hidden; opacity: 1; background-size: 100% auto; background-position: center top; background-attachment: fixed; background-repeat: no-repeat; z-index: 2; }
.subnav-refresh .cover-photo-holder .cover-photo.wviewvert { background-attachment: scroll; background-position: 50% 50%; position: absolute; top: -35px; height: 305px; }
.subnav-refresh .cover-photo-holder:before { content: ""; position: absolute; top: 110px; bottom: 42px; left: 0px; right: 0px; z-index: 3; background: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.15), transparent) repeat scroll 0% 0% transparent; }
.subnav-refresh .person { right: 0px; position: absolute; bottom: 50px; left: 140px; text-align: left; font-size: inherit; }
.subnav-refresh .person .character-name-holder { position: relative; }
.subnav-refresh .stats { position: absolute; bottom: 49px; right: 12px; line-height: 17px; }
.subnav-refresh .stats .stat { display: inline-block; margin: 0px 0px 0px 40px; }
.subnav-refresh .stats .stat h1 { font-size: 1.5em; line-height: 0.9em; text-align: right; white-space: nowrap; }
.subnav-refresh .stats .stat h2 { font-size: 0.7em; text-align: right; white-space: nowrap; }
.subnav-refresh .subnav-middle { z-index: 4; text-align: left; position: relative; height: 235px; width: auto; margin: 0px; }
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
.subnav-refresh .sn-avatar { position: absolute; bottom: 9px; left: 9px; z-index: 3; border: 1px solid rgba(255, 255, 255, 0.27); width: 110px; height: 110px; }
.subnav-refresh .sn-avatar img { position: absolute; top: 0px; left: 0px; transition-property: opacity; transition-duration: 200ms; transition-timing-function: ease-out; opacity: 1; }
.subnav-refresh .sn-avatar.sn-avatar-size-0 img.sn-avatar-ico, .subnav-refresh .sn-avatar.sn-avatar-size-48 img.sn-avatar-ico, .subnav-refresh .sn-avatar.sn-avatar-size-60 img.sn-avatar-ico, .subnav-refresh .sn-avatar.sn-avatar-size-100 img.sn-avatar-ico { border: 30px solid rgba(0, 0, 0, 0.6); padding: 1px; box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset; }
.subnav-refresh .subnav-holder { position: absolute; bottom: 0px; left: 0px; width: 100%; background: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)) repeat scroll 0% 0% transparent; border-width: 1px 0px; border-style: solid none; border-color: black -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
.subnav-refresh .sn-dropdowntarget { position: relative; }
.subnav-refresh .sn-dropdowntarget ul.sn-dropdown { position: absolute; z-index: 5; top: 40px; right: 5px; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); display: none; list-style: none outside none; color: rgb(17, 17, 17); padding: 5px 0px; }
.subnav-refresh .sn-dropdowntarget ul.sn-dropdown:before { content: ""; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid rgb(255, 255, 255); position: absolute; top: -5px; right: 15px; }
.subnav-refresh .sn-dropdowntarget ul.sn-dropdown li.sn-dropdownitem { padding: 5px 20px; text-align: left; color: inherit; font-family: Helvetica,Arial,sans-serif; min-width: 95px; }
.subnav-refresh .sn-dropdowntarget ul.sn-dropdown li.sn-dropdownitem a { line-height: normal; font-size: 0.9em; text-shadow: none; padding: 0px; }
.subnav-refresh .sn-dropdowntarget ul.sn-dropdown li.sn-dropdownitem:hover { background: none repeat scroll 0% 0% rgb(238, 238, 238); color: rgb(0, 99, 220); }
.subnav-refresh .sn-dropdowntarget:hover > ul { display: block; }
.subnav-refresh ul.nav-links { margin-left: 121px; list-style: none outside none; height: 40px; }
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
.subnav-refresh ul.nav-links li.sn-navitem { white-space: nowrap; border-right: 1px solid black; border-left: 1px solid rgba(255, 255, 255, 0.2); width: auto; text-align: center; padding: 0px; color: rgb(255, 255, 255); font-size: inherit; float: left; }
.subnav-refresh ul.nav-links li.sn-navitem:first-child { border-left: medium none; }
.subnav-refresh ul.nav-links li.sn-navitem a { text-shadow: 1px 1px 2px rgb(0, 0, 0); display: block; font-size: inherit; padding: 13px 20px 12px; line-height: 1em; background: none repeat scroll 0% 0% transparent; color: inherit; cursor: pointer; }
.subnav-refresh ul.nav-links li.sn-navitem a.sn-ico { width: 50px; height: 40px; padding: 0px; margin: 0px; }
.subnav-refresh ul.nav-links li.sn-navitem a.sn-ico.sn-ico-share { background-image: url('icons-sf62ada7991.png'); background-position: 15px -700px; background-repeat: no-repeat; }
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
	.subnav-refresh ul.nav-links li.sn-navitem a.sn-ico.sn-ico-share { background-image: url('icons-retina-scec248c15c.png'); background-position: 15px -660px; background-size: 70px auto; }
}
.subnav-refresh ul.nav-links li.sn-navitem a.sn-ico.sn-ico-more { background-image: url('icons-sf62ada7991.png'); background-position: 12px -1124px; background-repeat: no-repeat; }
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
	.subnav-refresh ul.nav-links li.sn-navitem a.sn-ico.sn-ico-more { background-image: url('icons-retina-scec248c15c.png'); background-position: 12px -1084px; background-size: 70px auto; }
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
.subnav-refresh ul.nav-links li.sn-navitem a.sn-ico.sn-ico-slideshow { background-image: url('icons-sf62ada7991.png'); background-position: 15px -1044px; background-repeat: no-repeat; }
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
	.subnav-refresh ul.nav-links li.sn-navitem a.sn-ico.sn-ico-slideshow { background-image: url('icons-retina-scec248c15c.png'); background-position: 15px -1124px; background-size: 70px auto; }
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
.subnav-refresh ul.nav-links li.sn-navitem.sn-active, .subnav-refresh ul.nav-links li.sn-navitem:hover { background: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); }
.subnav-refresh ul.nav-links li.sn-navitem:hover { cursor: pointer; }
.subnav-refresh ul.nav-links li.sn-navitem.sn-active { font-weight: bold; }
.subnav-refresh ul.nav-links.nav-links-tools { position: absolute; right: 0px; top: 0px; margin-left: 0px; border: 0px none; }
.subnav-refresh ul.nav-links.nav-links-tools li.sn-navitem { padding: 0px; border-right: 0px none; border-left: 1px solid black; }
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
@media not all, (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
.breakout #subnav-refresh { left: 0px ! important; }
span.photo_container { display: inline-block; position: relative; }
@media only screen and (device-width: 768px) {
}
