/* ::::: http://us.a2.yimg.com/us.yimg.com/lib/hdr/ygma_2.19.css ::::: */

#ygma { font: 13px arial,helvetica,clean,sans-serif; }
#ygma div { clear: none; }
#ygma input { font: 99% arial,helvetica,clean,sans-serif; }
#ygmatop, #ygmabot { font: 77% verdana; }
#ygma { position: relative; text-align: left; margin: 0px auto; }
#ygma:after, #ygmatop:after, #ygmabot:after { content: "."; display: block; font-size: 0px; line-height: 0px; height: 0px; clear: both; visibility: hidden; }
#ygma * { line-height: 1.22em; }
#ygmalogo img, #ygma ul, #ygma li, #ygma form, #ygma fieldset, #ygma legend { margin: 0px; padding: 0px; border: 0px none; }
#ygma ul li, #ygma ol li { background: none repeat scroll 0% 0% transparent; }
#ygma legend { display: none; }
#ygmains1 img, #ygma fieldset { float: none; }
#ygmacx { float: left; width: 100%; }
#ygmatop { background: none repeat scroll 0% 0% rgb(239, 239, 239); padding: 0px 0px 1px; border-bottom: 1px solid rgb(222, 222, 222); }
#ygnav, #ygmahelp { list-style: none outside none; }
#ygnav li, #ygmahelp li { display: inline; margin-right: 7px; list-style: none outside none; }
#ygma #ygnav { font: 100% arial; float: left; padding: 5px 0px 0px 4px; }
#ygma #ygnav a { color: rgb(102, 102, 102); }
#ygma form { float: right; text-align: right; padding-right: 5px; margin: 2px 0px 1px; }
#ygma label { position: relative; font: bold 100% verdana; color: rgb(102, 102, 102); }
#ygma .ygbt { padding: 0px 5px; font: bold 100% verdana; color: rgb(0, 0, 0); overflow: visible; background: none repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#ygma #ygsp { font: 107% arial; margin: -1px 3px; width: 208px; }
#ygmahelp { font: 100% verdana; }
#ygmahelp li { margin-right: 4px; }
#ygmahelp li.yglast { padding: 0px; margin: 0px; }
#ygmabot { padding: 6px 0px 9px; border-top: 1px solid rgb(179, 179, 179); }
#ygmalogo, #ygmauser { float: left; }
#ygma #ygmalogo { margin: 0px 0px 0px 5px; }
#ygmahelp { float: right; }
/* ::::: http://us.a2.yimg.com/us.yimg.com/lib/hdr/ygma_2.19.css ::::: */

#ygma { font: 13px arial,helvetica,clean,sans-serif; }
#ygma div { clear: none; }
#ygma input { font: 99% arial,helvetica,clean,sans-serif; }
#ygmatop, #ygmabot { font: 77% verdana; }
#ygma { position: relative; text-align: left; margin: 0px auto; }
#ygma:after, #ygmatop:after, #ygmabot:after { content: "."; display: block; font-size: 0px; line-height: 0px; height: 0px; clear: both; visibility: hidden; }
#ygma * { line-height: 1.22em; }
#ygmalogo img, #ygma ul, #ygma li, #ygma form, #ygma fieldset, #ygma legend { margin: 0px; padding: 0px; border: 0px none; }
#ygma ul li, #ygma ol li { background: none repeat scroll 0% 0% transparent; }
#ygma legend { display: none; }
#ygmains1 img, #ygma fieldset { float: none; }
#ygmacx { float: left; width: 100%; }
#ygmatop { background: none repeat scroll 0% 0% rgb(239, 239, 239); padding: 0px 0px 1px; border-bottom: 1px solid rgb(222, 222, 222); }
#ygnav, #ygmahelp { list-style: none outside none; }
#ygnav li, #ygmahelp li { display: inline; margin-right: 7px; list-style: none outside none; }
#ygma #ygnav { font: 100% arial; float: left; padding: 5px 0px 0px 4px; }
#ygma #ygnav a { color: rgb(102, 102, 102); }
#ygma form { float: right; text-align: right; padding-right: 5px; margin: 2px 0px 1px; }
#ygma label { position: relative; font: bold 100% verdana; color: rgb(102, 102, 102); }
#ygma .ygbt { padding: 0px 5px; font: bold 100% verdana; color: rgb(0, 0, 0); overflow: visible; background: none repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#ygma #ygsp { font: 107% arial; margin: -1px 3px; width: 208px; }
#ygmahelp { font: 100% verdana; }
#ygmahelp li { margin-right: 4px; }
#ygmahelp li.yglast { padding: 0px; margin: 0px; }
#ygmabot { padding: 6px 0px 9px; border-top: 1px solid rgb(179, 179, 179); }
#ygmalogo, #ygmauser { float: left; }
#ygma #ygmalogo { margin: 0px 0px 0px 5px; }
#ygmahelp { float: right; }
/* ::::: http://info.yahoo.com/utils/y/css/privacy_center_2008.css ::::: */

body { background: url('body_bg.gif') repeat scroll 0% 0% transparent; margin: 0px; }
#container { margin: 0px auto; text-align: left; width: 865px; background: url('hd_bg.gif') repeat-y scroll 0% 0% transparent; }
#content { clear: both; background: url('bd_bg.gif') repeat scroll 0% 0% transparent; }
.row1 { width: 865px; }
.row1 .flash { overflow: hidden; height: 212px; width: 864px; }
.row2 { width: 842px; overflow: hidden; margin: 0px 12px 0px 13px; padding: 0px; background: url('bd_bg2.gif') repeat-y scroll 0px 0px transparent; }
.row2 .col1 { float: left; width: 563px; overflow: hidden; }
#nav { clear: both; width: 865px; height: 44px; background: url('hd_nav_bg.gif') repeat scroll 0% 0% transparent; }
.menu { padding: 0px; margin: 8px 0px 0px 20px; list-style: none outside none; overflow: hidden; float: left; display: inline; width: 845px; font: 85% Arial,Helvetica,sans-serif; }
.menu li { float: left; background: url('left.gif') no-repeat scroll left top transparent; padding: 0px 12px 0px 0px; width: 125px; height: 27px; text-align: center; }
.menu li a { float: left; display: block; background: url('right.gif') no-repeat scroll right top transparent; padding: 5px 4px 5px 0px; margin-left: 6px; height: 27px; text-decoration: none; color: rgb(255, 255, 255); font-weight: bold; outline: medium none; }
.menu li a { float: none; }
.menu li a:hover { color: rgb(204, 204, 204); }
.menu li a.selected { color: rgb(51, 51, 51); }
.ppolicy { float: left; width: 205px; overflow: hidden; padding: 10px 0px 2px; list-style: none outside none; }
.ppolicy ul { list-style: none outside none; margin: 0px; padding: 0px; }
.ppolicy-styles li { padding: 0px 2px 15px 12px; font: 60% Arial,Helvetica,sans-serif; }
.ppolicy-styles a { float: left; overflow: hidden; padding: 2px 12px 4px 0px; color: rgb(153, 153, 153); font-weight: bold; text-decoration: none; outline: medium none; }
.ppolicy-styles a { float: none; }
.ppolicy-styles a:hover { color: rgb(123, 0, 153); }
.pageactions { text-align: center; }
.pageactions img { border: 0px none; vertical-align: bottom; margin-right: 3px; }
.pageactions a, .pageactions a:visited { color: rgb(27, 71, 142); font: 60% Arial,Helvetica,sans-serif; text-decoration: underline; padding: 0px 15px 0px 0px; }
.pageactions a:hover { color: rgb(27, 71, 142); text-decoration: none; }
.tabcontent { float: left; font-family: Arial,Helvetica,sans-serif; width: 345px; overflow: hidden; padding: 0px; }
.tabcontent h2 { margin: 0px 0px 2px; padding: 10px 0px 0px; text-transform: uppercase; font: bold 85% Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); }
.tabcontent a:link, .tabcontent a:active { color: rgb(123, 0, 153); }
.tabcontent a:hover { color: rgb(204, 204, 204); }
.tabcontent a:visited { color: rgb(125, 81, 171); }
.tabcontent p { font: 66% Arial,Helvetica,sans-serif; color: rgb(128, 130, 133); margin: 0px 0px 15px; padding: 0px; }
.tabcontent ul { font: 66% Arial,Helvetica,sans-serif; color: rgb(128, 130, 133); }
.tabcontent li { padding-bottom: 4px; }
.col2 { float: left; display: inline; width: 275px; overflow: hidden; background: url('hmodule_bg_1.gif') repeat-x scroll 0% 0% transparent; }
h3 { width: 275px; height: 29px; overflow: hidden; background: url('hdr_hmodule.gif') no-repeat scroll 0% 0% transparent; margin: 0px; font: bold 85% Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); }
h3 span { float: left; margin: 5px 0px 0px 20px; }
.col2 .box { width: 280px; overflow: auto; }
.col2 .box .segment { width: 100%; overflow: hidden; padding: 11px 0px 20px; }
.col2 .box .segment .hdr { width: 100%; overflow: hidden; border-top: 1px dashed rgb(128, 130, 133); border-bottom: 1px dashed rgb(128, 130, 133); margin: 0px 0px 10px 20px; padding: 4px 0px; color: rgb(123, 0, 153); font: bold 75% Arial,Helvetica,sans-serif; text-transform: uppercase; }
.col2 .box .segment .featuretxt { float: left; display: inline; margin: 10px 0px 0px 20px; width: 230px; }
.col2 .box .segment .featuretxt p { margin: 0px; font: 77% Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); }
.col2 .box .segment .featuretxt p a { color: rgb(0, 0, 0); text-decoration: underline; }
.col2 .box .segment .featuretxt p a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
.col2 .box .segment .featuretxt p a:visited { color: rgb(125, 81, 171); text-decoration: underline; }
.col2 .box .segment .txt { float: left; display: inline; margin: 0px 0px 0px 20px; width: 250px; font: 77% Arial,Helvetica,sans-serif; }
.col2 .box .segment .txt p { margin: 0px; font: 77% Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); }
.col2 .box .segment .txt p a { color: rgb(0, 0, 0); text-decoration: underline; }
.col2 .box .segment .txt p a:hover { color: rgb(255, 255, 255); }
.col2 .box .segment .txt p a:visited { color: rgb(125, 81, 171); }
#footer { overflow: hidden; width: 840px; margin: 0px 11px 0px 14px; background: url('footer_bg.gif') no-repeat scroll 0% 0% transparent; }
/* ::::: http://us.a2.yimg.com/us.yimg.com/lib/hdr/ygma_2.19.css ::::: */

#ygma { font: 13px arial,helvetica,clean,sans-serif; }
#ygma div { clear: none; }
#ygma input { font: 99% arial,helvetica,clean,sans-serif; }
#ygmatop, #ygmabot { font: 77% verdana; }
#ygma { position: relative; text-align: left; margin: 0px auto; }
#ygma:after, #ygmatop:after, #ygmabot:after { content: "."; display: block; font-size: 0px; line-height: 0px; height: 0px; clear: both; visibility: hidden; }
#ygma * { line-height: 1.22em; }
#ygmalogo img, #ygma ul, #ygma li, #ygma form, #ygma fieldset, #ygma legend { margin: 0px; padding: 0px; border: 0px none; }
#ygma ul li, #ygma ol li { background: none repeat scroll 0% 0% transparent; }
#ygma legend { display: none; }
#ygmains1 img, #ygma fieldset { float: none; }
#ygmacx { float: left; width: 100%; }
#ygmatop { background: none repeat scroll 0% 0% rgb(239, 239, 239); padding: 0px 0px 1px; border-bottom: 1px solid rgb(222, 222, 222); }
#ygnav, #ygmahelp { list-style: none outside none; }
#ygnav li, #ygmahelp li { display: inline; margin-right: 7px; list-style: none outside none; }
#ygma #ygnav { font: 100% arial; float: left; padding: 5px 0px 0px 4px; }
#ygma #ygnav a { color: rgb(102, 102, 102); }
#ygma form { float: right; text-align: right; padding-right: 5px; margin: 2px 0px 1px; }
#ygma label { position: relative; font: bold 100% verdana; color: rgb(102, 102, 102); }
#ygma .ygbt { padding: 0px 5px; font: bold 100% verdana; color: rgb(0, 0, 0); overflow: visible; background: none repeat scroll 0% 0% rgb(221, 221, 221); cursor: pointer; }
#ygma #ygsp { font: 107% arial; margin: -1px 3px; width: 208px; }
#ygmahelp { font: 100% verdana; }
#ygmahelp li { margin-right: 4px; }
#ygmahelp li.yglast { padding: 0px; margin: 0px; }
#ygmabot { padding: 6px 0px 9px; border-top: 1px solid rgb(179, 179, 179); }
#ygmalogo, #ygmauser { float: left; }
#ygma #ygmalogo { margin: 0px 0px 0px 5px; }
#ygmahelp { float: right; }
