/* ::::: http://passets-ec.pinterest.com/webapp/style/app/desktop/bundle.08364586.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, ul { display: block; }
audio:not([controls]) { display: none; }
html { font-size: 100%; }
a:hover, a:active { outline: 0px none; }
img { max-width: 100%; height: auto; vertical-align: middle; border: 0px none; }
button, input, select, textarea { font-family: "Helvetica Neue","Hiragino Kaku Gothic Pro",arial,sans-serif; font-size: 100%; margin: 0px; vertical-align: middle; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
body { margin: 0px; }
h1, h2, h3, h4, h5, h6 { margin: 0px; }
@font-face {
	font-family: "Abril-Bold";
	font-style: normal;
	font-weight: normal;
	src: url('abril_bold_tt-webfont.9fd50b01.woff') format("woff");
}
@font-face {
	font-family: "Abril-Italic";
	font-style: normal;
	font-weight: normal;
	src: url('abril_italic_tt-webfont.2c989c0b.woff') format("woff");
}
@font-face {
	font-family: "Abril-Regular";
	font-style: normal;
	font-weight: normal;
	src: url('abril_regular_tt-webfont.0636839a.woff') format("woff");
}
@font-face {
	font-family: "Adelle-Bold";
	font-style: normal;
	font-weight: normal;
	src: url('adelle_bold_tt-webfont.279830a4.woff') format("woff");
}
@font-face {
	font-family: "Adelle-Light";
	font-style: normal;
	font-weight: normal;
	src: url('adelle_light_tt-webfont.72513ef2.woff') format("woff");
}
@font-face {
	font-family: "Adelle-Regular";
	font-style: normal;
	font-weight: normal;
	src: url('adelle_regular_tt-webfont.f56116dd.woff') format("woff");
}
ul { margin: 0px; padding: 0px; }
ul li { list-style: none outside none; padding: 0px; }
.centeredWithinWrapper { margin: 0px auto; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
html:not(.safari) .Module.fadeIn { animation: 0.3s ease 0s normal forwards 1 fadeIn; }
html:not(.safari) .Module.fadeOut { animation: 0.3s ease 0s normal forwards 1 fadeOut; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
html { background-image: url('bg-1x.11437c43.png'); background-repeat: repeat; background-color: rgb(227, 227, 227); }
@media not all, (min-resolution: 144dppx) {
	html { background-image: url('bg-2x.351400d7.png'); background-size: 21px 21px; }
}
html, body { font-family: "Helvetica Neue","Hiragino Kaku Gothic Pro",arial,sans-serif; color: rgb(23, 23, 23); font-size: 12px; }
body { overflow-y: scroll; position: relative; }
a { color: rgb(113, 113, 113); font-weight: bold; text-decoration: none; }
a:hover { color: rgb(138, 138, 138); }
.hidden { display: none; }
.logo { width: 104px; height: 26px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll 0px 0px transparent; display: inline-block; vertical-align: middle; font: 0px/0 serif; text-shadow: none; color: transparent; }
@media not all, (min-resolution: 144dppx) {
	.logo { background-image: url('main-s0660ba933b.645f2696.png'); background-position: 0px 0px; background-size: 3665px 66px; }
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Button { position: relative; }
.Button em { display: inline-block; position: relative; vertical-align: middle; }
.Button .accessibilityText { font: 0px/0 serif; text-shadow: none; color: transparent; position: absolute; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Grid { margin: 0px auto 14px; position: relative; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.GridItems { margin: 0px auto 14px; position: relative; }
.GridItems.centeredWithinWrapper { margin-bottom: 14px; }
.GridItems .item:active, .GridItems .item:focus { outline: 0px none; }
.GridItems.fixedHeightLayout { overflow: auto; padding-bottom: 3px; }
.GridItems.fixedHeightLayout:after { content: ""; display: table; clear: both; }
.GridItems.fixedHeightLayout > .item { float: left; }
.GridItems.padItems > .item { margin: 14px 7px 0px; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.UserProfilePage .Board { float: left; }
.UserProfilePage .Board .boardCover { clear: both; }
.ui-Typeahead { border-radius: 3px 3px 3px 3px; background: none repeat scroll 0% 0% rgb(255, 255, 255); display: none; left: 0px; right: 0px; z-index: -1; }
.ui-TypeaheadField { display: inline-block; vertical-align: middle; position: relative; }
.ui-TypeaheadField.search .field { border-radius: 3px 3px 3px 3px; -moz-box-sizing: border-box; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.07) inset; background: none repeat scroll 0% 0% rgb(250, 249, 247); border: 1px solid rgb(204, 204, 204); color: rgb(113, 113, 113); font-size: 13px; font-weight: bold; margin: 0px; outline: medium none; padding: 6px 30px 6px 9px; position: relative; width: 100%; z-index: 670; }
.ui-TypeaheadField.search .field:active { border-color: rgb(188, 188, 188); outline: medium none; }
.ui-TypeaheadField.search .field:focus { background-color: rgb(250, 250, 250); border-color: rgb(170, 170, 170); color: rgb(51, 51, 51); }
.ui-TypeaheadField .ui-Typeahead { top: 0px; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.App .headerBackground, .App .headerContainer { left: 0px; position: fixed; top: 0px; right: 0px; }
.App.full .appContent { padding-top: 45px; }
.Board .hoverMask { border-radius: 3px 3px 3px 3px; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.33) inset; bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px; z-index: 100; }
.Board .boardLinkWrapper:hover .hoverMask { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); }
.Board .boardLinkWrapper:active .hoverMask { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1); }
.Board .boardName { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: rgb(85, 85, 85); display: block; font-size: 14px; font-weight: bold; margin: 0px 3px 6px; position: relative; height: auto; }
@media not all, (min-resolution: 144dppx) {
}
.Board .collaborativeIcon { width: 18px; height: 11px; background: url('main-s1b0f4e1c14.7a8d7127.png') no-repeat scroll -66px 0px transparent; display: inline-block; vertical-align: middle; font: 0px/0 serif; text-shadow: none; color: transparent; }
@media not all, (min-resolution: 144dppx) {
	.Board .collaborativeIcon { background-image: url('main-sfbd88f612b.77150b5e.png'); background-position: -66px 0px; background-size: 319px 42px; }
}
.Board.boardCoverImage { border-radius: 3px 3px 3px 3px; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33); background: none repeat scroll 0% 0% rgb(255, 255, 255); position: relative; }
.Board.boardCoverImage { height: 305px; width: 236px; }
.Board.boardCoverImage.noContext { height: 284px; }
.Board.boardCoverImage .boardFollowUnfollowButton, .Board.boardCoverImage .boardEditButton { bottom: 10px; left: 10px; position: absolute; }
.Board.boardCoverImage .boardLinkWrapper { display: block; padding: 10px; bottom: 0px; left: 0px; right: 0px; top: 0px; position: absolute; }
.Board.boardCoverImage img { border-radius: 2px 2px 2px 2px; }
.Board.boardCoverImage a { color: rgb(85, 85, 85); display: block; position: relative; }
.Board.boardCoverImage .icons { display: inline-block; vertical-align: middle; float: right; line-height: 14px; }
.Board.boardCoverImage .boardCoverWrapper, .Board.boardCoverImage .boardThumbs li { background-color: rgb(238, 238, 238); }
.Board.boardCoverImage .boardCoverWrapper { position: relative; overflow: hidden; clear: both; height: 146px; width: 216px; }
.Board.boardCoverImage .boardCoverWrapper:after { border-radius: 3px 3px 3px 3px; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.33) inset; content: " "; height: 146px; left: 0px; position: absolute; top: 0px; width: 216px; }
.Board.boardCoverImage .boardCoverWrapper .boardCover { border-radius: 3px 3px 3px 3px; height: 146px; width: 216px; }
.Board.boardCoverImage .boardPinCount { border-radius: 2px 2px 2px 2px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px rgba(255, 255, 255, 0.3); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7); background-color: rgba(68, 68, 68, 0.7); bottom: 3px; color: rgb(255, 255, 255); padding: 3px 6px; position: absolute; right: 3px; }
.Board.boardCoverImage .boardThumbs .thumb { width: 51px; height: 51px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll -474px 0px transparent; }
@media not all, (min-resolution: 144dppx) {
	.Board.boardCoverImage .boardThumbs .thumb { background-image: url('main-s0660ba933b.645f2696.png'); background-position: -474px 0px; background-size: 3665px 66px; }
}
.Board.boardCoverImage .boardThumbs li { display: inline; float: left; height: 51px; margin-left: 4px; position: relative; width: 51px; }
.Board.boardCoverImage .boardThumbs li:after { border-radius: 3px 3px 3px 3px; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.33) inset; content: " "; height: 51px; left: 0px; position: absolute; top: 0px; width: 51px; }
.Board.boardCoverImage .boardThumbs li .thumb { border-radius: 3px 3px 3px 3px; height: 51px; width: 51px; }
.Board.boardCoverImage .boardThumbs li:first-child { margin-left: 0px; }
.Board.boardCoverImage ul { height: 51px; margin: 4px 0px 8px; }
.Board.boardCoverImage .Button { width: 216px; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Button:focus { outline: medium none; }
.Button.btn, .Button.moreItems:hover { background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240)) repeat scroll 0% 0% rgb(247, 247, 247); text-shadow: 0px 1px rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); color: rgb(95, 95, 95); cursor: pointer; font-weight: bold; white-space: nowrap; padding: 8px 14px 7px; }
.Button.btn.rounded, .Button.moreItems.rounded:hover { border-radius: 3px 3px 3px 3px; }
.Button.btn:hover, .Button.moreItems:hover:hover { border-color: rgb(204, 204, 204) rgb(194, 194, 194) rgb(184, 184, 184); }
.Button.btn.primary, .Button.btn.primaryOnHover:hover, .Button.btn.primaryOnHover.active, .Button.btn.moreItems.primaryOnHover:hover, .Button.moreItems.primary:hover, .Button.moreItems.primaryOnHover:hover, .Button.moreItems.primaryOnHover.active:hover { background-image: linear-gradient(rgb(227, 38, 46), rgb(171, 23, 30)); box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.34); background-color: rgb(171, 23, 30); border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(175, 21, 27) rgb(154, 16, 21) rgb(130, 10, 15); color: rgb(255, 255, 255); text-shadow: 0px -1px rgba(0, 0, 0, 0.11); }
.Button.btn.primary:hover, .Button.btn.primaryOnHover:hover, .Button.btn.moreItems.primaryOnHover:hover, .Button.moreItems.primary:hover:hover, .Button.moreItems.primaryOnHover:hover:hover { background-image: linear-gradient(rgb(230, 61, 68), rgb(193, 26, 34)); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.22); border: 1px solid rgb(146, 12, 18); }
.Button.btn.primary:active, .Button.btn.primaryOnHover:active:hover, .Button.btn.primaryOnHover.active:active, .Button.btn.primary.active, .Button.btn.active.primaryOnHover, .Button.btn.active.moreItems.primaryOnHover:hover, .Button.moreItems.primary:hover:active, .Button.moreItems.primaryOnHover:hover:active, .Button.moreItems.primary.active:hover, .Button.moreItems.primaryOnHover.active:hover { background-image: linear-gradient(rgb(187, 22, 24), rgb(226, 33, 35)); box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5) inset; background-color: rgb(226, 33, 35); border-color: rgb(153, 22, 27); text-shadow: 0px 1px rgba(0, 0, 0, 0.6); }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Button.btn:active, .Button.btn.active, .Button.moreItems:hover:active, .Button.moreItems.active:hover { background: linear-gradient(rgb(240, 240, 240), rgb(255, 255, 255)) repeat scroll 0% 0% rgb(247, 247, 247); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.33) inset; border-color: rgb(184, 184, 184) rgb(194, 194, 194) rgb(204, 204, 204); }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Button.borderless { background-color: transparent; border: 0px none; margin: 0px; padding: 0px; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Button.unauthNagButton { font-size: 14px; padding: 6px 12px 7px; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Button.langaugeButton { padding-right: 40px; }
.Button.langaugeButton:before, .Button.langaugeButton:after { content: ""; position: absolute; width: 0px; height: 0px; right: 10px; margin-left: -4px; border-right: 4px solid transparent; border-left: 4px solid transparent; }
.Button.langaugeButton:before { top: 18px; border-top: 4px solid rgb(95, 95, 95); }
.Button.langaugeButton:after { top: 10px; border-bottom: 4px solid rgb(95, 95, 95); }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Button.categories { height: 30px; width: 36px; }
.Button.categories em { width: 16px; height: 16px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll -1322px 0px transparent; top: -2px; }
@media not all, (min-resolution: 144dppx) {
	.Button.categories em { background-image: url('main-s0660ba933b.645f2696.png'); background-position: -1322px 0px; background-size: 3665px 66px; }
}
.Button.categories.primary em, .Button.categories.btn.primaryOnHover:hover em, .Button.categories.btn.primaryOnHover.active em, .Button.categories.moreItems.primaryOnHover:hover em { width: 16px; height: 16px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll -1339px 0px transparent; }
@media not all, (min-resolution: 144dppx) {
	.Button.categories.primary em, .Button.categories.btn.primaryOnHover:hover em, .Button.categories.btn.primaryOnHover.active em, .Button.categories.moreItems.primaryOnHover:hover em { background-image: url('main-s0660ba933b.645f2696.png'); background-position: -1339px 0px; background-size: 3665px 66px; }
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Button.scrollToTop { font-size: 0px; padding: 10px 14px 18px; }
.Button.scrollToTop em { width: 14px; height: 20px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll -2160px 0px transparent; display: inline-block; vertical-align: middle; font: 0px/0 serif; text-shadow: none; color: transparent; }
@media not all, (min-resolution: 144dppx) {
	.Button.scrollToTop em { background-image: url('main-s0660ba933b.645f2696.png'); background-position: -2160px 0px; background-size: 3665px 66px; }
}
.Button.categories { padding: 3px 0px 0px; }
a.Button { -moz-box-sizing: border-box; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.DropdownButton { display: inline-block; vertical-align: middle; position: relative; }
.DropdownButton > .Button { display: inline-block; vertical-align: middle; }
.DropdownButton > .Button:active, .DropdownButton > .Button.active { box-shadow: none; }
.DropdownButton.categoriesButton .categories { padding: 3px 0px 0px; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.Header .headerBackground { box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(0, 0, 0, 0.1); background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 44px; position: fixed; z-index: 670; }
.Header .ui-TypeaheadField .ui-Typeahead { margin: 0px 1px; padding-top: 30px; position: relative; top: -30px; z-index: 669; }
.Header .headerContainer { display: block; height: 29px; overflow: visible; padding: 7px 0px 0px; position: fixed; z-index: 680; }
.Header .headerContainer .leftHeaderContent { float: left; margin-left: 7px; width: 236px; }
.Header .headerContainer .rightHeaderContent { float: right; margin-right: 7px; width: 236px; }
.Header .categoriesButton { float: left; margin-right: 6px; }
.Header .ui-SearchForm { float: left; }
.Header .logo { left: 50%; margin-left: -52px; margin-top: 16px; position: absolute; top: -7px; }
.Header .unauthActions { float: right; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.InfoBarBase { background: linear-gradient(rgb(243, 243, 243), rgb(229, 229, 229)) repeat scroll 0% 0% rgb(236, 236, 236); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14); overflow: hidden; border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.2) rgb(212, 212, 212); clear: both; color: rgb(51, 51, 51); height: 44px; line-height: 44px; margin-bottom: 2px; max-width: 10000px; position: relative; }
.InfoBarBase li:first-child a.active { box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.05) inset; }
.InfoBarBase li:last-child a.active { box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.05) inset; }
.InfoBarBase li a, .InfoBarBase li span { box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9) inset; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); color: rgb(119, 119, 119); display: block; font-weight: bold; padding: 1px 20px 0px; }
.InfoBarBase li a:hover, .InfoBarBase li a.active, .InfoBarBase li span:hover, .InfoBarBase li span.active { background: linear-gradient(rgb(255, 255, 255), rgb(244, 244, 244)) repeat scroll 0% 0% rgb(249, 249, 249); color: rgb(51, 51, 51); }
.InfoBarBase li a:active, .InfoBarBase li span:active { background: url('infobaractiveshadowleftside.f3c357d8.png') repeat-y scroll left top, url('infobaractiveshadowrightside.467b8210.png') repeat-y scroll right top, linear-gradient(rgb(255, 255, 255), rgb(244, 244, 244)) repeat scroll 0% 0% transparent; color: rgb(0, 0, 0); }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.NagBase { max-width: 1000px; position: relative; }
.NagBase .message { border-radius: 3px 3px 3px 3px; background: linear-gradient(rgb(255, 247, 203), rgb(255, 244, 183)) repeat scroll 0% 0% rgb(255, 245, 193); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33); color: rgb(113, 113, 113); font-size: 15px; margin: 0px 7px; padding: 1em; }
@media not all, (min-resolution: 144dppx) {
}
.NagNoScript { left: 50%; margin-left: -368px; position: fixed; top: 0px; width: 736px; z-index: 680; }
.NagNoScript.Module { display: block; }
.Header ~ .NagNoScript { top: 44px; z-index: auto; }
.NagUnauth.fbHidden .facepileWrapper { display: none; }
.NagUnauth.sticky { height: 120px; }
.NagUnauth.sticky.fbHidden { height: 42px; }
.NagUnauth.sticky .centeredContent { position: relative; }
.NagUnauth.sticky .message { border-radius: 0px 0px 0px 0px; left: 0px; margin: 0px; position: fixed; right: 0px; top: 44px; z-index: 669; }
.NagUnauth.sticky .messageContent { margin: 0px 7px; }
.NagUnauth.sticky .facepileWrapper { margin: 16px 7px 0px; }
.NagUnauth.sticky .buttonsWrapper { right: 7px; top: -7px; }
.NagUnauth .messageContent { text-shadow: 0px 1px 0px rgb(255, 255, 255); float: left; margin: 0px; }
.NagUnauth .facepileWrapper { overflow: hidden; border-top: 1px solid rgb(231, 223, 179); float: left; margin-top: 16px; padding-top: 6px; width: 100%; }
.NagUnauth .facepileWrapper .fbIframe { overflow: hidden; border: medium none; width: 600px; height: 48px; }
.NagUnauth .buttonsWrapper { position: absolute; right: 14px; top: 7px; }
.NagUnauth .message { overflow: hidden; }
.NagUnauth .loginButton { float: right; }
.NagUnauth .joinButton { float: left; margin-right: 7px; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.ScrollToTop { transform: translateY(80px); transition-duration: 0.25s; transition-property: -webkit-transform, -moz-transform, -o-transform, transform; bottom: -10px; position: fixed; right: 14px; visibility: hidden; z-index: 652; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.UserBoards .item {  }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.UserInfoBar { text-align: center; }
.UserInfoBar li { display: inline; float: left; }
.UserInfoBar .UserFollowButton { margin-top: -1px; position: relative; z-index: 1; }
.UserInfoBar .followersFollowingLinks, .UserInfoBar .userStats { overflow: hidden; position: absolute; top: 0px; }
.UserInfoBar .userStats { left: 0px; }
.UserInfoBar .userStats li { border-right: 1px solid rgb(205, 205, 205); }
.UserInfoBar .followersFollowingLinks { right: 0px; }
.UserInfoBar .followersFollowingLinks li { border-left: 1px solid rgb(205, 205, 205); }
.UserProfileContent { position: relative; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.UserProfileHeader { display: table; margin: 14px auto; }
.UserProfileHeader:after { content: ""; display: table; clear: both; }
.UserProfileHeader .header { border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33); background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); float: left; height: 153px; position: relative; width: 736px; }
.UserProfileHeader .userProfileImage { float: left; position: relative; width: 153px; }
.UserProfileHeader .userProfileImage .profileImage { border-radius: 4px 0px 0px 4px; height: 153px; width: 153px; }
.UserProfileHeader .userProfileImage:after { box-shadow: -1px 0px rgba(0, 0, 0, 0.1) inset; content: " "; height: 153px; left: 0px; position: absolute; top: 0px; width: 153px; }
.UserProfileHeader .userInformation { float: left; padding-left: 14px; width: 555px; }
.UserProfileHeader .userProfileHeaderName { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: rgba(21, 21, 21, 0.8); font-size: 27px; font-weight: bold; margin-bottom: 2px; margin-left: -2px; margin-top: 12px; }
.UserProfileHeader .userProfileHeaderBio { overflow: hidden; clear: both; color: rgb(119, 119, 119); font-size: 17px; line-height: 22px; margin: 0px 0px 14px; max-height: 55px; word-wrap: break-word; }
.UserProfileHeader .userProfileHeaderLocationAndLinks { overflow: hidden; font-family: "Helvetica","Hiragino Kaku Gothic Pro",sans-serif; font-weight: bold; bottom: 15px; color: rgb(119, 119, 119); font-size: 13px; position: absolute; }
.UserProfileHeader .userProfileHeaderLocationAndLinks .userProfileHeaderLocationWrapper { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: rgb(119, 119, 119); line-height: 19px; height: 19px; max-width: 180px; padding-left: 20px; position: relative; }
.UserProfileHeader .userProfileHeaderLocationAndLinks .locationIcon { width: 15px; height: 18px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll -1862px 0px transparent; left: 0px; position: absolute; top: 0px; }
@media not all, (min-resolution: 144dppx) {
	.UserProfileHeader .userProfileHeaderLocationAndLinks .locationIcon { background-image: url('main-s0660ba933b.645f2696.png'); background-position: -1862px 0px; background-size: 3665px 66px; }
}
.UserProfileHeader .userProfileHeaderLocationAndLinks li { float: left; }
.UserProfileHeader .userProfileHeaderLocationAndLinks .separator { background: url('social_network_separator.bd2ce808.png') no-repeat scroll 5px 9px transparent; display: block; padding-left: 12px; }
.UserProfileHeader .userProfileHeaderLocationAndLinks .separator:first-child { background: none repeat scroll 0% 0% transparent; padding-left: 0px; }
.UserProfileHeader .userProfileHeaderLocationAndLinks .separator a { background-position: right center; background-repeat: no-repeat; display: block; height: 19px; }
.UserProfileHeader .userProfileHeaderLocationAndLinks .separator .twitter { width: 18px; height: 15px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll -3298px 0px transparent; display: inline-block; vertical-align: middle; font: 0px/0 serif; text-shadow: none; color: transparent; }
@media not all, (min-resolution: 144dppx) {
	.UserProfileHeader .userProfileHeaderLocationAndLinks .separator .twitter { background-image: url('main-s0660ba933b.645f2696.png'); background-position: -3298px 0px; background-size: 3665px 66px; }
}
.UserProfileHeader .userProfileHeaderLocationAndLinks .separator .facebook { width: 16px; height: 16px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll -1031px 0px transparent; display: inline-block; vertical-align: middle; font: 0px/0 serif; text-shadow: none; color: transparent; }
@media not all, (min-resolution: 144dppx) {
	.UserProfileHeader .userProfileHeaderLocationAndLinks .separator .facebook { background-image: url('main-s0660ba933b.645f2696.png'); background-position: -1031px 0px; background-size: 3665px 66px; }
}
.UserProfileHeader .userProfileHeaderLocationAndLinks .separator .website { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 19px; max-width: 200px; }
@media not all, (min-resolution: 144dppx) {
}
.UserProfileHeader .userProfileHeaderRepinsFrom { border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33); background: none repeat scroll 0% 0% rgb(255, 255, 255); float: left; height: 126px; margin-left: 14px; margin-top: -1px; padding: 14px; width: 208px; }
.UserProfileHeader .userProfileHeaderRepinsFrom h3 { font-family: "Helvetica","Hiragino Kaku Gothic Pro",sans-serif; font-weight: bold; color: rgb(86, 86, 86); font-size: 13px; margin-top: 0px; margin-bottom: 13px; }
.UserProfileHeader .userProfileHeaderRepinsFrom img { border-radius: 4px 4px 4px 4px; height: 30px; margin-right: 4px; width: 30px; }
.UserProfileHeader .userProfileHeaderRepinsFrom li { margin-bottom: 5px; }
.UserProfileHeader .userProfileHeaderRepinsFrom a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-family: "Helvetica","Hiragino Kaku Gothic Pro",sans-serif; font-weight: bold; color: rgb(119, 119, 119); display: block; }
.UserProfileHeader .userProfileHeaderRepinsFrom a:hover { color: rgb(68, 68, 68); }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media screen and (min-width: 1300px) {
}
@media not all, (min-resolution: 144dppx) {
}
.ui-SearchForm { position: relative; text-align: left; width: 194px; }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.ui-SearchForm .ui-TypeaheadField { float: left; width: 195px; }
.ui-SearchForm .submit { width: 16px; height: 17px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll -2175px 0px transparent; display: inline-block; vertical-align: middle; font: 0px/0 serif; text-shadow: none; color: transparent; border: medium none; position: absolute; right: 9px; top: 7px; z-index: 671; }
@media not all, (min-resolution: 144dppx) {
	.ui-SearchForm .submit { background-image: url('main-s0660ba933b.645f2696.png'); background-position: -2175px 0px; background-size: 3665px 66px; }
}
.ui-SearchForm .submit:hover { width: 16px; height: 17px; background: url('main-s61b0cc180c.091729a9.png') no-repeat scroll -2254px 0px transparent; display: inline-block; vertical-align: middle; font: 0px/0 serif; text-shadow: none; color: transparent; }
@media not all, (min-resolution: 144dppx) {
	.ui-SearchForm .submit:hover { background-image: url('main-s0660ba933b.645f2696.png'); background-position: -2254px 0px; background-size: 3665px 66px; }
}
.ui-Typeahead { box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.44); }
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
@media not all, (min-resolution: 144dppx) {
}
.NagBase { display: none; }
