/* ::::: http://www.greenpeace.org/mediterranean/Global/mediterranean/css/style.css ::::: */

body { font: 100%/1.4 Arial,Helvetica,sans-serif; background: url('bg-body.png') repeat-x scroll center top rgb(255, 255, 255); margin: 0px; padding: 0px; color: rgb(77, 83, 95); }
h1, h2, h3, h4, h5, h6, p { margin-top: 0px; padding-right: 15px; padding-left: 15px; }
h1 { margin: 40px 0px 10px; font-size: 30px; color: rgb(102, 204, 0); font-weight: normal; }
h2 { margin: 40px 0px 10px; font-size: 14px; color: rgb(102, 204, 0); font-weight: bold; }
p { margin: 0px; padding: 0px 15px; }
p.description { font-size: 14px; }
p.links { font-size: 14px; font-weight: bold; text-transform: uppercase; margin-bottom: 30px; }
p.gpilink { font-size: 12px; }
a:link { color: rgb(255, 102, 0); text-decoration: none; }
a:visited { color: rgb(255, 102, 0); text-decoration: none; }
a:hover, a:active, a:focus { color: rgb(70, 127, 13); text-decoration: none; }
.gpilink a:link { color: rgb(77, 83, 95); text-decoration: underline; }
.gpilink a:visited { color: rgb(77, 83, 95); text-decoration: underline; }
.gpilink a:hover, a:active, a:focus { color: rgb(70, 127, 13); text-decoration: none; }
.container { width: 960px; margin: 0px auto; }
.header { height: 70px; }
.content { padding: 10px 0px; }
.darkgreen { color: rgb(70, 127, 13); }
