/* ::::: https://abs.twimg.com/a/1381705457/stylesheets/twitter.css?1381790456 ::::: */

.first { margin-top: 0px; padding-top: 0px; }
.clearfix {  }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.offscreen { position: absolute; left: -9999px; overflow: hidden; }
.round {  }
#footer { text-align: center; padding: 8px 0px; margin-top: 0.7em; line-height: 1; background: none repeat scroll 0% 0% rgb(255, 255, 255); white-space: nowrap; }
#footer li { display: inline; padding: 0px 4px; }
#footer li.first:before { content: ""; padding-right: 0px; }
#footer.wide { width: 100%; }
* { margin: 0px; padding: 0px; }
fieldset, img { border-width: 0px; border-color: transparent; }
a { text-decoration: none; color: rgb(34, 118, 187); }
a:hover { text-decoration: underline; }
ul { list-style: none outside none; }
body { text-align: center; font: 0.75em 'Lucida Grande',sans-serif; color: rgb(51, 51, 51); }
#container { width: 763px; margin: 1em auto; text-align: left; position: relative; z-index: 1; }
#loader { position: absolute; top: 0.7em; right: -25px; padding: 0px; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); font-size: 10px; line-height: 0; z-index: 999; }
.wrapper { padding: 5px 10px 15px; }
table.zebra-striped tbody tr:nth-child(2n+1) td { background-color: rgba(204, 234, 243, 0.25) ! important; }
#notifications { position: fixed; top: 0px; left: 0px; width: 100%; overflow: visible; z-index: 10000; }
.more::-moz-focus-inner { border: 0px none; }
.tip { color: rgb(51, 51, 51); background-color: rgb(229, 238, 242); border: 1px solid rgb(199, 224, 237); padding: 10px; margin: 20px 0px; }
.btn::-moz-focus-inner { padding: 0px; border: 0px none; }
.button::-moz-focus-inner { padding: 0px; border: 0px none; }
:focus {  }
#signin_submit::-moz-focus-inner { padding: 0px; border: 0px none; }
/* ::::: https://abs.twimg.com/a/1381705457/stylesheets/geo.css?1381790456 ::::: */

/* ::::: https://abs.twimg.com/a/1381705457/stylesheets/buttons_new.css?1381790456 ::::: */

.button::-moz-focus-inner { padding: 0px; border: 0px none; }
:focus {  }
/* ::::: https://abs.twimg.com/a/1381705457/stylesheets/layout_newtwitter.css?1381790456 ::::: */

body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
a { color: rgb(45, 118, 185); }
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; font-weight: normal; line-height: 1; }
h2 { margin-bottom: 5px; font-size: 24px; }
h3 { margin: 10px 0px 5px; font-size: 20px; }
p { margin: 0px 0px 15px; font-size: 13px; line-height: 18px; }
body, body.phoenix-skybar { padding-top: 60px ! important; }
div#container { width: 920px; margin: 0px auto; padding: 0px 40px; font: 13px/18px "Helvetica Neue",Helvetica,Arial,sans-serif; }
div#pageContent { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 5px 5px 5px 5px; box-shadow: 0px 1px 3px rgb(168, 207, 229); }
div#footer { background: none repeat scroll 0% 0% transparent; padding: 5px 0px 20px; border-radius: 0px 0px 0px 0px; }
div#footer ul li { color: rgba(0, 0, 0, 0.5); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); }
div.wrapper { padding: 20px; }
/* ::::: https://twitter.com/t1/css/sprites.css ::::: */

i, .icon { display: inline-block; vertical-align: text-top; background-image: url('twitter_web_sprite_icons_001.png'); background-position: 0px 0px; background-repeat: no-repeat; }
.bird-topbar-etched, .bird-topbar-blue, .bird-topbar-white { width: 24px; height: 21px; }
.bird-corpbar, .bird-topbar-phx { float: left; padding: 7px 20px 9px; }
.bird-corpbar:hover, .bird-topbar-phx:hover { background-color: rgba(255, 255, 255, 0.1); }
.bird-topbar-white { background-position: -120px 0px; }
body { background: url('bg-clouds.png') repeat-x scroll 0% 0% rgb(192, 222, 237); }
/* ::::: https://abs.twimg.com/a/1381705457/stylesheets/internal.css?1381790456 ::::: */

/* ::::: https://abs.twimg.com/a/1381705457/stylesheets/terms.css?1381790456 ::::: */

#container p, #container ol, #container address { line-height: 1.4em; padding-left: 12px; }
#container p, #container address { line-height: 1.5em ! important; padding-bottom: 10px; padding-top: 10px; margin-bottom: 0px; text-align: justify; width: 95%; }
#container p em { font-family: Lucida Sans,Lucida Grande,Arial,sans-serif; }
#container p.tip { padding: 5px 10px; margin: 0px 0px 26px 12px; display: block; width: 91.3%; color: rgb(68, 68, 68); border: 1px solid rgb(241, 241, 241); text-align: left; }
#container span.tip { color: rgb(255, 255, 255); display: inline; padding: 1px 9px 2px 5px; font: 9px/11px Lucida Grande,Tahoma,Arial,sans-serif; margin: 0px 4px 0px 0px; background: url('arrow-small-right.gif') no-repeat scroll right center rgb(255, 204, 0); border: medium none; vertical-align: baseline; }
#container ul { margin-left: 30px; }
#container ol li, #container ul li { padding-bottom: 8px; line-height: 1.5em; }
#container ul { list-style-type: disc; }
h3 { margin: 0px 0px 0px 8px; padding-top: 40px; padding-bottom: 10px; }
/* ::::: https://abs.twimg.com/a/1381705457/stylesheets/layout_newtwitter_topbar.css?1381790456 ::::: */

div#top-stuff { position: fixed; top: 0px; right: 0px; left: 0px; z-index: 1000; text-align: left; }
div#top-stuff div.topbar {  }
div#top-stuff div.topbar div.topbar-inner { width: 1060px; margin: 0px auto; position: relative; z-index: 1005; }
div#top-stuff div.fixed-container, div#top-stuff div.topbar-container { width: 920px; margin: 0px auto; }
div#banners { text-align: left; line-height: 1; }
div.topbar { position: relative; width: 100%; height: 40px; color: rgb(255, 255, 255); font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; }
div.topbar-bg { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 0; background-color: rgb(51, 51, 51); background-image: linear-gradient(rgb(51, 51, 51), rgb(17, 17, 17)); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset; }
div.topbar a { text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); }
div.topbar ul { display: block; margin: 0px; }
div.topbar ul.secondary-nav { float: right; margin: 0px -10px 0px 0px; }
div.topbar ul li { display: block; float: left; font-size: 13px; }
div.topbar ul li a { display: block; float: none; padding: 10px 10px 11px; color: rgb(187, 187, 187); line-height: 19px; text-decoration: none; }
div.topbar ul li a:hover { color: rgb(255, 255, 255); text-decoration: none; }
div.topbar ul.secondary-nav { margin-right: 8px; }
div.topbar ul li.account { position: relative; }
div.topbar ul li ul { background: none repeat scroll 0% 0% rgb(18, 18, 18); float: left; display: none; position: absolute; top: 40px; min-width: 160px; max-width: 220px; margin-left: 0px; padding: 0px; text-align: left; border: 0px none; border-radius: 0px 0px 5px 5px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6); }
div.topbar ul.secondary-nav li ul { right: 0px; }
div.topbar ul li ul li { float: none; clear: both; display: block; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1); font-size: 12px; }
div.topbar ul li ul li a { display: block; padding: 6px 15px; clear: both; font-weight: normal; line-height: 19px; color: rgb(187, 187, 187); }
div.topbar ul li ul li a:hover { background-color: rgba(255, 255, 255, 0.1); color: rgb(255, 255, 255); }
div.topbar ul li ul li a:hover { background-color: rgba(255, 255, 255, 0.1); color: rgb(255, 255, 255); }
div#corpBar div.topbar-bg { background-color: rgb(0, 160, 209); background-image: linear-gradient(rgb(0, 160, 209), rgb(0, 141, 184)); }
div#corpBar ul li a { color: rgb(255, 255, 255); }
div#corpBar ul li ul { background: none repeat scroll 0% 0% rgb(20, 47, 60); }
div#corpBar ul li ul li { background: none repeat scroll 0% 0% transparent; }
div#top-stuff div#corpBar div.topbar-inner, div#top-stuff div#corpBar div.fixed-container, div#top-stuff div#corpBar div.topbar-container { width: 980px; min-width: 980px; max-width: 980px; }
div#top-stuff div#corpBar div.fixed-container, div#top-stuff div#corpBar div.topbar-container { margin: 0px; }
body { padding-top: 60px ! important; }
div.topbar form.turn-phx-off-form button::-moz-focus-inner { padding: 0px; }
@media not all {
}
#top-bar form.turn-phx-off-form button::-moz-focus-inner { padding: 0px; }
