/* ::::: http://www.greenpeace.org/usa/Templates/Planet3/Styles/all.css?v=3.62 ::::: */

body { margin: 0px; font: 12px Verdana,Geneva,Arial,Helvetica,sans-serif; background: url('bg-body_007.gif') repeat-x scroll 0% 0% rgb(255, 255, 255); min-width: 960px; }
p { font: 12px/18px Verdana,Geneva,Arial,Helvetica,sans-serif; }
img { border: medium none; }
a { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { text-decoration: underline; }
form, fieldset { margin: 0px; padding: 0px; border: medium none; }
input, select, textarea { vertical-align: middle; font: 10px Verdana,Geneva,Arial,Helvetica,sans-serif; }
#header:after { content: ""; display: block; clear: both; }
#header { width: 960px; margin: 0px auto; }
.heading { width: 100%; overflow: hidden; margin: 0px; padding: 6px 0px 0px; }
h1.logo, span.logo { margin: 0px; width: 153px; height: 25px; text-indent: -9999px; overflow: hidden; position: absolute; top: 18px; left: 8px; z-index: 11; }
h1.logo a, span.logo a { display: block; background: url('logo_007.gif') no-repeat scroll 0% 0% transparent; width: 153px; height: 25px; }
.international { float: left; margin: 13px 0px 0px 180px; width: 215px; display: inline; }
.international select { width: 160px; margin: 0px; }
.tools div:after, .tools:after { content: ""; display: block; clear: both; }
.tools { float: right; margin: 0px 10px 0px 0px; padding: 0px; height: 46px; display: inline; }
.add-nav { margin: 0px; padding: 0px; list-style: none outside none; float: right; }
.add-nav li { float: left; padding: 0px 9px 0px 0px; }
.add-nav li a { font: 12px/22px Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); }
.search-form { clear: both; float: right; background: url('bg-search-form_006.gif') no-repeat scroll 0% 0% transparent; width: 271px; height: 22px; overflow: hidden; margin: 2px 0px 0px; }
.search-form .text { float: left; padding: 2px 7px; width: 235px; border: 0px none; background: none repeat scroll 0% 0% transparent; color: rgb(152, 152, 152); font: 12px Arial,Helvetica,"Trebuchet MS",sans-serif; margin: 1px 0px 0px; }
.search-form .btn-search { margin: 3px 0px 0px 3px; padding: 0px; float: left; width: 16px; height: 16px; text-indent: -9999px; border: medium none; cursor: pointer; background: url('btn-search_006.gif') no-repeat scroll 0px 0px transparent; }
.navigation { width: 100%; padding: 7px 0px 0px; }
.navigation:after, #nav:after { content: ""; display: block; clear: both; }
#nav { margin: 0px; padding: 0px 0px 0px 10px; list-style: none outside none; float: left; max-width: 680px; }
#nav li { float: left; padding: 0px 2px; position: relative; z-index: 101; }
#nav li a { float: left; cursor: pointer; }
#nav li a span { float: left; font: bold 12px/29px Helvetica,"Trebuchet MS",sans-serif; color: rgb(255, 255, 255); padding: 0px 10px; white-space: nowrap; }
#nav li a.current-item, #nav li a.active-item, #nav li a:hover { text-decoration: none; background: url('bg-nav_006.png') no-repeat scroll 0% 0% transparent; margin-right: 4px; }
#nav li a.current-item span, #nav li a.active-item span, #nav li a.hover span, #nav li a:hover span { background: url('nav-r_006.png') no-repeat scroll 100% 0px transparent; overflow: hidden; color: rgb(5, 89, 5); position: relative; }
#nav li a:hover span { position: relative; }
#nav li a.donate, #nav li a.donate-active { background: url('bg-nav-don_007.png') no-repeat scroll left top transparent; text-align: center; color: rgb(86, 176, 4); margin-right: 4px; }
#nav li a.donate span, #nav li a.donate-active span { background: url('nav-r-don_007.png') no-repeat scroll right top transparent; color: rgb(86, 176, 4); margin-right: -4px; }
#nav li a.donate:hover, #nav li a.donate-active { background-position: left bottom; }
#nav li a.donate:hover span, #nav li a.donate-active span { background-position: right bottom; color: rgb(255, 255, 255); }
#nav li:hover .drop-holder, #nav li.hover .drop-holder { display: block; }
.drop-holder { display: none; position: absolute; top: 28px; left: -100px; z-index: 100; }
.drop-content { height: 370px; width: 0px; background: none repeat scroll 0% 0% transparent; }
.drop-content ul { margin: 0px 0px 0px 104px; padding: 0px; list-style: none outside none; background: url('bg-nav1_006.gif') no-repeat scroll 0px 100% rgb(255, 255, 255); position: absolute; border: 1px solid rgb(87, 177, 5); }
#nav .drop-content ul li { float: none; width: 210px; vertical-align: middle; background-color: rgb(255, 255, 255); padding: 0px; }
#nav .drop-content ul li a { float: none; display: block; background: none repeat scroll 0% 0% transparent; font-size: 12px; height: 23px; line-height: 23px; padding: 0px 0px 0px 10px; cursor: pointer; color: rgb(0, 0, 0); position: relative; margin: 0px; width: 200px; overflow: hidden; }
#nav .drop-content ul li:hover a, #nav .drop-content ul li.hover a, #nav .drop-content ul li a:hover { background: none repeat scroll 0% 0% rgb(87, 177, 5); color: rgb(255, 255, 255); }
.page { margin: 0px auto; position: relative; width: 960px; }
#wrapper { width: 960px; }
.visual:after { content: ""; display: block; clear: both; }
.visual { height: 305px; background: none repeat scroll 0% 0% rgb(77, 83, 95); border-style: solid; border-color: rgb(66, 71, 81); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 3px 0px; padding: 0px 0px 0px 34px; width: 956px; }
.control { position: absolute; left: 18px; bottom: 0px; }
#main:after { content: ""; display: block; clear: both; }
#main { width: 946px; padding: 0px 4px 0px 10px; }
#content { width: 620px; float: left; padding: 12px 20px 0px 0px; margin: 0px -4px 0px 0px; background: url('border-fade_006.gif') no-repeat scroll right 5px transparent; }
#sidebar { float: right; position: relative; z-index: 0; width: 306px; }
.listings { overflow: hidden; margin: 10px 0px 0px; border-style: solid; border-color: rgb(234, 238, 241); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 2px 0px 5px; width: 285px; padding: 10px 0px 10px 15px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.listings h3 { margin: 0px; font-size: 16px; color: rgb(0, 51, 0); }
.listings ul { margin: 4px 0px 0px; padding: 0px; list-style: none outside none; }
.listings ul li:after { content: ""; display: block; clear: both; }
.listings ul li { background: url('bg-border2_008.png') repeat-x scroll 0px 100% transparent; padding: 15px 0px; }
.listings ul li a { font-size: 14px; color: rgb(85, 159, 12); margin-bottom: 3px; display: inline; }
.listings ul li img { float: left; margin: 0px 12px 5px 0px; }
.listings ul li p { margin: 0px; color: rgb(152, 152, 152); font-size: 12px; }
.footer-holder { width: 100%; background: url('bg-footer_007.gif') repeat-x scroll 0% 0% transparent; height: 647px; margin: 100px 0px 0px; }
#footer { width: 995px; margin: 0px auto; overflow: hidden; }
.events { padding: 0px; list-style: none outside none; overflow: hidden; height: 71px; margin: 20px 0px 0px; }
.footer-content { width: 100%; overflow: hidden; background: url('bg-footer-img_006.jpg') no-repeat scroll 0px 0px transparent; height: 468px; margin: 18px 0px 0px; position: relative; }
.footer-content ul { margin: 23px 0px 0px; list-style: none outside none; overflow: hidden; clear: both; padding: 0px; }
.footer-content ul li { float: left; width: 140px; padding: 0px 10px; }
.footer-content ul ul { margin: 0px; padding: 8px 0px 0px; list-style: none outside none; }
.footer-content ul ul li { float: none; padding: 0px 0px 6px; width: 140px; }
.footer-content ul li h4 { color: rgb(102, 204, 0); margin: 0px; font-size: 11px; }
.footer-content ul ul li a { color: rgb(203, 220, 203); font-size: 12px; }
.footer-content ul ul li a:hover { text-decoration: underline; color: rgb(254, 254, 254); }
.footer-content ul ul li a.facebook { background: url('facebook_005.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 0px 22px; }
.footer-content ul ul li a.flickr { background: url('flickr_003.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 0px 22px; }
.footer-content ul ul li a.twitter { background: url('twitter_004.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 0px 22px; }
.footer-content ul ul li a.youtube { background: url('youtube_004.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 0px 22px; }
.copy-box { width: 928px; overflow: hidden; margin: 30px 0px 0px; padding: 0px; }
.copy-box p { margin: 0px; color: rgb(255, 255, 255); font-size: 12px; }
.copy-box p span { float: left; }
.copy-box ul { margin: 0px; padding: 0px; list-style: none outside none; }
.copy-box ul li a { color: rgb(255, 255, 255); font-size: 12px; }
.privacy { float: left; }
.privacy li { float: left; padding: 0px 0px 0px 16px; }
.bottom-menu { float: right; }
.bottom-menu li { float: left; padding: 0px 0px 0px 14px; }
body.home-openspaces { background: url('bg-body1_005.gif') repeat-x scroll 0% 0% rgb(255, 255, 255) ! important; }
.home-openspaces .visual { height: 360px; padding: 0px; background: url('bg-visual_005.gif') repeat-x scroll 0% 0% rgb(40, 45, 56); position: relative; border: 0px none; width: 960px; margin: 0px; }
.openspaces { padding-top: 0px ! important; }
.h-openspaces .listings, .h-openspaces .more-to-do { border-bottom: 5px solid rgb(235, 237, 240); border-top: medium none; }
.selectArea { position: relative; float: left; }
.selectArea a.selectButton { position: absolute; top: 0px; right: -1px; outline: medium none; }
.country { color: rgb(0, 0, 0); float: left; font-size: 11px; line-height: 23px; position: relative; }
.country .center { color: rgb(255, 255, 255); display: block; font-size: 16px; height: 21px; line-height: 17px; padding: 2px 56px 0px 10px; }
.country a.selectButton { background: url('select-button_007.gif') no-repeat scroll 0% 0% transparent; height: 22px; position: absolute; right: -1px; top: 0px; width: 54px; }
* { outline-style: none; }
body.article, body.home-openspaces { background-color: rgb(255, 255, 255); }
p a { color: rgb(70, 127, 13); }
.visual-wrapper { width: 960px; margin-left: 0px; }
#header, #footer { width: 960px; }
.heading, .optionsDivVisible { font-family: Arial,Helvetica,sans-serif; }
#header div.international { width: auto; }
#header .country .center { padding-right: 66px; }
#nav li a.active span, #nav li a:hover span, #nav li a.current-item span, #nav li a.active-item span { margin-right: -4px; }
.hide { display: none; }
#sidebar > div > p { margin: 0px; }
div.control a { height: 28px; margin: 0px; display: inline-block; }
div.control a.left { width: 21px; background: url('control-left_004.png') no-repeat scroll 0% 0% transparent; }
div.control a.right { width: 21px; background: url('control-right_004.png') no-repeat scroll 0% 0% transparent; }
div.control a.item { width: 13px; background: url('control-inactive_004.png') no-repeat scroll 0% 0% transparent; }
div.control a.item.active { width: 13px; background: url('control-active_004.png') no-repeat scroll 0% 0% transparent; }
#sidebar .listings { background-color: rgb(255, 255, 255); }
.listings h3, .related-images h3 { font-family: Arial,Helvetica,sans-serif; }
#content .listings { width: 605px; }
#content .listings h3, #content .related-images h3 { font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: rgb(0, 51, 0); }
#content .listings ul li p { margin: 0px; }
body.home-openspaces #sidebar, body.m-openspaces #sidebar { margin-top: 5px; }
.print-only { display: none; }
.pin-footer-to-bottom-page p { margin: 0px; }
/* ::::: http://www.greenpeace.org/usa/en/Stylesheets/modifications/ ::::: */

h1 { color: rgb(102, 204, 0); font-weight: normal; }
h2 { color: rgb(51, 51, 51); font-weight: normal; }
.add-nav li a { font-weight: bold; }
#nav li a span { padding-right: 7px; padding-left: 7px; }
.left { width: 195px; margin-right: 15px; float: left; }
#content ul { overflow: hidden; }
.act { background: url('act-arrow_001.png') no-repeat scroll 0px 4px transparent; padding-left: 14px; }
/* ::::: http://www.greenpeace.org/usa/en/Stylesheets/prehome/ ::::: */

