/* ::::: https://p3-admin.greenpeace.org/international/Templates/Planet3/Styles/all.css?v=3.62 ::::: */

body { margin: 0px; font: 12px Verdana,Geneva,Arial,Helvetica,sans-serif; background: url('bg-body.gif') repeat-x scroll 0% 0% rgb(255, 255, 255); min-width: 960px; }
p { font: 12px/18px Verdana,Geneva,Arial,Helvetica,sans-serif; }
img { border: medium none; }
a { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { text-decoration: underline; }
form, fieldset { margin: 0px; padding: 0px; border: medium none; }
input, select, textarea { vertical-align: middle; font: 10px Verdana,Geneva,Arial,Helvetica,sans-serif; }
#header:after { content: ""; display: block; clear: both; }
#header { width: 960px; margin: 0px auto; }
.heading { width: 100%; overflow: hidden; margin: 0px; padding: 6px 0px 0px; }
h1.logo, span.logo { margin: 0px; width: 153px; height: 25px; text-indent: -9999px; overflow: hidden; position: absolute; top: 18px; left: 8px; z-index: 11; }
h1.logo a, span.logo a { display: block; background: url('logo.gif') no-repeat scroll 0% 0% transparent; width: 153px; height: 25px; }
.international { float: left; margin: 13px 0px 0px 180px; width: 215px; display: inline; }
.international select { width: 160px; margin: 0px; }
.tools div:after, .tools:after { content: ""; display: block; clear: both; }
.tools { float: right; margin: 0px 10px 0px 0px; padding: 0px; height: 46px; display: inline; }
.add-nav { margin: 0px; padding: 0px; list-style: none outside none; float: right; }
.add-nav li { float: left; padding: 0px 9px 0px 0px; }
.add-nav li a { font: 12px/22px Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); }
.search-form { clear: both; float: right; background: url('bg-search-form.gif') no-repeat scroll 0% 0% transparent; width: 271px; height: 22px; overflow: hidden; margin: 2px 0px 0px; }
.search-form .text { float: left; padding: 2px 7px; width: 235px; border: 0px none; background: none repeat scroll 0% 0% transparent; color: rgb(152, 152, 152); font: 12px Arial,Helvetica,"Trebuchet MS",sans-serif; margin: 1px 0px 0px; }
.search-form .btn-search { margin: 3px 0px 0px 3px; padding: 0px; float: left; width: 16px; height: 16px; text-indent: -9999px; border: medium none; cursor: pointer; background: url('btn-search.gif') no-repeat scroll 0px 0px transparent; }
.navigation { width: 100%; padding: 7px 0px 0px; }
.navigation:after, #nav:after { content: ""; display: block; clear: both; }
#nav { margin: 0px; padding: 0px 0px 0px 10px; list-style: none outside none; float: left; max-width: 680px; }
#nav li { float: left; padding: 0px 2px; position: relative; z-index: 101; }
#nav li a { float: left; cursor: pointer; }
#nav li a span { float: left; font: bold 12px/29px Helvetica,"Trebuchet MS",sans-serif; color: rgb(255, 255, 255); padding: 0px 10px; white-space: nowrap; }
#nav li a.current-item, #nav li a.active-item, #nav li a:hover { text-decoration: none; background: url('bg-nav.png') no-repeat scroll 0% 0% transparent; margin-right: 4px; }
#nav li a.current-item span, #nav li a.active-item span, #nav li a.hover span, #nav li a:hover span { background: url('nav-r.png') no-repeat scroll 100% 0px transparent; overflow: hidden; color: rgb(5, 89, 5); position: relative; }
#nav li a:hover span { position: relative; }
#nav li a.donate, #nav li a.donate-active { background: url('bg-nav-don.png') no-repeat scroll left top transparent; text-align: center; color: rgb(86, 176, 4); margin-right: 4px; }
#nav li a.donate span, #nav li a.donate-active span { background: url('nav-r-don.png') no-repeat scroll right top transparent; color: rgb(86, 176, 4); margin-right: -4px; }
#nav li a.donate:hover, #nav li a.donate-active { background-position: left bottom; }
#nav li a.donate:hover span, #nav li a.donate-active span { background-position: right bottom; color: rgb(255, 255, 255); }
#nav li:hover .drop-holder, #nav li.hover .drop-holder { display: block; }
.drop-holder { display: none; position: absolute; top: 28px; left: -100px; z-index: 100; }
.drop-content { height: 370px; width: 0px; background: none repeat scroll 0% 0% transparent; }
.drop-content ul { margin: 0px 0px 0px 104px; padding: 0px; list-style: none outside none; background: url('bg-nav1.gif') no-repeat scroll 0px 100% rgb(255, 255, 255); position: absolute; border: 1px solid rgb(87, 177, 5); }
#nav .drop-content ul li { float: none; width: 210px; vertical-align: middle; background-color: rgb(255, 255, 255); padding: 0px; }
#nav .drop-content ul li a.drop { background: url('bullet2.gif') no-repeat scroll 95% 50% transparent; }
#nav .drop-content ul li a { float: none; display: block; background: none repeat scroll 0% 0% transparent; font-size: 12px; height: 23px; line-height: 23px; padding: 0px 0px 0px 10px; cursor: pointer; color: rgb(0, 0, 0); position: relative; margin: 0px; width: 200px; overflow: hidden; }
#nav .drop-content ul li:hover a, #nav .drop-content ul li.hover a, #nav .drop-content ul li a:hover { background: none repeat scroll 0% 0% rgb(87, 177, 5); color: rgb(255, 255, 255); }
#nav .drop-content ul li:hover a.drop, #nav .drop-content ul li.hover a.drop, #nav .drop-content ul li a.drop:hover { background: url('bullet3.gif') no-repeat scroll 95% 50% rgb(87, 177, 5); }
#nav .drop-content ul li:hover ul, #nav .drop-content ul li.hover ul { display: block; }
#nav .drop-content ul ul { margin: 0px; background-position: 0px 100%; display: none; position: absolute; left: 100%; top: -1px; }
#nav .drop-content ul ul li { padding: 0px; }
#nav .drop-content ul li:hover ul li a, #nav .drop-content ul li.hover ul li a { background: none repeat scroll 0% 0% transparent; color: rgb(0, 0, 0); padding: 0px 0px 0px 10px; margin: 0px; width: 200px; }
#nav .drop-content ul li:hover ul li:hover a, #nav .drop-content ul li.hover ul li.hover a, #nav .drop-content ul ul li a:hover { background: none repeat scroll 0% 0% rgb(87, 177, 5); color: rgb(255, 255, 255); }
.sign { margin: 0px 10px 0px 0px; padding: 0px; list-style: none outside none; float: right; display: inline; }
.sign li:first-child { background: none repeat scroll 0% 0% transparent; }
.sign li { float: left; font: bold 12px/29px Helvetica,"Trebuchet MS",sans-serif; color: rgb(0, 0, 0); background: url('separator.gif') no-repeat scroll 0px 50% transparent; padding: 0px 5px 0px 10px; display: inline; }
.sign li a { font: bold 12px/29px Helvetica,"Trebuchet MS",sans-serif; color: rgb(255, 255, 255); }
.page { margin: 0px auto; position: relative; width: 960px; }
#wrapper { width: 960px; }
.visual:after { content: ""; display: block; clear: both; }
.visual { height: 305px; background: none repeat scroll 0% 0% rgb(77, 83, 95); border-style: solid; border-color: rgb(66, 71, 81); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 3px 0px; padding: 0px 0px 0px 34px; width: 956px; }
.col { float: left; width: 185px; padding: 0px 11px 0px 0px; }
#main:after { content: ""; display: block; clear: both; }
#main { width: 946px; padding: 0px 4px 0px 10px; }
#content { width: 620px; float: left; padding: 12px 20px 0px 0px; margin: 0px -4px 0px 0px; background: url('border-fade.gif') no-repeat scroll right 5px transparent; }
.breadcrumbs { margin: 0px; padding: 0px 0px 10px 10px; list-style: none outside none; overflow: hidden; height: 1%; }
.breadcrumbs li { float: left; font: bold 10px Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(153, 153, 153); padding: 0px 0px 0px 4px; }
.breadcrumbs li a { background: url('bullet6.gif') no-repeat scroll 100% 4px transparent; font: 10px Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(70, 127, 13); padding: 0px 9px 0px 0px; }
.box { background: url('box-m.gif') repeat-y scroll 0% 0% transparent; width: 620px; height: 1%; margin: 21px 0px 0px; }
.box .holder { background: url('box-t2.gif') no-repeat scroll 0% 0% transparent; }
.box .holder .frame:after { content: ""; display: block; clear: both; }
.box .holder .frame { background: url('box-b.gif') no-repeat scroll 0px 100% transparent; width: 600px; padding: 18px 4px 42px 16px; }
.news:after { content: ""; display: block; clear: both; }
.news { width: 605px; padding: 0px 0px 0px 15px; overflow: hidden; margin: 13px 0px 0px; }
.img-holder { float: left; width: 130px; }
.hover h3 a, .news:hover h3 a { text-decoration: underline; }
.img-holder img { display: block; }
.news-content { float: left; width: 465px; background: url('bg-border2.png') repeat-x scroll 0px 100% transparent; padding: 0px 0px 12px 10px; }
.news-content a.more { background: url('bg-comments.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 3px 21px; margin: 3px 0px 0px 5px; color: rgb(14, 15, 14); font: 10px Verdana,Geneva,Arial,Helvetica,sans-serif; }
.news-content h3 { margin: -4px 0px 0px; color: rgb(0, 51, 0); font: bold 18px Verdana,Geneva,Arial,Helvetica,sans-serif; }
.news-content p { margin: 8px 0px; color: rgb(51, 51, 51); font: 12px/16px Verdana,Geneva,Arial,Helvetica,sans-serif; min-height: 30px; }
#sidebar { float: right; position: relative; z-index: 0; width: 306px; }
.accordion { padding: 0px; list-style: none outside none; position: relative; z-index: 10; margin: 0px; border-bottom: 5px solid rgb(234, 236, 243); }
.accordion ul { margin: 0px; padding: 0px; list-style: none outside none; }
.accordion li a { display: block; background: none repeat scroll 0% 0% rgb(234, 236, 243); height: 28px; line-height: 28px; padding: 0px 10px 0px 20px; color: rgb(85, 89, 100); font-weight: bold; overflow: hidden; }
.accordion li a.active { cursor: default; }
.accordion li a.active:hover { text-decoration: none; }
.accordion ul li a { line-height: 28px; height: 28px; font-weight: bold; color: rgb(114, 120, 134); padding: 0px 0px 0px 44px; background: url('nav-arrows.gif') no-repeat scroll left 7px rgb(255, 255, 255); }
.accordion ul li a.active, .accordion ul li a:hover { color: rgb(85, 159, 12); background-position: left -21px; }
.accordion ul li ul li a { font-weight: normal; padding: 0px 0px 0px 56px; background: url('nav-arrows.gif') no-repeat scroll left -46px rgb(255, 255, 255); }
.accordion ul li ul li a.active, .accordion ul li ul li a:hover { color: rgb(85, 159, 12); background-position: left -74px; }
.listings { overflow: hidden; margin: 10px 0px 0px; border-style: solid; border-color: rgb(234, 238, 241); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 2px 0px 5px; width: 285px; padding: 10px 0px 10px 15px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.listings h3 { margin: 0px; font-size: 16px; color: rgb(0, 51, 0); }
.listings ul { margin: 4px 0px 0px; padding: 0px; list-style: none outside none; }
.listings ul li:after { content: ""; display: block; clear: both; }
.listings ul li { background: url('bg-border2.png') repeat-x scroll 0px 100% transparent; padding: 15px 0px; }
.listings ul li a { font-size: 14px; color: rgb(85, 159, 12); margin-bottom: 3px; display: inline; }
.listings ul li img { float: left; margin: 0px 12px 5px 0px; }
.listings ul li p { margin: 0px; color: rgb(152, 152, 152); font-size: 12px; }
.items { margin: 0px; }
.footer-holder { width: 100%; background: url('bg-footer.gif') repeat-x scroll 0% 0% transparent; height: 647px; margin: 100px 0px 0px; }
#footer { width: 995px; margin: 0px auto; overflow: hidden; }
.events { padding: 0px; list-style: none outside none; overflow: hidden; height: 71px; margin: 20px 0px 0px; }
.footer-content { width: 100%; overflow: hidden; background: url('bg-footer-img.jpg') no-repeat scroll 0px 0px transparent; height: 468px; margin: 18px 0px 0px; position: relative; }
.footer-content ul { margin: 23px 0px 0px; list-style: none outside none; overflow: hidden; clear: both; padding: 0px; }
.footer-content ul li { float: left; width: 140px; padding: 0px 10px; }
.footer-content ul ul { margin: 0px; padding: 8px 0px 0px; list-style: none outside none; }
.footer-content ul ul li { float: none; padding: 0px 0px 6px; width: 140px; }
.footer-content ul li h4 { color: rgb(102, 204, 0); margin: 0px; font-size: 11px; }
.footer-content ul ul li a { color: rgb(203, 220, 203); font-size: 12px; }
.footer-content ul ul li a:hover { text-decoration: underline; color: rgb(254, 254, 254); }
.footer-content ul li.visit-us { background: url('map.gif') no-repeat scroll 0% 0% transparent; padding-top: 77px; }
.footer-content ul ul li a.facebook { background: url('facebook.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 0px 22px; }
.footer-content ul ul li a.flickr { background: url('flickr.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 0px 22px; }
.footer-content ul ul li a.twitter { background: url('twitter.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 0px 22px; }
.footer-content ul ul li a.youtube { background: url('youtube.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 0px 22px; }
.facts-box { position: absolute; bottom: 32px; right: 22px; background: url('bg-facts.gif') no-repeat scroll 0% 0% transparent; width: 304px; height: 193px; overflow: hidden; padding: 9px 0px 0px 16px; }
.facts-box strong { display: block; color: rgb(102, 204, 0); font-size: 12px; }
.facts-box .col { padding: 7px 0px 0px; float: left; width: 145px; }
.facts-box .col ul li { padding: 2px 0px 3px; }
.facts-box ul { margin: 0px; padding: 0px; list-style: none outside none; color: rgb(203, 220, 203); font-size: 12px; }
.facts-box .col .boat { margin: 0px 0px 0px 10px; }
.facts-box .col .boat li { background: url('boat.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 11px 25px; width: 150px; }
.facts-box .col .boat li span { display: block; font-weight: 700; width: 100px; }
.copy-box { width: 928px; overflow: hidden; margin: 30px 0px 0px; padding: 0px; }
.copy-box ul { margin: 0px; padding: 0px; list-style: none outside none; }
.copy-box ul li a { color: rgb(255, 255, 255); font-size: 12px; }
.privacy { float: left; }
.privacy li { float: left; padding: 0px 0px 0px 16px; }
.bottom-menu { float: right; }
.bottom-menu li { float: left; padding: 0px 0px 0px 14px; }
.box-holder { width: 100%; overflow: hidden; padding: 0px 0px 25px; background: url('bg-border2.png') repeat-x scroll 0px 100% transparent; }
.events-box { float: left; background: none repeat scroll 0% 0% rgb(235, 237, 240); margin: 1px 13px 0px 0px; width: 190px; }
.map-box.right, .events-box.right { float: right; }
.events-box .frame { padding: 0px 0px 3px; overflow: hidden; width: 190px; background: url('bg-events-b2.gif') no-repeat scroll 0px 100% transparent; }
a.open-img { position: relative; display: block; }
span.btn-open { position: absolute; top: 5px; right: 5px; width: 14px; height: 14px; background: url('open-img.gif') no-repeat scroll 0% 0% transparent; text-indent: -9999px; overflow: hidden; margin: 0px; }
a.open-img:hover span.btn-open { background: url('open-img-hover.gif') no-repeat scroll 0% 0% transparent; }
.events-box .frame a.open-img { overflow: hidden; width: 100%; }
.events-box span.date { display: block; color: rgb(14, 15, 14) ! important; font: 10px/15px Verdana,Geneva,Arial,Helvetica,sans-serif ! important; margin: 0px ! important; }
.map-box strong, .events-box strong { font: bold 10px Verdana,Geneva,Arial,Helvetica,sans-serif ! important; margin: 0px ! important; color: rgb(51, 51, 51); }
.map-content, .events-content { padding: 5px 8px 6px; }
.no-title p { margin: 0px ! important; }
.map-content p, .events-content p, .article .article-content .events-content p { margin: 16px 0px 0px; color: rgb(14, 15, 14); font: 10px/14px Verdana,Geneva,Arial,Helvetica,sans-serif; }
.tabs-holder:after { content: ""; display: block; clear: both; }
.tabs-holder { width: 100%; margin: 20px 0px 0px; clear: both; }
.tabs-holder h3 { margin: 0px 0px 0px 14px; font: bold 18px/25px Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(0, 51, 0); }
.tabset { width: 100%; overflow: hidden; margin: 14px 0px 0px; }
.tabset ul { margin: 0px; padding: 0px; list-style: none outside none; }
.tabset ul li { float: left; padding: 0px 1px 0px 0px; }
.tabset ul li a.tab { float: left; background: url('bg-tab-l.gif') no-repeat scroll 0% 0% transparent; }
.tabset ul li a.tab span { float: left; padding: 9px 34px 9px 15px; background: url('bg-tab-r.gif') no-repeat scroll 100% 0px transparent; overflow: hidden; font: bold 9px Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(110, 127, 139); cursor: pointer; position: relative; }
.tabset ul li a.tab span em { font-style: normal; padding: 0px 0px 0px 15px; height: 12px; overflow: hidden; background: url('bg-latestupdates-icons.gif') no-repeat scroll 0% 0% transparent; }
.marticle .tabset ul li a.tab span em, .tabset ul li a.tab:hover span em, .tabset ul li a.active span em { background-position: 0px -12px; }
.tabset ul li a.tab span em.photo { background-position: 0px -116px; }
.tabset ul li a.tab:hover span em.photo, .tabset ul li a.active span em.photo { background-position: 0px -128px; }
.tabset ul li a.tab span em.video { background-position: 0px -58px; }
.tabset ul li a.tab:hover span em.video, .tabset ul li a.active span em.video { background-position: 0px -70px; }
.tabset ul li a.tab span em.publication { background-position: 0px -87px; }
.tabset ul li a.tab:hover span em.publication, .tabset ul li a.active span em.publication { background-position: 0px -99px; }
.tabset ul li a.tab:hover { text-decoration: none; }
.tabset ul li a.tab:hover, .tabset ul li a.active { background: url('bg-tab-act-l.gif') no-repeat scroll 0% 0% transparent; }
.tabset ul li a.tab:hover span, .tabset ul li a.active span { color: rgb(2, 2, 2); background: url('bg-tab-act-r.gif') no-repeat scroll 100% 0px transparent; }
.tabs-holder div.tab { border-top: 5px solid rgb(186, 204, 217); border-bottom: 5px solid rgb(235, 237, 240); background: url('bg-inbox.gif') repeat-x scroll 0% 0% transparent; padding: 31px 0px 7px; width: 100%; }
.no-bottom-line div.tab { border-bottom: medium none; }
.img-and-text h3, .tab .news-content h3 { margin: -4px 0px 0px; color: rgb(88, 176, 6); font-weight: 400; }
.img-and-text h3 a, .tab .news-content h3 a { color: rgb(88, 176, 6); font-weight: 400; }
.tab span.date { font-size: 12px; color: rgb(154, 154, 154); }
.tab .last .news-content { background: none repeat scroll 0% 0% transparent; }
.news-holder:after { content: ""; display: block; clear: both; }
.news-holder { width: 100%; background: url('bg-border2.png') repeat-x scroll 0px 100% transparent; }
.listings a.more-items { background: url('bg-more.gif') no-repeat scroll 0px 0px transparent; color: rgb(14, 15, 14); float: left; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-size: 10px; margin: 10px 0px 0px; padding: 0px 0px 3px 21px; }
.small-box { width: 195px; margin: 0px 13px 0px 0px; }
.small-box .events-content { padding: 5px 8px 6px; }
.small-box .frame { width: 195px; background: url('bg-events-b3.gif') no-repeat scroll 0px 100% transparent; }
.tags, .topic { width: 430px; overflow: hidden; margin: 0px 0px 10px; padding: 4px 0px 0px 10pt; }
.topic strong.title, .tags strong.title { display: block; font: bold 10px/14px Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); margin: 0px; }
.tags ul { margin: 0px; padding: 0px; list-style: none outside none; }
.tags ul li { display: inline; }
.tags ul li a { font: 10px/14px Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(85, 159, 12); }
.sort { width: 100%; overflow: hidden; margin: -25px 0px 0px; height: 21px; }
.tab .news-content, .article .news-content { background: none repeat scroll 0% 0% transparent; height: 1%; overflow: hidden; width: auto; float: none; }
.tab .news, .article .news { background: url('bg-border2.png') repeat-x scroll 0px 100% transparent; padding: 13px 0px 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 15px; width: 605px; margin-top: 0px ! important; }
.tab .last .teaser-bottom-line, .tab .last { background: none repeat scroll 0% 0% transparent; }
.tab .news .img-and-text, .tab .pt_video .teaser-top { margin-bottom: 15px; }
.tab .news .img-holder { width: auto; }
.paginator { width: 605px; overflow: hidden; margin: 0px 0px 0px 15px; padding: 5px 0px 7px; background: url('bg-border2.png') repeat-x scroll 0px 100% transparent; }
.paginator a.next { float: right; background: url('bg-next.gif') no-repeat scroll 100% 0px transparent; padding: 0px 20px 0px 0px; margin: 3px 0px 0px; font: 10px/14px Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(14, 15, 14); }
.paginator a.prev { float: left; background: url('bg-prev.gif') no-repeat scroll 0% 0% transparent; padding: 0px 0px 0px 20px; margin: 3px 0px 0px; font: 10px/14px Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(14, 15, 14); }
.paginator a#disable.prev { background: url('bg-disable.gif') no-repeat scroll 0px 0px transparent; }
.paginator a#disable { background: url('bg-disable-next.gif') no-repeat scroll 100% 0px transparent; color: rgb(156, 162, 177); cursor: default; }
.paginator ul { margin: 0px auto; padding: 0px; list-style: none outside none; width: 320px; overflow: hidden; }
.paginator ul li { float: left; padding: 0px 3px; }
.paginator ul li a { display: block; padding: 0px 7px; line-height: 20px; background: none repeat scroll 0% 0% rgb(241, 244, 251); color: rgb(70, 127, 13); }
.paginator ul li a.active, .paginator ul li a:hover { text-decoration: none; background: none repeat scroll 0% 0% rgb(95, 197, 18); color: rgb(255, 255, 255); }
.result-pages { width: 605px; overflow: hidden; margin: 0px 0px 0px 15px; padding: 7px 0px 0px; }
.result-pages p { margin: 0px; font: 11px Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); }
.img-and-text { width: 100%; margin: -3px 0px 0px; }
.img-and-text img { float: left; margin-right: 5px; display: inline; }
.tabs-holder .img-and-text .date { margin: 4px 0px 0px; }
.img-and-text .img { width: 100%; overflow: hidden; padding: 6px 0px 2px; }
.multy-border { border-top-width: 0px; border-bottom-width: 5px; }
.multy-border ul li { min-height: 0px; width: 100%; overflow: hidden; padding: 9px 0px 11px ! important; }
.multy-border ul li a { padding-right: 15px; }
.multy-border ul li:first-child { padding-top: 4px ! important; }
.multy-border ul li span { font-size: 11px; color: rgb(189, 195, 209); }
.multy-border ul li p { font-size: 11px; color: rgb(189, 195, 209); }
body.home-openspaces { background: url('bg-body1.gif') repeat-x scroll 0% 0% rgb(255, 255, 255) ! important; }
.home-openspaces .visual { height: 360px; padding: 0px; background: url('bg-visual.gif') repeat-x scroll 0% 0% rgb(40, 45, 56); position: relative; border: 0px none; width: 960px; margin: 0px; }
.h-openspaces .listings, .h-openspaces .more-to-do { border-bottom: 5px solid rgb(235, 237, 240); border-top: medium none; }
.selectArea { position: relative; float: left; }
.selectArea a.selectButton { position: absolute; top: 0px; right: -1px; outline: medium none; }
.country { color: rgb(0, 0, 0); float: left; font-size: 11px; line-height: 23px; position: relative; }
.country .center { color: rgb(255, 255, 255); display: block; font-size: 16px; height: 21px; line-height: 17px; padding: 2px 56px 0px 10px; }
.country a.selectButton { background: url('select-button.gif') no-repeat scroll 0% 0% transparent; height: 22px; position: absolute; right: -1px; top: 0px; width: 54px; }
* { outline-style: none; }
body.article, body.home-openspaces { background-color: rgb(255, 255, 255); }
p a { color: rgb(70, 127, 13); }
.visual-wrapper { width: 960px; margin-left: 0px; }
#header, #footer { width: 960px; }
.heading, .optionsDivVisible { font-family: Arial,Helvetica,sans-serif; }
#header div.international { width: auto; }
#header .country .center { padding-right: 66px; }
#nav li a.active span, #nav li a:hover span, #nav li a.current-item span, #nav li a.active-item span { margin-right: -4px; }
.hide { display: none; }
#sidebar > div > p { margin: 0px; }
#sidebar .listings { background-color: rgb(255, 255, 255); }
.listings h3, .related-images h3 { font-family: Arial,Helvetica,sans-serif; }
.listings .contenttype { color: rgb(152, 152, 152); font-size: 11px; margin: 0px; }
body.home-openspaces #sidebar, body.m-openspaces #sidebar { margin-top: 5px; }
.print-only { display: none; }
div.ajaxloader { width: 100px; height: 350px; background: url('loading.gif') no-repeat scroll center center transparent; margin: auto; display: none; }
div.share_top { border-top: 5px solid rgb(235, 237, 240); height: 14px; }
#share_pos { z-index: 99; }
#share_rail { margin-left: -102px; }
div.share_sidebar { position: fixed; }
div.share_sidebar .sbutton { margin: 0px; padding: 0px 0px 6px; }
div.share_topbar .vertical, div.share_sidebar .horizontal { display: none; }
.addthis_button_email, .button_rss, .sharesimple { position: relative; background: url('bg-button-gray.png') repeat-x scroll left -20px transparent; display: inline-block; height: 20px; padding: 0px 5px 0px 22px; font-size: 11px; line-height: 18px; color: rgb(51, 102, 51) ! important; }
.addthis_button_email:hover, .button_rss:hover, .sharesimple:hover { text-decoration: none; }
span.icon { background: url('bg-icons.png') repeat-x scroll 0% 0% transparent; position: absolute; top: 3px; left: 3px; height: 14px; width: 14px; }
.sharesimple .icon { background: url('bg-icons.png') repeat-x scroll left -14px transparent; }
.addthis_button_email .btn-left, .addthis_button_email .btn-right, .button_rss .btn-left, .button_rss .btn-right, .sharesimple .btn-left, .sharesimple .btn-right { position: absolute; background: url('bg-button-gray.png') repeat-x scroll 0% 0% transparent; display: inline-block; height: 20px; width: 3px; top: 0px; left: 0px; }
.addthis_button_email .btn-right, .button_rss .btn-right, .sharesimple .btn-right { background: url('bg-button-gray.png') repeat-x scroll left -40px transparent; left: auto; right: 0px; }
.paper { position: relative; margin: 0px 0px 5px; z-index: 0; min-width: 75px; }
.paper .top-left, .paper .top-right { position: absolute; top: -1px; left: -2px; width: 21px; height: 17px; background: url('shadow-paper.png') no-repeat scroll left top transparent; }
.paper .top-right { left: auto; right: -2px; background: url('shadow-paper.png') no-repeat scroll right top transparent; }
.paper .paper-bottom { position: absolute; width: 100%; height: 26px; bottom: -10px; left: 0px; }
.paper .bottom-left, .paper .bottom-right { position: absolute; bottom: 0px; left: -2px; width: 20px; height: 26px; background: url('shadow-paper.png') no-repeat scroll left -13px transparent; }
.paper .bottom-right { left: auto; right: -2px; background: url('shadow-paper.png') no-repeat scroll right -13px transparent; }
.paper .bottom-middle { margin: 4px 18px 0px; height: 21px; background: url('shadow-paper.png') repeat-x scroll right -39px transparent; }
.paper-content { border: 1px solid rgb(232, 232, 232); background-color: rgb(251, 251, 251); padding: 10px; text-align: center; }
.box-content { margin-top: -5px; margin-bottom: -5px; color: rgb(110, 127, 139); font: 16px Georgia,serif; }
.box-content h1 { background: url('bg-border2.png') repeat-x scroll 0pt 100% transparent; padding-bottom: 10px; font-size: 24px; color: rgb(102, 204, 0); margin-top: 10px; }
.tags, .topic { padding-left: 10pt; }
#content ul { overflow: hidden; }
.small-box { margin-right: 10px; margin-top: 3px; margin-bottom: 10px; }
.events-content p { margin: 0px; }
.facts-box .col .boat { margin: -20px 0px 0px 10px; }
.footer-content a:hover { text-decoration: underline; }
