/* ::::: https://p3-admin.greenpeace.org/international/Templates/Planet3/Styles/socialmarch.css ::::: */

html, body { height: 100%; }
body { background: url('bg-wall-body.png') repeat scroll 0% 0% rgb(255, 255, 255); margin: 0px; padding: 0px; position: relative; z-index: 1; overflow: hidden; }
#content-layer a, #wall-wrap a { color: rgb(80, 158, 8); font-weight: bold; text-decoration: none; }
#content-layer a:hover, #wall-wrap a:hover { text-decoration: underline; }
#content-layer { padding: 24px; width: 300px; z-index: 6; position: absolute; top: 20px; right: 20px; background: url('bg-blacktrans-pixel.png') repeat scroll 0% 0% transparent; font: 12px/19px Verdana,Geneva,Arial,Helvetica,sans-serif; border-radius: 5px 5px 5px 5px; box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.75); }
#content-layer h1 { margin: 0px; font: bold 27px Helvetica,"Trebuchet MS",sans-serif; }
#content-layer * { color: rgb(255, 255, 255); }
#content-layer .share-button { display: inline-block; text-decoration: none; font-weight: bold; font-size: 24px; line-height: 46px; width: 100%; border: 1px solid rgb(240, 110, 14); border-radius: 5px 5px 5px 5px; background: linear-gradient(to bottom, rgb(255, 158, 11) 0px, rgb(239, 88, 0) 100%) repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); }
#content-layer .share-button:hover { text-decoration: none; }
.share-button span { padding: 0px 14px 0px 42px; margin: 0px 0px 0px 10px; font-family: Arial; }
.share-button-twitter span { background: url('twitter-bird.png') no-repeat scroll 0% 0% transparent; }
#wall-wrap { left: 0px; overflow: hidden; position: relative; top: 0px; width: 100%; z-index: 2; }
#wall { height: 100%; position: relative; width: 105%; z-index: 3; overflow: hidden; }
#wall img { height: 50px; width: 50px; border: 0px none; float: left; }
