/* ::::: https://support.cdn.mozilla.net/static/css/common-min.css?build=65c7d4a ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-size: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
h2 { font-size: 1.5em; margin: 0.83em 0px; }
b, strong { font-weight: bold; }
p, pre { margin: 1em 0px; }
dl, menu, ol, ul { margin: 1em 0px; }
menu, ol, ul { padding: 0px 0px 0px 40px; }
nav ul, nav ol { list-style: none outside none; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
form { margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="search"] { -moz-box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
body { min-width: 960px; }
[class*="grid_"] { display: inline; float: left; position: relative; margin-left: 10px; margin-right: 10px; min-height: 1px; }
.no-min[class*="grid_"] { min-height: 0px; }
.html-ltr .container_12 { margin-left: auto; margin-right: auto; padding: 0px 20px; width: 960px; }
.html-ltr .container_12 .grid_12 { width: 940px; }
.html-ltr .container_12 .grid_9 { width: 700px; }
.html-ltr .container_12 .grid_4 { width: 300px; }
.html-ltr .container_12 .grid_3 { width: 220px; }
.html-ltr .container_12 .grid_2 { width: 140px; }
.html-ltr .container_12 .suffix_1 { padding-right: 80px; }
@font-face {
	font-family: "Open Sans";
	src: url('opensans-regular-webfont.eot') format("embedded-opentype"), url('opensans-regular-webfont.woff') format("woff"), url('opensans-regular-webfont.ttf') format("truetype"), url('opensans-regular-webfont.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	src: url('opensans-semibold-webfont.eot') format("embedded-opentype"), url('opensans-semibold-webfont.woff') format("woff"), url('opensans-semibold-webfont.ttf') format("truetype"), url('opensans-semibold-webfont.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-weight: bold;
	src: url('opensans-bold-webfont.eot') format("embedded-opentype"), url('opensans-bold-webfont.woff') format("woff"), url('opensans-bold-webfont.ttf') format("truetype"), url('opensans-bold-webfont.svg') format("svg");
}
@font-face {
	font-family: "Open Sans Light";
	src: url('opensans-light-webfont.eot') format("embedded-opentype"), url('opensans-light-webfont.woff') format("woff"), url('opensans-light-webfont.ttf') format("truetype"), url('opensans-light-webfont.svg') format("svg");
}
.cf {  }
.cf:before, .cf:after { display: table; content: ""; line-height: 0; }
.cf:after { clear: both; }
@font-face {
	font-family: "MetaBold";
	src: url('metawebpro-bold.eot') format("embedded-opentype"), url('metawebpro-bold.woff') format("woff"), url('metawebpro-bold.ttf') format("truetype"), url('metawebpro-bold.svg') format("svg");
}
@font-face {
	font-family: "MetaMedium";
	src: url('metawebpro-medium.eot') format("embedded-opentype"), url('metawebpro-medium.woff') format("woff"), url('metawebpro-medium.ttf') format("truetype"), url('metawebpro-medium.svg') format("svg");
}
@font-face {
	font-family: "Moz";
	src: url('moz-regular-webfont.eot') format("embedded-opentype"), url('moz-regular-webfont.woff') format("woff"), url('moz-regular-webfont.ttf') format("truetype"), url('moz-regular-webfont.svg') format("svg");
}
@font-face {
	font-family: "Moz";
	font-weight: bold;
	src: url('moz-medium-webfont.eot') format("embedded-opentype"), url('moz-medium-webfont.woff') format("woff"), url('moz-medium-webfont.ttf') format("truetype"), url('moz-medium-webfont.svg') format("svg");
}
@font-face {
	font-family: "Komikax";
	src: url('komikax-webfont.eot') format("embedded-opentype"), url('komikax-webfont.woff') format("woff"), url('komikax-webfont.ttf') format("truetype"), url('komikax-webfont.svg') format("svg");
}
a, a:link, a:visited { color: rgb(0, 149, 221); text-decoration: none; }
a:hover { color: rgb(0, 83, 159); text-decoration: underline; }
article a:visited { color: rgb(80, 17, 179); }
body { color: rgb(72, 72, 72); font-family: 'Open Sans',Arial,Helvetica,sans-serif; font-size: 14px; min-width: 1000px; text-align: left; }
body > header { background-color: rgb(222, 231, 238); background-image: url('grain.png'), -moz-linear-gradient(center top , rgb(202, 225, 244) 0px, rgb(222, 231, 238) 65%, rgb(212, 220, 228) 100%); border-bottom: 1px solid rgb(179, 184, 188); border-top: 2px solid rgb(255, 255, 255); margin-bottom: 20px; padding-bottom: 20px; }
body > header .logo { float: left; margin-top: 20px; }
body, html { background: url('grain.png') repeat scroll 0px 0px rgb(234, 239, 242); }
footer { background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 100px 0px 0px; padding: 45px 0px 110px; text-align: left; }
footer ul { font-size: 13px; list-style: none outside none; margin: 0px; padding: 0px; }
footer ul li { margin-bottom: 8px; }
footer .fineprint { color: rgb(187, 187, 187); font-size: 12px; line-height: 160%; }
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans Light',Arial,Helvetica,sans-serif; font-weight: normal; }
h1 { font-size: 30px; }
input[type="submit"], input[type="button"], .btn, .btn:link, .btn:visited, .btn:hover { background: none repeat scroll 0% 0% padding-box rgb(255, 255, 255); border-width: 0px 0px 2px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(232, 232, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 6px 6px 6px 6px; box-shadow: 0px 0px 12px rgba(230, 230, 230, 0.2) inset, 0px 0px 0px 1px rgb(208, 208, 208); color: rgb(51, 51, 51); cursor: pointer; display: inline-block; font-family: 'Open Sans',Arial,Helvetica,sans-serif; font-size: 14px; font-weight: normal; margin: 0px 2px; padding: 1px 10px 4px; position: relative; text-align: center; text-decoration: none; z-index: 1; }
.btn:disabled { opacity: 0.5; }
.feature-box h1:not(:first-of-type) { border-top: 1px dotted rgb(193, 197, 200); margin-top: 20px; padding: 10px 0px 0px; }
.folding-section > header, [data-ui-type="folding-section"] > header { cursor: pointer; position: relative; }
.folding-section > header:after, [data-ui-type="folding-section"] > header:after { background: url('icons-sprite.png') no-repeat scroll -50px -396px transparent; content: ""; height: 16px; left: auto; margin: -8px 0px 0px; position: absolute; right: 0px; top: 50%; width: 16px; }
.folding-section { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.folding-section > header { padding: 16px 20px; text-transform: uppercase; }
.folding-section > header:after { left: auto; margin: 0px; right: 16px; top: 18px; }
.folding-section > section { padding: 0px 20px 16px; }
.logo-sprite { background-position: 50% 50%; background-repeat: no-repeat; height: 80px; width: 84px; }
.sidebar-nav { font-family: 'Open Sans',Arial,Helvetica,sans-serif; font-size: 13px; list-style: none outside none; margin: 0px; padding: 0px; text-transform: uppercase; }
.sidebar-nav > li { position: relative; }
.sidebar-nav > li > span, .sidebar-nav > li > a, .sidebar-nav > li > a:visited { background: url('grain.png') repeat scroll 0% 0% rgb(247, 250, 252); color: rgb(51, 51, 51); cursor: pointer; display: block; padding: 16px 20px; position: relative; text-decoration: none; }
.sidebar-nav > li > span:hover, .sidebar-nav > li > a:hover { background-color: rgb(248, 250, 251); color: rgb(0, 83, 159); text-decoration: none; }
.sidebar-nav > li.selected { border-bottom: 1px solid rgb(255, 255, 255); }
.sidebar-nav > li.selected > span, .sidebar-nav > li.selected > a, .sidebar-nav > li.selected > a:visited, .sidebar-nav > li.selected > a:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-color: rgb(231, 231, 231); border-style: solid; border-width: 1px 0px; color: rgb(51, 51, 51); font-family: 'Open Sans',Arial,Helvetica,sans-serif; font-weight: bold; position: relative; }
.sidebar-nav > li.selected > span:after, .sidebar-nav > li.selected > a:after { background: url('sidebar-arrow.gif') no-repeat scroll 0px 3px transparent; content: ""; height: 30px; left: 0px; margin-top: -15px; position: absolute; top: 50%; width: 15px; }
.sidebar-nav.sidebar-folding > li { border-bottom: 1px dotted rgb(193, 197, 200); position: relative; }
.sidebar-nav.sidebar-folding > li:after { display: none; }
.sidebar-nav.sidebar-folding > li:last-of-type { border: 0px none; }
.sidebar-nav.sidebar-folding > li > .sidebar-nav, .sidebar-nav.sidebar-folding > li > .folder { display: none; }
.sidebar-nav.sidebar-folding > li > span, .sidebar-nav.sidebar-folding > li > a, .sidebar-nav.sidebar-folding > li > a:visited { padding-right: 46px; }
.sidebar-nav.sidebar-folding > li > span:after, .sidebar-nav.sidebar-folding > li > a:after, .sidebar-nav.sidebar-folding > li > a:visited:after { background: url('icons-sprite.png') no-repeat scroll -50px -282px transparent; content: ""; height: 16px; left: auto; margin: -8px 0px 0px; position: absolute; top: 50%; right: 16px; width: 16px; }
.sidebar-nav .sidebar-nav > li > span, .sidebar-nav .sidebar-nav > li > a, .sidebar-nav .sidebar-nav > li > a:visited { font-size: 12px; padding: 10px 20px 10px 40px; }
.sidebar-nav .sidebar-nav > li > span:hover, .sidebar-nav .sidebar-nav > li > a:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.sidebar-nav .sidebar-nav > li.selected > a:hover { background-color: rgb(255, 255, 255); }
#aux-nav { float: right; font-size: 12px; font-weight: 600; position: relative; text-transform: uppercase; z-index: 10; }
#aux-nav > ul { float: right; list-style: none outside none; margin: 0px; padding: 0px; }
#aux-nav > ul > li { color: rgb(72, 72, 72); float: left; margin: 0px 8px 0px 0px; position: relative; }
#aux-nav > ul > li > a, #aux-nav > ul > li > a:visited, #aux-nav > ul > li > span { color: rgb(51, 51, 51); display: block; font-weight: normal; height: 42px; line-height: 40px; padding: 0px 12px; text-decoration: none; }
#aux-nav > ul > li > a.locale-picker, #aux-nav > ul > li > a.locale-picker:visited, #aux-nav > ul > li > span.locale-picker { background-image: url('icons-sprite.png'); background-position: -38px -153px; background-repeat: no-repeat; padding-left: 34px; }
#aux-nav > ul > li > a:hover { background-color: rgb(255, 255, 255); text-decoration: none; }
#aux-nav > ul > li > ul.double > li:nth-child(2n+1) { clear: left; }
#aux-nav > ul > li:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.simple-search-form { position: relative; }
.simple-search-form .submit-button { background: url('icons-sprite.png') no-repeat scroll -50px -50px transparent; border: 0px none; height: 17px; position: absolute; right: 12px; text-indent: -9999px; top: 6px; width: 17px; }
.simple-search-form .searchbox { background-color: rgb(141, 150, 158); background-image: url('grain.png'), -moz-linear-gradient(center top , rgb(141, 150, 158) 0px, rgb(168, 176, 183) 100%); border: 0px none; border-radius: 30px 30px 30px 30px; background-clip: padding-box; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset; color: rgb(255, 255, 255); font-size: 14px; height: 18px; padding: 6px 42px 6px 20px; }
.simple-search-form .searchbox:focus { outline: 0px none; }
.simple-search-form .searchbox::-moz-placeholder { color: rgb(255, 255, 255); opacity: 1; }
.simple-search-form .searchbox:-moz-placeholder { color: rgb(255, 255, 255); }
#support-search { display: block; float: right; margin: 35px 0px 0px; }
#support-search .searchbox { width: 240px; }
.announce-bar { background: url('warning-stripes.png') repeat-x scroll left top rgb(238, 255, 255); display: none; font-size: 13px; margin-bottom: 1px; min-height: 30px; line-height: 28px; overflow: auto; position: relative; }
.announce-bar:before { background: none repeat scroll 0% 0% rgb(255, 255, 255); bottom: 0px; content: ""; left: 0px; opacity: 0.5; position: absolute; right: 0px; top: 0px; }
.announce-bar.error { background-color: rgb(255, 238, 255); }
.announce-bar .grid_12 { z-index: 1; }
.announce-bar .grid_12 > * { float: left; }
.announce-bar .grid_12 .close-button { background: url('icons-sprite.png') no-repeat scroll -50px -2022px transparent; cursor: pointer; float: right; height: 15px; margin-top: 7px; width: 15px; z-index: 2; }
#announce-outdated.announce-bar .download-button, #announce-outdated.announce-bar .download-button:hover { background-color: rgb(113, 169, 42); background-image: -moz-linear-gradient(center top , rgb(129, 188, 46) 0px, rgb(99, 153, 39) 100%); border-bottom: 2px solid rgb(84, 131, 34); border-radius: 2px 2px 2px 2px; background-clip: padding-box; box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15); color: rgb(255, 255, 255); font-size: 10px; height: 18px; line-height: 18px; margin: 5px 0px 0px 8px; padding: 0px 5px; text-decoration: none; text-shadow: 1px 1px rgba(0, 0, 0, 0.35); text-transform: uppercase; }
#announce-outdated.announce-bar .download-button:before, #announce-outdated.announce-bar .download-button:hover:before { background: url('ff-logo-16x16.png') no-repeat scroll 0px 0px transparent; content: ""; height: 16px; margin: 2px 2px 0px 0px; width: 16px; }
#browserid-form { display: none; }
@media only screen and (max-device-width: 800px) {
	.mobile-banner { position: relative; width: 100%; font-size: 36pt; background: none repeat scroll 0% 0% rgb(54, 54, 54); color: rgb(255, 255, 255); text-align: center; padding: 10pt 0px; }
	.mobile-banner .close-button { background: none repeat scroll 0% 0% padding-box rgb(0, 0, 0); border: 0.5pt solid rgb(255, 255, 255); border-radius: 50% 50% 50% 50%; box-shadow: 0px 0px 3pt rgba(0, 0, 0, 0.2); cursor: pointer; height: 40pt; width: 40pt; position: absolute; left: 16pt; bottom: 12pt; font-size: 0px; }
	.mobile-banner .close-button:before { content: "✕"; font-size: 36pt; line-height: 40pt; height: 40pt; width: 40pt; text-align: center; text-indent: 0px; position: absolute; top: 1pt; left: 0px; }
}
@media only screen and (min-device-width: 801px) {
	.mobile-banner { display: none; }
}
/* ::::: https://support.cdn.mozilla.net/static/css/jqueryui/jqueryui-min.css?build=65c7d4a ::::: */

/* ::::: https://support.cdn.mozilla.net/static/css/wiki-min.css?build=65c7d4a ::::: */

h1.product-title { font-family: 'MetaBold',Arial,Helvetica,sans-serif; font-size: 46px; height: 80px; line-height: 78px; margin: 0px 0px 20px; }
h1.product-title a { color: inherit; text-decoration: inherit; }
h1.product-title .logo-sprite { float: left; margin: 0px 8px 0px 0px; }
article { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 30px; }
article h1:first-child { margin-top: 0px; padding-top: 0px; }
article > * { transition: opacity 1s ease 0s; }
.product-title #support-for { display: inline; font-size: 14px; line-height: 14px; }
.product-title #support-for > div { display: inline; position: relative; z-index: 5; }
.logged-out .product-title #support-for { display: none; }
.wait { display: none; }
.wiki-doc h1:first-child { border: 0px none; }
.wiki-doc .document-vote { margin: 10px 0px 0px; }
.wiki-doc #doc-contributors { color: rgb(136, 136, 136); font-size: 12px; padding: 6px 0px; }
.wiki-doc #doc-contributors a.user, .wiki-doc #doc-contributors a.user:visited, .wiki-doc #doc-contributors a.user:hover { color: rgb(136, 136, 136); }
#doc-content h1 { border-top: 1px dotted rgb(193, 197, 200); font-size: 26px; margin-top: 36px; padding-top: 36px; }
#doc-content #toc + h1 { border: 0px none; padding-top: 5px; }
#doc-content h2 { font-size: 19px; margin: 21px 0px 8px; }
#doc-content video, #doc-content img { margin: 0px; max-width: 100%; }
#doc-content ul, #doc-content ol, #doc-content dl { margin: 0px 0px 1em 40px; padding: 0px; }
#doc-content ul li, #doc-content ol li, #doc-content dl li { margin: 6px 0px; padding: 0px; }
#doc-content ul li p, #doc-content ol li p, #doc-content dl li p { margin: 0px; }
#doc-content ul li ol, #doc-content ol li ol, #doc-content dl li ol, #doc-content ul li ul, #doc-content ol li ul, #doc-content dl li ul, #doc-content ul li dl, #doc-content ol li dl, #doc-content dl li dl { margin: 0px 0px 0px 6px; }
#doc-content .key, #doc-content .button { background: -moz-linear-gradient(center top , rgb(240, 240, 240), rgb(252, 252, 252)) repeat scroll 0% 0% padding-box transparent; border-radius: 3px 3px 3px 3px; color: rgb(48, 48, 48); border-width: 1px 1px 2px; border-style: solid; border-color: rgb(224, 224, 224); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; white-space: nowrap; }
#doc-content .button { padding: 1px 10px; }
#doc-content .menu { background: none repeat scroll 0% 0% rgb(232, 232, 232); color: rgb(48, 48, 48); padding: 2px 4px; }
#doc-content .note, #doc-content #toc { background: none repeat scroll 0% 0% rgb(238, 242, 245); border: 1px solid rgb(228, 235, 238); margin: 20px 0px; padding: 20px 30px; }
#doc-content .note h2:first-child, #doc-content #toc h2:first-child { margin-top: 0px; }
#doc-content tr:nth-child(2n+1) { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
#doc-content .wiki-image { padding: 5px 0px; vertical-align: middle; }
#doc-related { margin-bottom: 20px; }
#doc-related > section > ul { list-style: none outside none; margin: 0px; padding: 0px; }
#doc-related > section > ul > li { padding: 10px 0px; }
#doc-related > section > ul > li a { color: rgb(72, 72, 72); }
#doc-related > section > ul > li a:hover { color: rgb(0, 83, 159); }
#doc-related > section > ul > li a:visited { color: rgb(80, 17, 179); }
#doc-tools { margin-bottom: 20px; }
#revision-list ul li:nth-child(2n+1) { background: none repeat scroll 0% 0% rgb(242, 242, 242); }
.vote-wrap { background: none repeat scroll 0% 0% rgb(238, 242, 245); border: 1px solid rgb(228, 235, 238); margin: 20px 0px; padding: 0px 30px 6px; position: relative; }
.document-vote { display: inline-block; vertical-align: top; }
aside .document-vote span { display: block; }
/* ::::: https://mozorg.cdn.mozilla.net/media/css/tabzilla-min.css ::::: */

@font-face {
	font-family: "Open Sans ExtraBoldItalic";
	font-style: normal;
	font-weight: normal;
	src: url('opensans-extrabolditalic-webfont.eot') format("embedded-opentype"), url('opensans-extrabolditalic-webfont.woff') format("woff"), url('opensans-extrabolditalic-webfont.ttf') format("truetype"), url('opensans-extrabolditalic-webfont.svg') format("svg");
}
@font-face {
	font-family: "Open Sans Light";
	font-style: normal;
	font-weight: normal;
	src: url('opensans-light-webfont_001.eot') format("embedded-opentype"), url('opensans-light-webfont_001.woff') format("woff"), url('opensans-light-webfont_001.ttf') format("truetype");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	src: url('opensans-regular-webfont_001.eot') format("embedded-opentype"), url('opensans-regular-webfont_001.woff') format("woff"), url('opensans-regular-webfont_001.ttf') format("truetype");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	src: url('opensans-bold-webfont_001.eot') format("embedded-opentype"), url('opensans-bold-webfont_001.woff') format("woff"), url('opensans-bold-webfont_001.ttf') format("truetype");
}
#tabzilla { float: right; display: block; background: url('tab.png') repeat scroll 0% 0% transparent; height: 44px; width: 150px; position: relative; text-indent: -2000px; overflow: hidden; z-index: 999; }
#tabzilla:after { background: url('undefined') repeat scroll 0% 0% rgb(255, 255, 255); content: " "; position: absolute; height: 16px; width: 16px; top: 11px; right: 23px; transform: rotate(0deg); transition: all 0.2s ease-in-out 0s; border-radius: 8px 8px 8px 8px; }
:first-child + html #tabzilla-contents {  }
@media only screen and (min-width: 720px) and (max-width: 979px) {
}
@media only screen and (max-width: 719px) {
}
