/* ::::: https://fbstatic-a.akamaihd.net/rsrc.php/v2/yj/r/Xi9R-BLhA93.css ::::: */

.timelineLayout { background: none repeat scroll 0% 0% rgb(231, 235, 242); }
.timelineLayout #globalContainer { clear: both; }
.timelineLayout #contentArea { position: relative; width: 851px ! important; }
.timelineLayout #contentCol { background: none repeat scroll 0% 0% transparent; padding-top: 0px; }
.timelineLayout #rightCol { margin-right: -5px; width: 122px; }
.timelineLayout #pageFooter { margin: 0px; overflow: hidden; width: 851px; }
.timelineLayout .copyright { margin-bottom: 10px; margin-top: 10px; }
.timelineLayout #bottomContent { display: none; }
.timelineLayout #contentCurve { background-color: transparent; }
/* ::::: https://fbstatic-a.akamaihd.net/rsrc.php/v2/yD/r/GnvlHv3iZK8.css ::::: */

/* ::::: https://fbstatic-a.akamaihd.net/rsrc.php/v2/yF/r/7ZckU3J1Zwl.css ::::: */

form { margin: 0px; padding: 0px; }
label { cursor: pointer; color: rgb(102, 102, 102); font-weight: bold; vertical-align: middle; }
label input { font-weight: normal; }
textarea, .inputtext, .inputpassword { border: 1px solid rgb(189, 199, 216); margin: 0px; padding: 3px; }
.inputtext, .inputpassword { padding-bottom: 4px; }
.inputtext:invalid, .inputpassword:invalid { box-shadow: none; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); line-height: 1.28; margin: 0px; padding: 0px; text-align: left; direction: ltr; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; }
a { color: rgb(59, 89, 152); cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
td, td.label { text-align: left; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
#facebook .hidden_elem { display: none ! important; }
body { overflow-y: scroll; }
#content { margin: 0px; outline: medium none; padding: 0px; width: auto; }
table { word-wrap: normal; }
._6kb ._6mv .UFIAddComment .UFIAddCommentInput:focus::-moz-placeholder { color: rgb(211, 214, 219); }
.fbx #pageFooter { margin: auto; width: auto; }
.navigationGrid { line-height: 20px; width: 540px; }
.navigationGrid td { padding-right: 10px; }
#pageFooter { color: rgb(115, 115, 115); font-size: 11px; margin: 0px auto; width: 980px; }
#pageFooter a { text-decoration: none; white-space: nowrap; }
#pageFooter a:last-child { margin-right: 0px; }
#pageFooter a:hover { text-decoration: underline; }
#contentCurve { border-bottom: 1px solid rgb(204, 204, 204); font-size: 1px; height: 8px; margin-bottom: 8px; }
#globalContainer { margin: 0px auto; position: relative; }
.fbx #globalContainer { width: 981px; }
.fb_content { padding-bottom: 20px; }
.fbx .fb_content { padding-bottom: 0px; }
._42ft::-moz-focus-inner { border: 0px none; padding: 0px; }
.uiButton { cursor: pointer; display: inline-block; font-size: 11px; font-weight: bold; line-height: 13px; padding: 2px 6px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; }
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover { background-image: url('7jvqyfdm5qc.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -352px -260px; background-color: rgb(238, 238, 238); border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(136, 136, 136); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
.uiButton:hover { text-decoration: none; }
.uiButton:active, .uiButtonDepressed { background: none repeat scroll 0% 0% rgb(221, 221, 221); border-bottom-color: rgb(153, 153, 153); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset; }
.uiButtonText, .uiButton input { background: none repeat scroll 0% 0% transparent; border: 0px none; color: rgb(51, 51, 51); cursor: pointer; display: inline-block; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; font-weight: bold; line-height: 13px; margin: 0px; padding: 1px 0px 2px; white-space: nowrap; }
.uiButton input::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko .uiButton input:focus { outline: thin dotted; }
.uiButtonConfirm { background-image: url('7jvqyfdm5qc.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -352px -64px; background-color: rgb(91, 116, 168); border-color: rgb(41, 68, 126) rgb(41, 68, 126) rgb(26, 53, 110); }
.uiButtonConfirm:active { background: none repeat scroll 0% 0% rgb(79, 106, 163); border-bottom-color: rgb(41, 68, 126); }
form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input { color: rgb(255, 255, 255); }
.uiLinkButton input::-moz-focus-inner { border: 0px none; padding: 0px; }
i.img {  }
i.img u { left: -1e+7px; position: absolute; }
.lfloat { float: left; }
.rfloat { float: right; }
.plm { padding-left: 10px; }
.mvl { margin-top: 20px; margin-bottom: 20px; }
.fsm { font-size: 11px; }
.fwn { font-weight: normal; }
.fcg { color: gray; }
._51mz { border: 0px none; border-collapse: collapse; border-spacing: 0px; }
.uiGrid .hLeft { text-align: left; }
._51mx:first-child > ._51m- { padding-top: 0px; }
._51mx:last-child > ._51m- { padding-bottom: 0px; }
._51mz ._51mw { padding-right: 0px; }
._51mz ._51m-:first-child { padding-left: 0px; }
.uiInputLabelRadio, .uiInputLabelCheckbox { float: left; margin: 0px; padding: 0px; }
.uiInputLabel label { color: rgb(51, 51, 51); display: block; font-weight: normal; margin-left: 17px; vertical-align: baseline; }
.uiContextualLayerParent { position: relative; }
/* ::::: https://fbstatic-a.akamaihd.net/rsrc.php/v2/ya/r/D2k8VGLpa2V.css ::::: */

button.as_link::-moz-focus-inner { border: 0px none; padding: 0px; }
html ._57du.fbChatTypeahead .textInput::-moz-placeholder { color: rgb(81, 89, 102); }
#mainContainer { margin-left: -1px; display: block; width: 100%; }
#leftCol { display: none; float: left; padding: 20px 0px 0px 2px; position: relative; width: 179px; word-wrap: break-word; }
#rightCol { margin-top: -10000px; float: right; padding-right: 0px; width: 244px; word-wrap: break-word; }
.hasRightCol #rightCol { margin-top: 0px; }
#contentCol { background-color: rgb(255, 255, 255); padding-top: 15px; }
#contentArea { margin-right: -1px; outline: medium none; padding-left: 1px; word-wrap: break-word; }
.hasLeftCol #contentArea, .hasRightCol #contentArea { float: left; margin-right: 0px; }
.hasRightCol #contentArea { width: 714px; }
#bottomContent { clear: both; padding: 0px 20px 12px; }
._5bw- .UFIAddComment .UFIAddCommentInput:focus::-moz-placeholder { color: rgb(211, 214, 219); }
/* ::::: https://fbstatic-a.akamaihd.net/rsrc.php/v2/y1/r/LQ6oOGNEypj.css ::::: */

.menu_login_container table tr { vertical-align: top; }
.menu_login_container table tr td { padding: 0px 0px 0px 14px; }
.menu_login_container .html7magic { padding-bottom: 4px; }
.menu_login_container .inputtext, .menu_login_container .inputpassword { border-color: rgb(29, 42, 91); margin: 0px; width: 142px; }
.menu_login_container .login_form_label_field label, .menu_login_container .login_form_label_field a { color: rgb(152, 169, 202); font-weight: normal; }
.menu_login_container .login_form_label_field { padding-top: 4px; }
.menu_login_container .html7magic label { color: rgb(255, 255, 255); font-weight: normal; padding-left: 1px; }
.menu_login_container #email { direction: ltr; }
.loggedout_menubar_container { background-color: rgb(59, 89, 152); height: 82px; min-width: 980px; }
.loggedout_menubar { margin: 0px auto; padding-top: 13px; width: 980px; }
.loggedout_menubar .fb_logo { margin-top: 17px; }
.sp_ezjerk { background-image: url('mkhhx4iuch0.png'); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 21px; width: 21px; }
.sx_440431 { width: 170px; height: 36px; background-position: 0px -481px; }
