html, body { margin: 0px; padding: 0px; background-color: transparent; }
.counter-wrap { height: 18px; overflow: hidden; }
.counter-number { height: 198px; width: 12px; position: relative; background-image: url('counter_ticker_bg.gif'); float: left; }
