/* ::::: http://km.support.apple.com/kb/resources/css/base_new.css ::::: */

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th { font-size: 1em; font-weight: normal; font-style: normal; }
ul, ol { list-style: none outside none; }
fieldset, img { border: medium none; }
.clear { clear: both; }
img, .search-wrapper .left, .search-wrapper .right, ul.sp-results li.viewall a, ul.sp-results li .replacementimg, #globalfooter #breadcrumbs, #globalfooter #breadcrumbs span, #directorynav .capbottom {  }
img { border: 0px none; }
#main { width: 100%; position: relative; }
#content { padding: 18px 20px; position: relative; color: rgb(51, 51, 51); }
#container:after, #content:after, .grid2col:after, .grid2cola:after, .grid2colb:after, .grid2colc:after, .grid2cold:after, .grid2cole:after, .grid2colf:after, .grid3col:after, .grid3cola:after, .grid4col:after, .grid5col:after, .grid6col:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#container, #content, .grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col {  }
body { font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); }
a { color: rgb(0, 136, 204); }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
strong, b { font-weight: bold; }
h1, h2, h3, h4 { font-weight: bold; }
h2, h3, h4 { line-height: 18px; }
h1, h2 { margin-bottom: 18px; }
h1 { font-size: 24px; line-height: 36px; }
h3 { font-size: 1em; }
p { margin-bottom: 18px; }
ul { margin-bottom: 18px; list-style: none outside none; }
ol { margin-bottom: 18px; list-style: decimal outside none; margin-left: 2.2em; }
#main .sidebar { font-size: 10px; line-height: 18px; color: rgb(51, 51, 51); }
@media screen and (max-device-width: 480px) {
	html {  }
}
/* ::::: http://km.support.apple.com/kb/resources/css/support.css ::::: */

#main h1 { font-weight: normal; }
#main ul { margin-bottom: 0px; }
@media only screen {
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
#article #articleutils { float: right; margin: 8px -10px 0px 0px; }
#article #articleutils .tool { position: relative; float: left; margin-right: 10px; font-size: 10px; color: rgb(68, 68, 68); }
@media only screen {
}
/* ::::: http://km.support.apple.com/kb/resources/css/ikb.css ::::: */

@media not all {
}
@media not all {
}
/* ::::: http://km.support.apple.com/kb/resources/css/article.css ::::: */

html { background-color: rgb(242, 242, 242); width: 100%; height: 100%; }
body { display: block; min-height: 100%; width: 980px; margin: 0px auto; padding: 0px 70px; position: relative; z-index: 1; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: medium none; border-bottom: medium none; overflow-x: hidden; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
html { background-color: rgb(242, 242, 242); }
body:before { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#content { border: medium none; box-shadow: none; padding: 0px; }
#content { padding: 0px; margin-top: 40px; }
#main.content { margin: 50px auto 0px; width: 980px; }
#article .button { border: 1px solid rgb(204, 204, 204); font-weight: bold; background: -moz-linear-gradient(100% 100% 90deg, rgb(234, 234, 234), rgb(248, 248, 248)) repeat scroll 0% 0% transparent; border-radius: 5px 5px 5px 5px; }
#article .button:hover { background: -moz-linear-gradient(100% 100% 90deg, rgb(227, 227, 227), rgb(248, 248, 248)) repeat scroll 0% 0% transparent; }
#article .button:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset; }
#article #articlecontent { font-size: 14px; line-height: 22px; }
#main-title { font-weight: normal; width: 700px; margin: 40px 100px 50px; }
#article #helpful { margin: 0px 0px 0px -70px; padding-left: 70px; width: 1050px; border-top: 1px solid rgb(217, 217, 217); }
#article #helpful .button { float: left; width: 100px; margin-left: 10px; padding: 5px 0px; text-align: center; cursor: pointer; }
#article #helpful #question-state span { float: left; padding: 5px 0px; font-size: 12px; }
#article #helpful #results { width: 300px; padding: 25px 0px; margin-left: 750px; font-size: 12px; }
#article #related #article-list li:nth-child(2n+1) { border-bottom: 1px solid rgb(217, 217, 217); }
#article #related #article-list li:nth-child(2n) { border-right: 1px solid rgb(217, 217, 217); border-bottom: 1px solid rgb(217, 217, 217); border-left: 1px solid rgb(217, 217, 217); }
#article #related #discussion-list li:nth-child(2n) { border-right: 1px solid rgb(217, 217, 217); border-left: 1px solid rgb(217, 217, 217); }
#promo { width: 980px; margin: 0px -40px 0px 0px; padding: 0px 10px; border-radius: 0px 0px 0px 0px; background-image: none; }
#related ul { display: inline; }
#related #related_articles, #related #related_discussions { width: 980px; height: 151px; margin-top: 20px; }
#related h3 { margin-left: 24px; font-size: 16px; font-weight: normal; line-height: 1.5; margin-bottom: 0.6em; }
#product .affected h3 { font-size: 16px; font-weight: normal; line-height: 1.5; }
#related { overflow: hidden; }
#articlecontent, #abstract { margin-bottom: 30px; margin-right: 100px; margin-left: 100px; }
#article #main-title { height: auto; padding-bottom: 30px; font-size: 24px; line-height: 1.3em; font-weight: normal; width: 600px; margin-top: 0px; margin-right: 40px; margin-bottom: 0px; }
#helpful { margin: 25px 0px 0px -70px; padding-left: 70px; width: 1050px; border-top: 1px solid rgb(217, 217, 217); }
#helpful .button { float: left; width: 100px; margin-left: 10px; padding: 5px 0px; text-align: center; cursor: pointer; }
#helpful #question-state { position: absolute; padding: 20px 35px; }
#helpful #question-state span { float: left; padding: 5px 0px; font-size: 12px; }
#helpful #results { width: 300px; padding: 25px 0px; margin-left: 750px; font-size: 12px; }
#related { border-top: 1px solid rgb(217, 217, 217); width: 963px; margin: 0px -40px 0px -70px; padding: 30px 80px; background: url('divider_short.jpg') no-repeat scroll 0% 0% transparent; }
#related #discussion-list li:nth-child(2n) { border-right: 1px solid rgb(217, 217, 217); border-left: 1px solid rgb(217, 217, 217); }
#helpful .button { border: 1px solid rgb(204, 204, 204); font-weight: bold; background: -moz-linear-gradient(100% 100% 90deg, rgb(234, 234, 234), rgb(248, 248, 248)) repeat scroll 0% 0% transparent; border-radius: 5px 5px 5px 5px; }
#meta { margin: 25px 0px 0px 100px; width: 1050px; font-size: 11px; color: rgb(138, 138, 138); }
#meta strong { font-size: 11px; color: rgb(138, 138, 138); }
h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); }
h1, h2, h3, h4 { font-weight: bold; }
h2, h3, h4 { line-height: 18px; }
h1, h2 { margin-bottom: 18px; }
h1 { font-size: 24px; line-height: 36px; }
h3 { font-size: 1em; }
.mod-date { font-size: 11px; margin: 25px 0px 25px 100px; }
@media only screen and (max-device-width: 768px) {
	html { background-color: rgb(255, 255, 255); }
	body { padding: 0px; box-shadow: none; }
	#content { width: 980px; }
	#article #helpful { width: 1002px; }
	#article #helpful #results { width: 230px; }
	#article #product { width: 963px; }
	#promo { width: 980px; }
	#helpful { margin: 25px 0px 0px -70px; padding-left: 70px; width: 1002px; border-top: 1px solid rgb(217, 217, 217); }
	#helpful #question-state { position: absolute; padding: 20px 45px ! important; }
	#helpful #results { width: 250px; padding: 25px 0px; margin-left: 750px; font-size: 12px; }
	#helpful #rating-done { padding: 3px 0px 3px 45px ! important; }
	#rating-send { margin: 22px 0px 0px 40px; background: url('aqua2spinner12.gif') no-repeat scroll 0% 50% transparent ! important; }
	#related { width: 902px; margin: 0px -40px 0px -60px ! important; padding: 30px 80px; background: url('divider_short.jpg') no-repeat scroll 0% 0% transparent; }
	#related ul { display: block; }
	#related #related_articles { width: 965px; height: 151px; margin-top: 20px; margin-bottom: 0px ! important; }
	#related #related_discussions { width: 965px; height: 151px; margin-top: 0px ! important; }
	#product { width: 963px ! important; margin: 0px 0px 0px -70px; padding: 40px 0px 0px 110px; border-top: 1px solid rgb(217, 217, 217); overflow: hidden; }
	#affected-container .affected li { padding: 20px 14px ! important; }
	#main.content { margin: 50px auto 0px; width: 980px; }
	#border-div { padding: 20px 40px 0px 70px; width: 963px ! important; border-top: 1px solid rgb(217, 217, 217); }
}
#articleutils { display: none; }
#product { width: 1010px; margin: 0px 0px 0px -70px; padding: 40px 0px 0px 110px; border-top: 1px solid rgb(217, 217, 217); overflow: hidden; }
retinaThumbanil, .normalThumbnail { float: left; }
#affected-container .affected li a img, #affected-container .affected li a img { width: 72px; height: 72px; }
#affected-container .affected li { display: inline-block; padding: 20px; width: 292px; position: relative; }
#affected-container .affected li span { bottom: 45px; position: absolute; left: 100px; }
#affected-container .affected li span:hover { text-decoration: underline; }
.retinaThumbanil { display: none ! important; }
.normalThumbnail { display: none ! important; }
#rating-send { display: none; position: absolute; margin: 22px 0px 0px 35px; font-size: 11px; padding: 3px 0px 3px 16px; color: rgb(102, 102, 102); }
#rating-done { display: none; position: absolute; padding: 3px 0px 3px 35px; margin: 22px 0px; font-size: 11px; color: rgb(102, 102, 102); }
#rating-send { background: url('aqua2spinner12.gif') no-repeat scroll left center transparent; }
#yes-button, #no-button { font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; background-color: transparent; color: rgb(51, 51, 51); }
#border-div { display: none; margin-left: -70px; width: 1120px; border-top: 1px solid rgb(217, 217, 217); }
#languages.language-selector { position: absolute; right: 0px; top: 4px; }
/* ::::: http://km.support.apple.com/kb/resources/css/announcement.css ::::: */

