/* ::::: http://cache.addthiscdn.com/site/core/css/core-1.0.1.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
body { line-height: 1; }
ol, ul { list-style: none outside none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
:focus { outline: 0px none; }
a:focus {  }
h1 { font-size: 25px; }
h2 { font-size: 23px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
ul { list-style: square outside none; }
li { margin-left: 30px; }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 20px; }
.container_12, .container_16 { margin-left: auto; margin-right: auto; width: 960px; }
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 { display: inline; float: left; margin-left: 10px; margin-right: 10px; }
.container_12 .grid_9, .container_16 .grid_12 { width: 700px; }
.container_12 .grid_12, .container_16 .grid_16 { width: 940px; }
.alpha { margin-left: 0px; }
.omega { margin-right: 0px; }
.container_12 .grid_2 { width: 140px; }
.container_16 .grid_3 { width: 160px; }
.container_16 .suffix_1 { padding-right: 60px; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
/* ::::: http://cache.addthiscdn.com/www/131011123969/style/site.css ::::: */

@font-face {
	font-family: "myHelveticaLight";
	src: local("Helvetica Neue Light"), local("HelveticaNeue-Light");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url('xjajxh38i15wypjxxugmbobn6udyhwbl620a-irfubk.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzhhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsnhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatxhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url('prmixeptr36kac0geaetxh_xhqygav9bl_zqbyuxnqu.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url('einbv5dfghoimmvb1xr-hnhcuogz7vygh680lgh-uxm.woff') format("woff");
}
html, body { margin: 0px; padding: 0px; width: 100%; height: 100%; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","open sans",arial,helvetica,sans-serif; font-style: normal; font-weight: 400; font-size: 14px; line-height: 1.6em; color: rgb(102, 102, 102); }
a { text-decoration: none; color: rgb(49, 172, 246); }
a:hover { text-decoration: underline; color: rgb(16, 76, 151); }
#header { background: none repeat scroll 0% 0% rgb(239, 241, 244); border-top: 4px solid rgb(255, 114, 87); border-bottom: 1px solid rgb(210, 210, 210); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); height: 66px; }
#header .container_12 { position: relative; }
#header .container_12 .grid_12 { height: 66px; }
#header h1 { display: inline; padding: 0px; margin: 0px; }
#header h1 a { display: block; background: url('bg-logo.png') no-repeat scroll left 20px transparent; width: 116px; height: 66px; overflow: hidden; text-indent: -9999px; outline: medium none; }
#header a { text-decoration: none; text-shadow: 0px 1px 0px rgb(255, 255, 255); color: rgb(49, 53, 59); }
#header a:hover { text-decoration: none; color: rgb(0, 0, 0); }
#header ul.topnav { position: absolute; top: 0px; left: 136px; display: inline; list-style: none outside none; text-align: left; margin: 0px; padding: 0px; }
#header ul.topnav li, #header ul.topnav-options li { display: inline-block; position: relative; margin: 0px; float: left; cursor: pointer; transition: background 0.15s ease-in-out 0s; }
#header ul.topnav li a, #header ul.topnav-options li a { display: block; height: 66px; line-height: 66px; padding: 0px 15px; color: rgb(0, 0, 0); }
#header ul.topnav li:hover, #header ul.topnav li a.topnav-active, #header ul.topnav-options li a:hover, #header ul.topnav-options li a.topnav-active { background: none repeat scroll 0% 0% rgb(227, 229, 232); }
#header ul.topnav-options { position: absolute; top: 0px; right: 10px; height: auto; padding: 0px; margin: 0px; overflow: hidden; }
#header ul.topnav-options .user-links { height: 66px; line-height: 66px; padding: 0px; }
#header ul.topnav-options .user-links a { display: inline; padding: 0px; }
#header ul.topnav-options .user-links a:hover { background: none repeat scroll 0% 0% transparent; text-decoration: underline; border: medium none; }
#header ul.topnav-options .user-links span { padding: 0px 2px; color: rgb(153, 153, 153); }
#header ul.topnav-options .user-links a.nav-gtc-btn { background: none repeat scroll 0% 0% rgb(255, 114, 87); border-radius: 4px 4px 4px 4px; margin: 26px 0px 26px 10px; padding: 1em 2em; line-height: 1em; text-shadow: none; font-weight: 300; color: rgb(255, 255, 255); }
#header ul.topnav-options .user-links a.nav-gtc-btn:hover { background: none repeat scroll 0% 0% rgb(240, 74, 42); text-decoration: none; }
#header .header-drop { position: absolute; top: 59px; z-index: 99999998; }
#header .header-drop .header-drop-inner { position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin-top: 7px; padding: 3px 0px; border: 1px solid rgb(187, 187, 187); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 4px rgb(204, 204, 204); line-height: 1.4em; font-size: 12px; z-index: 99999998; }
#header .header-drop .header-drop-inner ul { margin: 0px; padding: 0px; }
#header .header-drop .header-drop-inner ul li { display: block; list-style: none outside none; margin: 0px; float: none; }
#header .header-drop .header-drop-inner ul li a, #header .header-drop .header-drop-inner ul li a:active, #header .header-drop .header-drop-inner ul li span { display: block; line-height: 22px; padding: 5px 10px; transition: none 0s ease 0s ; }
#header .header-drop .header-drop-inner ul li a:hover { background: none repeat scroll 0% 0% rgb(61, 173, 253); text-decoration: none; text-shadow: none; color: rgb(255, 255, 255); }
#header .header-drop .header-drop-caret { position: absolute; top: 0px; right: 34px; display: block; background: url('bg-caret.gif') no-repeat scroll 0% 0% transparent; width: 14px; height: 8px; z-index: 99999999; }
#header .header-drop.drop-user { display: none; right: 2px; min-width: 160px; }
.topnav, .topnav-options { opacity: 0; }
#nav-options-gtc { padding-top: 26px; height: 40px; }
.banner { position: relative; padding: 15px 0px 20px; margin-bottom: 10px; }
.banner .grid_12 { position: relative; }
.banner h2 { display: inline-block; margin: 0px; padding: 0px 0px 15px; font-family: "Open Sans","HelveticaNeue-Thin","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,"open sans",arial,sans-serif; font-style: normal; font-weight: 300; font-size: 36px; letter-spacing: -1px; color: rgb(254, 109, 76); cursor: default; }
#maincontent { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding-bottom: 80px; min-width: 1000px; min-height: 400px; line-height: 1.6em; }
#footer { border-top: 1px solid rgb(238, 238, 238); padding: 50px 0px 40px; box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.024); }
#footer h5 { margin: 0px 0px 10px; text-shadow: 0px 1px 0px rgb(255, 255, 255); font-size: 14px; font-weight: bold; color: rgb(51, 51, 51); cursor: default; }
#footer a { font-size: 12px; line-height: 16px; color: rgb(102, 102, 102); }
#footer a:hover { color: rgb(0, 0, 0); }
#footer ul { margin: 0px; padding: 0px; }
#footer ul li { list-style: none outside none; background: none repeat scroll 0% 0% transparent; height: 24px; line-height: 16px; margin: 0px; padding: 2px 0px 0px; }
#footer .addthis_vertical_style { margin-top: 15px; }
#footer .addthis_vertical_style a { display: block; margin-bottom: 5px; }
#footer .copyright { font-size: 12px; text-align: center; color: rgb(153, 153, 153); }
#footer .copyright a { color: rgb(0, 0, 0); }
#footer a.athome { background: url('bg-logo-home.gif') no-repeat scroll 0px 0px transparent; display: block; width: 24px; height: 24px; line-height: 24px; margin: 25px auto; overflow: hidden; text-indent: -9999px; }
#footer a.athome:hover { background-position: 0px -24px; }
#footer .browser { margin-top: 15px; }
#footer .browser a { display: block; background: url('bg-extensions.png') no-repeat scroll 0% 0% transparent; padding-left: 21px; line-height: 16px; margin-bottom: 10px; }
#footer .browser a.ch { background-position: 0px 0px; }
#footer .browser a.sf { background-position: 0px -16px; }
#footer .browser a.ff { background-position: 0px -32px; }
#footer .browser a.ie { background-position: 0px -48px; }
#footer .browser a.bk { background-position: 0px -64px; }
.lgbtn { background: none repeat scroll 0% 0% rgb(237, 237, 237); border: 1px solid rgb(183, 183, 183); width: auto; padding: 8px 22px; line-height: 1em; color: rgb(0, 0, 0); border-radius: 4px 4px 4px 4px; text-shadow: 0px 1px 2px rgb(255, 255, 255); }
.lgbtn:hover { background: none repeat scroll 0% 0% rgb(223, 223, 223); text-decoration: none; border-color: rgb(175, 175, 175); color: rgb(0, 0, 0); cursor: pointer; }
.lgbtn:active { background: url('bkg-btn-grey.gif') repeat-x scroll 0px -70px rgb(212, 211, 211); outline: medium none; }
/* ::::: http://cache.addthiscdn.com/www/131011123969/style/common.css ::::: */

h2 { font-family: "HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue",Helvetica,"open sans",arial,sans-serif; font-size: 36px; font-style: normal; font-weight: 700; line-height: 1.2em; word-wrap: break-word; color: rgb(0, 0, 0); letter-spacing: -0.04em; }
h4 { font-family: "HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue",Helvetica,"open sans",arial,sans-serif; font-size: 16px; font-style: normal; font-weight: 700; line-height: 1.2em; margin-bottom: 10px; color: rgb(0, 0, 0); }
h5 { font-family: "HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue",Helvetica,"open sans",arial,sans-serif; font-size: 14px; font-style: normal; font-weight: 700; line-height: 1.2em; margin-bottom: 10px; color: rgb(0, 0, 0); }
strong, b { color: rgb(51, 51, 51); }
ul li { list-style-type: disc; }
blockquote { margin: 18px 0px 24px 24px; }
.blk { color: rgb(0, 0, 0) ! important; }
.bold { font-weight: bold ! important; }
.smalltext, small { font-size: 12px; }
.hide { display: none; }
.mb40 { margin-bottom: 40px ! important; }
.mb50 { margin-bottom: 50px ! important; }
ul.nav-stacked { margin: 0px 0px 0px -10px; padding: 0px; }
ul.nav-stacked li { list-style: none outside none; padding: 0px; margin: 0px 0px 2px; }
.nav-stacked li a { display: block; padding: 8px 10px; color: rgb(51, 51, 51); border-radius: 4px 4px 4px 4px; }
.nav-stacked li a:hover { background: none repeat scroll 0% 0% rgb(241, 241, 241); text-decoration: none; color: rgb(0, 0, 0); cursor: pointer; }
.nav-stacked li.nav-stacked-active a { background: none repeat scroll 0% 0% rgb(254, 109, 76); color: rgb(255, 255, 255); }
.dataTable tr:nth-child(2n+1) { background-color: rgb(255, 255, 255); }
.dataTable tr:nth-child(2n) { background-color: rgb(245, 250, 254); }
.skipNavLink { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
