/* ::::: https://p3-admin.greenpeace.org/international/Global/international/code/2013/protectparadise/css/588ff6a0-21d4-11e3-8224-0800200c9a67.css ::::: */

/* ::::: https://p3-admin.greenpeace.org/international/Global/international/code/2013/protectparadise/css/normalize.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
:focus { outline: 0px none; }
html { font-size: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
h2 { font-size: 1.5em; margin: 0.83em 0px; }
h3 { font-size: 1.17em; margin: 1em 0px; }
b, strong { font-weight: bold; }
dl, menu, ol, ul { margin: 1em 0px; }
menu, ol, ul { padding: 0px 0px 0px 40px; }
svg:not(:root) { overflow: hidden; }
form { margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="checkbox"], input[type="radio"] { padding: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: https://p3-admin.greenpeace.org/international/Global/international/code/2013/protectparadise/css/typography.css ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url('xjajxh38i15wypjxxugmbobn6udyhwbl620a-irfubk.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 800;
	src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url('prmixeptr36kac0geaetxkcde67gegbv_hnyvhtfdew.woff') format("woff");
}
body { font-size: 16px; line-height: normal; font-family: 'Open Sans',Helvetica,Arial,Verdana,sans-serif; color: rgb(204, 204, 204); }
a, a:visited { text-decoration: underline; color: rgb(255, 255, 255); }
a:hover, a:focus { text-decoration: underline; color: rgb(255, 107, 8); }
h1 { font-size: 1.875em; font-family: 'Open Sans',Helvetica,Arial,Verdana,sans-serif; margin: 0px; padding: 0px; line-height: 0.975em; height: 1em; font-style: italic; font-weight: 800; color: rgb(255, 255, 255); text-transform: uppercase; }
h2 { font-size: 1.375em; font-family: 'Open Sans',Helvetica,Arial,Verdana,sans-serif; font-style: italic; font-weight: 800; color: rgb(255, 255, 255); margin: 0px; line-height: 1.25em; }
h3 { font: bold 1em Arial,Helvetica,sans-serif; }
.footer { font-size: 0.75em; }
/* ::::: https://p3-admin.greenpeace.org/international/Global/international/code/2013/protectparadise/css/form.css ::::: */

*::-moz-selection { background: none repeat scroll 0% 0% rgb(179, 212, 252); text-shadow: none; }
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="tel"], textarea { font-family: 'Lato',Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); width: 17.5em; padding: 0.3em 0.5em; display: inline-block; margin: 0.2em 0px 0.5em; border-radius: 3px 3px 3px 3px; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1) inset; }
label { font-weight: bold; padding: 0.2em; }
.select label, .text label { display: none; }
textarea, input[type="password"], input[type="search"], input[type="email"], input[type="text"], input[type="tel"] { border-top: 1px solid rgb(204, 204, 204); }
textarea, input[type="password"]:hover, input[type="search"]:hover, input[type="email"]:hover, input[type="text"]:hover, input[type="tel"]:hover { border: 1px solid rgb(153, 153, 153); }
textarea:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="email"]:focus, input[type="text"]:focus, input[type="tel"]:focus { box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset; border: 1px solid rgb(102, 204, 0); }
textarea:disabled, input:disabled, input:disabled:hover, textarea:disabled:hover { border: 1px solid rgb(204, 204, 204); box-shadow: 0px 0px 0px 0px; background: none repeat scroll 0% 0% rgb(243, 243, 243); }
.required label:after { content: " *"; color: rgb(212, 0, 0); font-weight: bold; }
@media only screen and (min-width: 1024px) {
}
.checkboxlist label, .radiolist label { font-size: 1.25em; }
input[type="checkbox"] { display: inline; }
input[type="checkbox"] + label { font-weight: normal; display: inline; }
select, select:hover { width: 18.6em; padding: 0.4em 0.5em 0.3em 0.25em; margin: 0.2em 0px 0.5em; border-radius: 3px 3px 3px 3px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); color: rgb(51, 51, 51); }
.system.fields { display: none; }
:-moz-placeholder { color: rgb(0, 0, 0); }
*::-moz-placeholder { color: rgb(0, 0, 0); }
/* ::::: https://p3-admin.greenpeace.org/international/Global/international/code/2013/protectparadise/css/helpers.css ::::: */

.visuallyhidden { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
/* ::::: https://p3-admin.greenpeace.org/international/Global/international/code/2013/protectparadise/css/buttons.css ::::: */

.button, input[type="submit"], input.button, button, a.button { position: relative; font-family: Helvetica,Arial,Geneva,sans-serif; font-size: 100%; display: inline-block; vertical-align: baseline; margin: 0px; outline: medium none; cursor: pointer; text-align: center; text-decoration: none; padding: 0.3125em 0.625em; min-width: 6em; font-weight: bold; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); border-radius: 0.25em 0.25em 0.25em 0.25em; color: rgb(51, 51, 51); border: 1px solid rgb(204, 204, 204); background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(250, 250, 250), rgb(237, 237, 237)); width: 18.6em; }
.header .button.donate, .button.primary, input.primary[type="submit"], input.button.primary, button.pimary, a.button.primary { color: rgb(255, 255, 255); text-shadow: 0px 0px 2px rgb(154, 154, 154); background: linear-gradient(to bottom, rgb(249, 151, 19) 0%, rgb(229, 107, 43) 57%, rgb(229, 107, 43) 100%) repeat scroll 0% 0% transparent; border: 1px solid rgb(240, 104, 24); }
.submit { display: inline-block; }
.button:hover, input[type="submit"]:hover, input.button:hover, button:hover, a.button:hover, .button:focus, input[type="submit"]:focus, input.button:focus, button:focus, a.button:focus { text-decoration: none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
.button:active, input[type="submit"]:active, input.button:active, button:active, a.button:active { position: relative; top: 1px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset; }
/* ::::: https://p3-admin.greenpeace.org/international/Global/international/code/2013/protectparadise/css/action-template-tiger.css ::::: */

body { background: none repeat scroll 0% 0% rgb(0, 0, 0); }
.section { margin: auto; padding: 0px 5px; width: 310px; }
h1 span { overflow: hidden; display: block; }
h2 { width: 320px; clear: both; margin-bottom: 1em; }
#header-container1 { width: 100%; background: none repeat scroll 0% 0% rgb(0, 0, 0); height: 3em; }
#header-container1 .logo { margin-top: 1em; width: 131px; height: 21px; background: url('gp_logo_header.png') no-repeat scroll 0px 0px transparent; display: block; float: left; }
#header-container2 { background: none repeat scroll 0% 0% rgb(102, 204, 0); }
#header-container2 i.paw { background: url('tsw_logo_2.png') no-repeat scroll 45% 3px transparent; width: 310px; height: 200px; display: block; float: left; }
.submit, .submit-full { margin-top: 0.5em; }
#action-smallprints { font-size: 0.75em; margin: 1em 0px; }
#action-smallprints input { display: none; }
.footer { border-top: 0.5em solid rgb(255, 107, 8); margin-top: 3em; }
.footer ul { margin: 1em 0px; padding: 0px; }
.footer li { list-style-type: none; display: inline; margin-right: 1em; }
.footer a, .footer a:visited { text-decoration: none; }
.footer .logo { width: 107px; height: 18px; background: url('gp_logo_footer.png') no-repeat scroll 0px 0px transparent; display: block; float: left; }
.footer .copy { padding-left: 0.25em; display: block; float: left; }
@media only screen and (min-width: 1024px) {
	h1 { font-size: 2em; }
	#header-container1 { position: fixed; top: 0px; z-index: 1; border-bottom: 2px solid rgb(102, 204, 0); }
	#header-container2 { margin-top: 3em; z-index: 999; }
	#header-container2 h1 span { margin-left: 230px; }
	#header-container2 i.paw { position: absolute; margin-top: -80px; z-index: 999; width: 220px; }
	#header-container1 .logo { float: right; }
	.section { width: 960px; }
	.section-container { overflow: hidden; }
	.section-raster-container { background: url('raster.png') repeat scroll 0px 0px transparent; height: 900px; }
	#section-container1 .section-raster-container { height: 765px; }
	#section-container1 { background: url('bg_section_1.jpg') no-repeat fixed center 50px / cover  transparent; height: 730px; }
	#section-holder1 { float: right; width: 360px; }
	#action-form { width: 330px; padding: 1em; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); position: fixed; margin: 0.5em 0px 0px; }
	input[type="text"], input[type="email"], input[type="tel"] { width: 19.5em; }
	select, select:hover, input[type="submit"] { width: 20.6em; }
	.celebrities li:nth-child(n+4) { display: none; }
	.footer { margin-top: 0px; height: 4em; }
	.footer .logo-box { float: left; margin-top: 1em; }
	.footer ul { float: right; }
}
/* ::::: https://p3-admin.greenpeace.org/international/Global/international/code/2013/protectparadise/css/thankyou-template-tiger.css ::::: */

@media only screen and (min-width: 1024px) {
	#section-container1 { background: url('bg_thank_you_donate.jpg') no-repeat fixed center 50px / cover  transparent; }
	.section-raster-container { background: url('raster.png') repeat scroll 0px 0px transparent; height: 100%; }
	#section-container1 .section-raster-container { height: 100%; }
	#section-holder1 { margin-top: 3em; }
	#donate-form-tiger {  }
	#donate-form-tiger .amount { display: inline; }
	#donate-form-tiger .amount input[type="text"] { width: 3em; display: inline; }
	#donate-form-tiger .amount input[type="radio"] { width: 1.5em; }
	#donate-form-tiger .radiolist label { margin-right: 1em; }
	.radiolist { float: left; clear: both; margin: 0px 0px 0.5em; }
}
